<?php
	$_config = $this->helper('Sm\Paco\Helper\Data');
?>
<div class="footer-container">
	<?php if($_config->getAdvanced('show_gototop')){ ?>
		<a id="yt-totop" href="javascript:void(0)" title="Go to Top"></a>
		<script type="text/javascript">
			require([
				'jquery'
			], function ($) {
				$("#yt-totop").hide();
				$(function () {
					var wh = $(window).height();
					var whtml =  $(document).height();
					$(window).scroll(function () {
						if ($(this).scrollTop() > whtml/10) {
							$('#yt-totop').fadeIn();
						} else {
							$('#yt-totop').fadeOut();
						}
					});
					$('#yt-totop').click(function () {
						$('body,html').animate({
							scrollTop: 0
						}, 800);
						return false;
					});
				});				
			});
		</script>
		
	<?php } ?>
	<script type="text/javascript">
		require([
			'jquery',
			'owlcarousel'
		], function ($) {
				;
				(function (element) {
					var $element = $(element),
						$sm_imageslider = $('.sm-imageslider-content', $element);

					$(window).on('load', function () {
						setTimeout(function () {
							$('.sm-imageslider-loading', $element).remove();
							$element.removeClass('imgsl-preload');
							__runImageSlider();

						}, 800);

					});

					function __runImageSlider() {
						$sm_imageslider.owlCarousel({
							center: false,
							nav: true,
							loop: true,
							dots: true,
							dotsSpeed: 1000,
							merge:true,
							margin: 1,
							navText: ['', ''],
							slideBy: 1,
							autoplay: true,
							autoplayTimeout: 5000,
							autoplayHoverPause: true,
							autoplaySpeed: 800,
							startPosition: 0,
							navSpeed: 1000,
							mouseDrag: true,
							responsive: {
								0: {
									items:1								},
								768: {
									items:1								}
							},
							autoHeight: true,
							responsiveRefreshRate: 100,
							onInitialized: function (e) {
																$('.owl-nav', $element).insertBefore($('.owl-stage', $element));
															}
						});
					}

					function getHeightImage() {
												var _image = $('.item-image img', $element);
						if (_image.length <= 0)
							_image = $('.item-image', $element);
						var _max_item = null;
						if (_image.length) {
							var hf = 0;
							_image.each(function () {
								var h = $(this).height();
								if (h > hf) {
									hf = h;
									_max_item = $(this);
								}
							});
							$('.item-image img', $element).height(_max_item.height());
						}
											}

					$sm_imageslider.on('resized.owl.carousel refreshed.owl.carousel', function () {
						var _image = $('.item-image img', $element);
						if (_image.length) {
							_image.each(function () {
								$(this).removeAttr('style');
							});
						}
						getHeightImage();
					});
				})('#sm_imageslider_11259142471571213739');
			});
	</script>
	<div class="footer test">
		<div class="footer-top">
			<div class="container">
				<div class="ft-brand-block">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('brand-block')->toHtml(); ?>
				</div>
			</div>
			
		</div>
		
		<div class="footer-middle">
			<div class="container">
				<div class="row">
					<div>
						<div class="col-lg-3 col-md-3 col-sm-6 ft-contact-us">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ft-contact-us')->toHtml(); ?>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 ft-opening-time">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ft-opening-time')->toHtml(); ?>
						</div>						
						<div class="col-lg-3 col-md-3 col-sm-6 ft-follow-us">
							<?php echo $block->getLayout()->createBlock('Magento\Framework\View\Element\Template')->setTemplate('Magento_Theme::html/social.phtml')->toHtml(); ?>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 ft-newlester">
							<?php echo $block->getLayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('subscribe-footer.phtml')->toHtml(); ?>
						</div>
					</div>
				</div>
				<div class="row">
					<div>
						<div class="col-lg-3 col-md-3 col-sm-6 ft-my-account">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ft-my-account')->toHtml(); ?>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 ft-information">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ft-information')->toHtml(); ?>
						</div>						
						<div class="col-lg-3 col-md-3 col-sm-6 ft-other-pages">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ft-other-pages')->toHtml(); ?>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 ft-customer-service">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ft-customer-service')->toHtml(); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="footer-copyright-content">
					<div class="row">
						<div class="col-lg-12 col-md-12 intro-coppyright">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('intro-coppyright')->toHtml(); ?>
						</div>
					</div>				
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="payment-footer">
								<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment-footer')->toHtml(); ?>
							</div>
						</div>
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="copyright-footer">
								<?php if($_config->getAdvanced('custom_copyright')){ ?>
									<address><?php echo $_config->getAdvanced('copyright_content') ?></address>
								<?php } else {?>
									<address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
</div>
