<?php
/*------------------------------------------------------------------------
	# SM Countdown Product Slider - Version 2.0.1
	# Copyright (c) 2014 YouTech Company. All Rights Reserved.
	# @license - Copyrighted Commercial Software
	# Author: YouTech Company
	# Websites: http://www.magentech.com
   -------------------------------------------------------------------------*/
$helper = $this->_helper();
if (!empty($child_items)) {
    $j = 0;
    foreach ($child_items as $_product) {
        $j++; ?>
        <div class="cslider-item new-cslider-item item">
            <div class="item-inner">
			<?php if ($_product->_image) { ?>
				<div class="box-image">
					<a href="<?php echo $_product->link ?>"
					   title="<?php echo $_product->title; ?>"
						<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
						>
						<img src="<?php echo $_product->_image; ?>"
							 title="<?php echo $_product->title; ?>"
							 alt="<?php echo $_product->title; ?>" >
					</a>
					
					<!--LABEL PRODUCT-->

					<?php
						$specialprice = $_product->getSpecialPrice();
						$specialPriceFromDate = $_product->getSpecialFromDate();
						$specialPriceToDate = $_product->getSpecialToDate();
						
						$today = time();

						if ($specialprice) {
							if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
								<div class="label-product label-sale">
									<span class="sale-product-icon">
										<?php echo __('Sale'); ?>
									</span>
								</div>
							<?php }
						}
					?>
					
					<?php
					$now = date("Y-m-d");
					$newsFrom = substr($_product->getNewsFromDate(), 0, 10);
					$newsTo = substr($_product->getNewsToDate(), 0, 10);
					
					if ($newsTo != '' || $newsFrom != '') {
						if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
								<div class="label-product label-new">
									<span class="new-product-icon"><?php echo __('New'); ?></span>
								</div>
						<?php }
					} ?>
					
					<!--END LABEL PRODUCT-->	

					<?php if ((int)$this->_getConfig('product_addcart_display', 1) ||(int)$this->_getConfig('product_addwishlist_display', 1) || (int)$this->_getConfig('product_addcompare_display', 1)) { ?>
					<div class="bottom-action-out-wrap">
						<div class="bottom-action-out">
							<div class="bottom-action">
								<a style="display: none;" href="<?php echo $_product->link; ?>">&nbsp;</a>
								<?php if ((int)$this->_getConfig('product_addcart_display', 1)) { ?>
									<?php if ($_product->isSaleable()){ ?>
										<?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)){ ?>
											<button class="btn-action btn-cart" data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_product) ?>"}}' type="button" title="<?php  echo __('Add to Cart') ?>">
												<span><?php  echo __('Add to Cart') ?></span>
											</button>
										<?php } else { ?>
											<?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
											$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
											?>
											<button class="btn-action btn-cart"
													data-post='<?php echo $postData; ?>'
													type="button" title="<?php  echo __('Add to Cart') ?>">
												<span><?php echo __('Add to Cart') ?></span>
											</button>
										<?php } ?>
									<?php } else { ?>
										<?php if ($_product->getIsSalable()){ ?>
											<div class="btn-action btn-cart stock available"><span><?php  echo __('In stock') ?></span></div>
										<?php } else { ?>
											<div class="btn-action btn-cart stock unavailable"><span><?php  echo __('Out of stock') ?></span></div>
										<?php } ?>
									<?php } ?>
								<?php } ?>

								<?php if ((int)$this->_getConfig('product_addwishlist_display', 1) || (int)$this->_getConfig('product_addcompare_display', 1)) { ?>
									
									<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && (int)$this->_getConfig('product_addwishlist_display', 1) ){ ?>
										<a href="#" data-post='<?php  echo $block->getAddToWishlistParams($_product); ?>'  class="action towishlist btn-action link-wishlist" data-action="add-to-wishlist" title="<?php  echo __('Add to Wish List') ?>">
											<span><?php  echo __('Add to Wish List') ?></span>
										</a>
									<?php } ?>								
									<?php if ($block->getAddToCompareUrl() &&  (int)$this->_getConfig('product_addcompare_display', 1)){ ?>
										<?php
										$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
										?>
										<a href="#" class="action tocompare btn-action link-compare"
										   data-post='<?php  echo $compareHelper->getPostDataParams($_product);?>'
										   data-role="action tocompare btn-action link-compare"
										   title="<?php  echo __('Add to Compare'); ?>">
											<span><?php  echo __('Add to Compare') ?></span>
										</a>
									<?php }; ?>

								<?php } ?>
							</div>
						</div>
					</div>
					<?php } ?>				
					
				</div>
			<?php }?>

			<!-- Begin cdps-content -->
			<?php  ?>
			<div class="box-info">

				<?php if ((int)$this->_getConfig('product_title_display', 1)) { ?>
					<h2 class="product-name">
						<a href="<?php echo $_product->link; ?>" title="<?php echo $_product->title; ?>"
							<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
							>
							<?php echo $helper->truncate($_product->title, $this->_getConfig('product_title_maxlength')); ?>
						</a>
					</h2>
				<?php } ?>
				
				<?php if ((int)$this->_getConfig('product_description_display', 1) && $helper->_trimEncode($_product->_description) != '') { ?>
					<div class="cdps-description">
						<?php echo $_product->_description; ?>
					</div>
				<?php } ?>
			
					
				<?php if ($this->_getConfig('product_source') != 'media') { ?>
					<?php if ((int)$this->_getConfig('product_reviews_count', 1)) { ?>
						<div class="cdps-review">
							<?php 
								$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
								echo $block->getReviewsSummaryHtml($_product,$templateType); 
							?>
						</div>
					<?php } ?>

					<?php if ((int)$this->_getConfig('product_price_display', 1)) { ?>
						<div class="price-box">
							<div class="sale-price">
								  <?php echo $this->getProductPrice($_product); ?>
							</div>
						</div>
					<?php } ?>

				<?php } ?>

				<?php if ($this->_getConfig('product_readmore_display') == 1) { ?>
					<div class="cdps-detail">
						<a href="<?php echo $_product->link ?>"
						   title="<?php echo $_product->title; ?>"
							<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
							>
							<?php echo $this->_getConfig('product_readmore_text', 'Details'); ?>
						</a>
					</div>
				<?php } ?>
            </div>
        </div>
	</div>
        <?php $clear = 'clr1';
        if ($j % 2 == 0) $clear .= ' clr2';
        if ($j % 3 == 0) $clear .= ' clr3';
        if ($j % 4 == 0) $clear .= ' clr4';
        if ($j % 5 == 0) $clear .= ' clr5';
        if ($j % 6 == 0) $clear .= ' clr6';
        ?>
        <?php if( $this->_getConfig('show_loadmore_slider') == 'loadmore'){ ?>
            <div class="<?php echo $clear; ?>"></div>
        <?php } ?>
    <?php
    }
}?>