<?php
/*------------------------------------------------------------------------
 # SM Countdown Product Slider - Version 2.0.1
 # Copyright (c) 2014 YouTech Company. All Rights Reserved.
 # @license - Copyrighted Commercial Software
 # Author: YouTech Company
 # Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

$child_items = $this->_getSelectSource();
$helper = $this->_helper();
if (!empty($child_items)) {
	$class_cslider = '';
	$module_id = $this->_moduleID();
	$tag_id = 'sm_coundownproduct_slider_' . rand() . time();	
	//effect
	$nav = $this->_getConfig('nav') == 1?'true':'false';
	$loop = $this->_getConfig('loop') == 1?'true':'false';
	$slideBy = (int)$this->_getConfig('slideBy') > 0 ? $this->_getConfig('slideBy') : 1;
	$autoplay = $this->_getConfig('autoplay') == 1?'true':'false';
	$autoplayHoverPause = $this->_getConfig('autoplayHoverPause') == 1?'true':'false';
	$autoplayTimeout = $this->_getConfig('autoplayTimeout') >= 0 ? $this->_getConfig('autoplayTimeout') : 5000;	
	$autoplaySpeed = $this->_getConfig('autoplaySpeed') >= 0 ? $this->_getConfig('autoplaySpeed') : 5000;
	$navSpeed = $this->_getConfig('navSpeed') >= 0 ? $this->_getConfig('navSpeed') : 5000;
	$startPosition = $this->_getConfig('startPosition') > 0 ? $this->_getConfig('startPosition') : 1;
	$mouseDrag = $this->_getConfig('mouseDrag') == 1?'true':'false';
	$touchDrag = $this->_getConfig('touchDrag') == 1?'true':'false';
	
	$effect = $this->_getConfig('effect', '');
	$duration = $this->_getConfig('duration') >= 0 ? $this->_getConfig('duration') : 300;
	$delay = $this->_getConfig('delay') >= 0 ? $this->_getConfig('delay') : 600;
	$margin = (int)$this->_getConfig('margin') >= 0 ? $this->_getConfig('margin') : 5;
	
	$nb_column1 = $this->_getConfig('nb_column1', 4);
	$nb_column2 = $this->_getConfig('nb_column2', 3);
	$nb_column3 = $this->_getConfig('nb_column3', 2);
	$nb_column4 = $this->_getConfig('nb_column4', 1);
	$nb_column5 = $this->_getConfig('nb_column5', 1);
	$class_suffix = $this->_getConfig('class_suffix', '');
	
	$date_from = $this->_getConfig('date_from', '');
	?>
	<!--[if gt IE 9]><!-->
	
	<div id="<?php echo $tag_id; ?>" class="sm-countdownproduct-slider first-load <?php echo $class_suffix; ?>"><!--<![endif]-->
		<div class="smcountdownproductslider-heading clearfix">
			<?php if ($this->_getConfig('display_title')) : ?>
				<div class="title-home">
					<h2><?php echo $this->_getConfig('title', 'Sm Countdown Product Slider'); ?></h2>
				</div>
			<?php endif; ?>
		
			<?php if ($this->_getConfig('pretext')) { ?>
				<div class="cdps-pretext">
					<?php echo $this->_getConfig('pretext'); ?>
				</div>
			<?php } ?>			
			
			<?php if ($date_from): ?>
				<div class="smcountdownproductslider-time">
					<label><?php echo __('End in'); ?></label><div class="cslider-item-timer" data-timer="<?php echo date("Y/m/d", strtotime($date_from)); ?>"></div>
				</div>
			<?php endif; ?>
		</div>		

				
		<div class="cslider-wrap ">
		<?php 
			$cls_animate = $this->_getConfig('effect');
		?>
			<div class="products-grid cslider-items-container <?php 
				echo $cls_animate; ?>"><!--Begin Items-->
				<?php if (!empty($child_items)) {
					//include('default_items.phtml');
				} else {
					?>
					<div class="cslider-loading"></div>
				<?php } ?>
			</div>
			<!--End Items-->
		</div>
	
	   <?php if ($this->_getConfig('posttext')) { ?>
			<div class="cdps-posttext">
				<a href="<?php echo $this->_getConfig('posttext'); ?>"><?php echo __('Explore now'); ?></a>
			</div>
		<?php } ?>		
	</div>


	<script type="text/javascript">
		require([
			'jquery',
			'owlcarousel'
		], function ($) {
			;(function (element) {
				var $element = $(element),
					$countdownproductslider = $('.cslider-items-container',$element),
					_delay = '<?php echo $delay; ?>',
					_duration = '<?php echo $duration; ?>',
					_effect = '<?php echo $effect; ?>';	

					$countdownproductslider.on("initialized.owl.carousel", function () {
						var $item_active = $(".cslider-item.active", $element);
						if ($item_active.length > 1 && _effect != "none") {
							_getAnimate($item_active);
						}
						else {
							var $item = $(".cslider-item", $element);
							$item.css("opacity", "1");
							$item.css("filter", "alpha(opacity = 100)");
						}
					});

					$countdownproductslider.owlCarousel({
					nav: <?php echo $nav; ?>,
					loop: <?php echo $loop; ?>,
					margin: <?php echo $margin; ?>,
					slideBy: <?php echo $slideBy; ?>,
					autoplay: <?php echo $autoplay; ?>,
					autoplayHoverPause: <?php echo $autoplayHoverPause; ?>,
					autoplayTimeout: <?php echo $autoplayTimeout; ?>,
					autoplaySpeed: <?php echo $autoplaySpeed; ?>,
					navSpeed: <?php echo $navSpeed; ?>,
					startPosition: <?php echo $startPosition; ?>,
					mouseDrag:<?php echo $mouseDrag; ?>,
					touchDrag:<?php echo $touchDrag; ?>,
					//dotClass: "cslider-dot",
					//dotsClass: "cslider-dots",
					//themeClass: 'cslider-theme',
					//baseClass: 'cslider-carousel',
					//itemClass: 'cslider-item',					
					dots: false,
					autoWidth: false,
					navClass: ['owl-prev', 'owl-next'],
					navText: ['&#139;', '&#155;'],
					responsive: {
						0: {
							items:<?php echo $nb_column5;?>
						},
						480: {
							items:<?php echo $nb_column4;?>
						},
						768: {
							items:<?php echo $nb_column3;?>
						},
						991: {
							items:<?php echo $nb_column2;?>
						},						
						1200: {
							items:<?php echo $nb_column1;?>
						}
					}
					});

					$countdownproductslider.on("translate.owl.carousel", function (e) {
						var $item_active = $(".owl-item.active", $element);
						_UngetAnimate($item_active);
						_getAnimate($item_active);
					});

					$countdownproductslider.on("translated.owl.carousel", function (e) {
						var $item_active = $(".owl-item.active", $element);
						var $item = $(".owl-item", $element);
						
						_UngetAnimate($item);

						if ($item_active.length > 1 && _effect != "none") {
							_getAnimate($item_active);
						} else {
							$item.css("opacity", "1");
							$item.css("filter", "alpha(opacity = 100)");
						}
					});

					function _getAnimate($el) {
						if (_effect == "none") return;
						$countdownproductslider.removeClass("extra-animate");
						$el.each(function (i) {
							var $_el = $(this);
							$(this).css({
								"-webkit-animation": _effect + " " + _duration + "ms ease both",
								"-moz-animation": _effect + " " + _duration + "ms ease both",
								"-o-animation": _effect + " " + _duration + "ms ease both",
								"animation": _effect + " " + _duration + "ms ease both",
								"-webkit-animation-delay": +i * _delay + "ms",
								"-moz-animation-delay": +i * _delay + "ms",
								"-o-animation-delay": +i * _delay + "ms",
								"animation-delay": +i * _delay + "ms",
								"opacity": 1
							}).animate({
								opacity: 1
							});

							if (i == $el.size() - 1) {
								$countdownproductslider.addClass("extra-animate");
							}
						});
					}

					function _UngetAnimate($el) {
						$el.each(function (i) {
							$(this).css({
								"animation": "",
								"-webkit-animation": "",
								"-moz-animation": "",
								"-o-animation": "",
								"opacity": 1
							});
						});
					}
					
					data = new Date(2013,10,26,12,00,00);

					function CountDown(date,$el){
						dateNow = new Date();
						amount = date.getTime() - dateNow.getTime();
						delete dateNow;
						if(amount < 0){
							$el.html("Now!");
						} else{
							days=0;hours=0;mins=0;secs=0;out="";
							amount = Math.floor(amount/1000);
							days=Math.floor(amount/86400);
							amount=amount%86400;
							hours=Math.floor(amount/3600);
							amount=amount%3600;
							mins=Math.floor(amount/60);
							amount=amount%60;
							secs=Math.floor(amount);
							if(days != 0){out += "<div class='deals-time time-day'><div class='num-time'>" + ((days<100)?"0":"") + ((days<10)?"0":"") + days +"</div><div class='title-time'>"+((days==1)?"Day":"Days")+"</div></div>";}
							if(hours != 0){out += "<div class='deals-time time-hours'><div class='num-time'>"+ ((hours<10)?"0":"") + hours +"</div><div class='title-time'>"+((hours==1)?"Hour":"Hours")+"</div></div>";}
							out += "<div class='deals-time time-mins'><div class='num-time'>" + ((mins<10)?"0":"") + mins +"</div><div class='title-time'>"+((mins==1)?"Min":"Mins")+"</div></div>";
							out += "<div class='deals-time time-secs'><div class='num-time'>" + ((secs<10)?"0":"") + secs +"</div><div class='title-time'>"+((secs==1)?"Sec":"Secs")+"</div></div>";
							out = out.substr(0,out.length-2);
							$el.html(out);
							setTimeout(function(){CountDown(date,$el)}, 1000);
						}
					}		

					$( ".cslider-item-timer",$element).each(function() {
						var timer = $(this).data('timer');
						var data = new Date(timer);
						CountDown(data,$(this));
					});			

				})("#<?php echo $tag_id; ?>");
			});			
	
	</script>
<?php
} else {
	echo 'Has no item to show!';
} ?>



