.deal-wrapper-index2 {
	.deals-preload.boxed {
	}
	.deals-pretext {
		margin: 15px 0 30px;
	}	
	.owl-carousel .owl-stage-outer {
	}
	.owl-theme .owl-nav > div {
		height: 32px;
		width: 32px;
		position: absolute;
		top: 31%;
		background: none;

		&:before {
            color: #8f9090;
            font-size: 30px;
            height: 32px;
            line-height: 32px;
            width: 32px;
            font-weight: normal;
		}
		&.owl-prev {
			left: 5px;
		}		
		&.owl-next {
			right: 5px;
		}
		&:hover {
			&:before {
				color: @color_theme;
			}
			background: none;
		}
	}
	.products-grid .item .item-inner {
		margin-top: 19px;
		.box-image:hover {
			.bottom-action-out-wrap {
				right: 50%;
			}
			.bottom-action-out-wrap .bottom-action-out {
				right: 50%;
				padding-left: 23px;
			}

		}
		.box-info {
			padding: 0;
			border: 1px solid @border-color;
			margin-top: -7px;
			.rating-box {
				margin-top: 27px;
			}			
			.deals-detail {
				margin: 31px 0 33px;
				a {
					background: @color_theme;
					color: #fff;
					font-size: 12px;
					text-transform: uppercase;
					width: 150px;
					height: 50px;
					display: inline-block;
					line-height: 50px;
					padding: 0;
                    font-weight: bold;
					&:hover {
						background: @color_theme_active;
					}
				}
			}
		}		
	}
	.deals-countdown {
		width: 100%;
		background: #585857;
		height: auto;
		display: inline-block;
		text-align: center;
		color: #fff;
		line-height: 130%;
		padding: 23px 0;
		bottom: 0;
		.deals-time {
			float: left;
			width: 25%;
			border: 0;
			padding: 0;
			margin: 0;
			&:after {
				display: none;
			}
			> div {
				display: inline-block;
				width: 100%;
				&.num-time {
					font-size: 214.29%;
					margin-top: 5px;
					margin-bottom: 15px;
					font-weight: bold;
				}
				&.title-time {
					font-size: 85.71%;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
	}
	
}
.deals-pretext {
    text-align: center;
    font-size: 114.29%;
}
.deals_title_text {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.sm-deals {
	overflow: hidden;
}

.sm-deals .deals-items {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.sm-deals .deals-items .deals-item {
	float: left;
	overflow: hidden;
	/*padding-left: 30px;*/
	margin-bottom:30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sm-deals .deals-items .deals-item .deals-item-inner {
	padding: 10px;
	overflow: hidden;
	border: 1px solid transparent;
}

.sm-deals .deals-items .deals-item .deals-item-inner:hover {
	border: 1px solid #bbb;
	box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.3);
	position: relative;
	z-index: 2;
	background: #fff;
}

.sm-deals .towishlist:before
{
	content: '\e600';
}

.sm-deals .tocompare:before
{
	content: '\e61e';
}

.sm-deals .deals-items .deals-item .deals-image {
	max-width: 100%;
	margin: 0;
	padding-bottom: 10px;
}

.sm-deals .deals-items .deals-item .deals-image img {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.sm-deals .deals-items .deals-item .deals-detail {
	text-align: right;
}

.sm-deals .deals-title {
	margin: 5px 0;
}

.sm-deals .price-box .price
{
}

.sm-deals .old-price  .price
{
}

.sm-deals .deals-description {
	margin: 5px 0;
	line-height: 18px;
	word-wrap: break-word;
}

.sm-deals .deals-review {
	margin: 5px 0;
}

.sm-deals .deals-price {
	margin: 10px 0;
}

.sm-deals .deals-review .ratings {
	margin: 0;
}

.sm-deals .deals-review .rating-box {
	margin-right: 5px;
}

.sm-deals .deals-review .rating-links {
	padding-top: 1px;
}

.sm-deals .product-item-actions
{
	margin: 10px 0;
}

.sm-deals .deals-detail
{
	margin: 5px 0;
}

.sm-deals .deals-btn-addtocart {
	margin-bottom: 10px;
}

.sm-deals .add-to-links {
	margin: 0;
}

.sm-deals .deals-items .deals-image:hover {
	opacity: 0.7;
}

.sm-deals .deals-countdown
{

}

.sm-deals .deals-time
{

}

.sm-deals .num-time
{

}

.sm-deals .title-time
{

}

/*CSS Responsive*/
@media all and (max-width: 467px) {
	.sm-deals .deals-resp05-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp05-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp05-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp05-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp05-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp05-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp05-1 .clr1,
	.sm-deals .deals-resp05-2 .clr2,
	.sm-deals .deals-resp05-3 .clr3,
	.sm-deals .deals-resp05-4 .clr4,
	.sm-deals .deals-resp05-5 .clr5,
	.sm-deals .deals-resp05-6 .clr6 {
		clear: both;
	}

	.sm-deals .product-item-actions
	{
		display: block;
	}

	.sm-deals .product-item-actions .actions-primary
	{
		display: table-cell;
	}

	.sm-deals .product-item-actions .actions-primary + .actions-secondary
	{
		display: table-cell;
		padding-left: 10px;
		width: 50%;
	}

	.sm-deals .product-item-actions .actions-primary + .actions-secondary > .action {
		margin-right: 10px;
	}
}

@media all and (min-width: 468px) and (max-width: 767px) {
	.sm-deals .deals-resp04-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp04-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp04-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp04-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp04-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp04-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp04-1 .clr1,
	.sm-deals .deals-resp04-2 .clr2,
	.sm-deals .deals-resp04-3 .clr3,
	.sm-deals .deals-resp04-4 .clr4,
	.sm-deals .deals-resp04-5 .clr5,
	.sm-deals .deals-resp04-6 .clr6 {
		clear: both;
	}

	.sm-deals .product-item-actions
	{
		display: block;
	}

	.sm-deals .product-item-actions .actions-primary
	{
		display: table-cell;
	}

	.sm-deals .product-item-actions .actions-primary + .actions-secondary
	{
		display: table-cell;
		padding-left: 10px;
		width: 50%;
	}

	.sm-deals .product-item-actions .actions-primary + .actions-secondary > .action {
		margin-right: 10px;
	}
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.sm-deals .deals-resp03-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp03-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp03-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp03-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp03-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp03-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp03-1 .clr1,
	.sm-deals .deals-resp03-2 .clr2,
	.sm-deals .deals-resp03-3 .clr3,
	.sm-deals .deals-resp03-4 .clr4,
	.sm-deals .deals-resp03-5 .clr5,
	.sm-deals .deals-resp03-6 .clr6 {
		clear: both;
	}
}

@media all and (min-width: 992px) and (max-width: 1199px) {
	.sm-deals .deals-resp02-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp02-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp02-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp02-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp02-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp02-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp02-1 .clr1,
	.sm-deals .deals-resp02-2 .clr2,
	.sm-deals .deals-resp02-3 .clr3,
	.sm-deals .deals-resp02-4 .clr4,
	.sm-deals .deals-resp02-5 .clr5,
	.sm-deals .deals-resp02-6 .clr6 {
		clear: both;
	}
}

@media all and (min-width: 1200px) {
	.sm-deals .deals-resp01-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp01-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp01-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp01-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp01-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp01-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp01-1 .clr1,
	.sm-deals .deals-resp01-2 .clr2,
	.sm-deals .deals-resp01-3 .clr3,
	.sm-deals .deals-resp01-4 .clr4,
	.sm-deals .deals-resp01-5 .clr5,
	.sm-deals .deals-resp01-6 .clr6 {
		clear: both;
	}
}

.sm-deals .owl-nav > div {
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	margin: 0 2px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #bdc0c1;
	top: 50%;
	z-index: 1;
	&:before {
		display: inline-block;
		text-indent: 0;
		width: 40px;
		height: 40px;
		position: absolute;
		left: 0;
		top: 0;
		color: #fff;
		font-size: 18px;
		line-height: 40px;
		font-weight: bold;
		text-align: center;
		font-family: fontawesome;	
	}
	&.owl-prev {
		left: -2px;
		&:before {
			content: "\f104";
		}
	}
	&.owl-next {
		right: -2px;
		&:before {
			content: "\f105";
		}
	}
	&:hover {
	    background: #262e31;
		cursor: pointer;
	}
}


.sm-deals.boxed {
	padding: 0;
}



.sm-deals .owl-theme .owl-controls {
	margin-top: 20px;
	text-align: center;
	position: relative;
	display: none;
}

.sm-deals-loading {
	width: 100%;
	max-width: 100%;
	padding: 0;
	position: relative;
	background: url(../images/loading.gif) center center no-repeat transparent;
	min-height: 200px;
}

/*.deals-preload {*/
	/*min-height: 200px;*/
	/*overflow: hidden;*/
	/*height: 200px;*/
/*}*/

.sm-deals .owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background: none repeat scroll 0 0 #d6d6d6;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
}

.sm-deals .owl-controls .owl-dot,
.sm-deals .owl-controls .owl-nav .owl-next,
.sm-deals .owl-controls .owl-nav .owl-prev {
	-moz-user-select: none;
	cursor: pointer;
}

.sm-deals .owl-theme .owl-dots .owl-dot {
	display: inline-block;
}

.sm-deals .owl-theme .owl-dots .owl-dot.active span,
.sm-deals .owl-theme .owl-dots .owl-dot:hover span {
	background: none repeat scroll 0 0 #55E415;
}

.sm-deals .owl-theme .owl-dots .owl-dot span {
	background: none repeat scroll 0 0 #d6d6d6;
	border-radius: 30px;
	display: block;
	height: 10px;
	margin: 5px 7px;
	transition: opacity 200ms ease 0s;
	width: 10px;
}