@media (min-width: 991px) {
	// Layout 2
	.cms-home-style-2 {
		.header-style-1 .header-middle .container1 {
			border-right-color: transparent;
			&:after {
				content: "";
				position: absolute;
				width: 1px;
				height: 23px;
				background: @border-color;
				top: 29px;
				right: -1px;
			}
		}
		.header-style-1 .header-middle .top-action .minicart-header {
			position: relative;
			border-color: transparent;
			&:after {
				content: "";
				position: absolute;
				width: 1px;
				height: 23px;
				background: @border-color;
				top: 29px;
				right: -1px;
			}			
		}
		.header-style-1 .header-middle .top-action .account-header,
		.header-style-1 .header-middle .top-action .wish-header {
			border-right-color: transparent;
			&:after {
				content: "";
				position: absolute;
				width: 1px;
				height: 23px;
				background: @border-color;
				top: 29px;
				right: -1px;
			}			
		}
	}
}
@media (min-width: 1200px) {
	.header-style-1 {
		.sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu {
          text-align: right;
          padding-left: 0;
          float: right;
          margin-right: 65px;
		}
	}
}
.cms-index-index .header-style-1 {
	.header-bottom {
		border-bottom: none;
		padding-bottom: 0;
	}
	.header-middle .menu-under .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li:first-child,
	.navigation > .ui-menu > li:first-child {
		> a {
			color: @color_theme;
		}			
	}
}

.header-style-1{
	&.header-container .cart-wrapper .block-minicart{
		top: 0;
	}
	
	.navigation > .ui-menu > li {
		> a {
			color: #1c1c1c;
		}	
		&:hover {
			> a {
				color: @color_theme;
			}			
		}
	}

	.header-top{
		background: #252525;
		position: relative;
		z-index: 120;
		color: #8d8d8d;
		height: 40px;
		.topleft-content{
			line-height: 39px;
			font-size: 85.71%;
            font-weight: 500;
			a{
				color: #e74c3c;
				font-weight: 500px;

				&:hover{
				  text-decoration: underline;
				  cursor: pointer;
				}
			}
		}	
		.top-social {
			float: right;
			li {
				display: inline-block;
				line-height: 40px;
				margin: 0 5px;
				a {
					font-size: 12px;
					color: #8d8d8d;
					.name-social {
						display: none;
					}
					&:hover {
						color: @color_theme;
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}		
	}
	

	.header-middle{
		position: relative;
		background: #fff;
		z-index: 100;
		border-top: 1px solid @border-color;
		border-bottom: 1px solid @border-color;
		.logo-wrapper {
			position: absolute;
			top: 12px;
			z-index: 9;
			color: #fff;
			margin-left: 8px;
			h1.logo {
				margin-bottom: 15px;
			}
			.logo img {
			}
			.text-solution {
				font-weight: 300;
				margin-top: -18px;
			}
		}
		&.menu-ontop {
			.logo-wrapper {
				top: 6px;
			}
			.sambar {
				top: 9px;
			}			
		}
		.menu-under {
			position: relative;
			.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li {
				> a {
					.transition(.3s);
				}			
				&:last-child {
					> a {
						padding-right: 0;
					}			
				}
				&:hover {
					> a {
						color: @color_theme;
					}							
				}
			}
		}

		.container1 {
			position: relative;
			margin-right: 164px;
			border-right: 1px solid @border-color;
			min-height: 78px;
			.search-header-bottom {
				position: absolute;
				right: 0;
				top: 0;
				width: 70px;
				height: 66px;
				&:before {
					.font-awesome (f002, 14px);
					position: absolute;
					right: 30px;
					top: 33px;
					color: #242626;
					cursor: pointer;
				}
				.search-header-content {
					display: none;
					position: absolute;
					top: 56px;
					width: 376px;
					right: 30px;
					.search-form-action {
						position: relative;
						input#search {
							color: #8f8f8f;
							line-height: 40px;
							height: 40px;
							border: 1px solid #e5e5e5;
							right: 2px;
							
							background: #fff;
							padding-left: 20px;
						}	
						.nested {
							display: none;
						}	
						.actions {
							position: absolute;
							right: 0;
							top: 0;
							width: 40px;
							height: 40px;
							button.action.search {
								height: 40px;
								float: right;
								width: 40px;
								position: absolute;
								right: 0;
								padding: 0 15px;
								background: none;
								z-index: 1;		
								&:before {
									.font-awesome (f002, 14px);
									text-align: center;
									color: #494949;
								}
								span {
									display: none;
								}							
								&:hover {
									background: none;
									&:before {
										color: @color_theme;
									}								
								}							
							}
							&:hover {
								button.action.search {
									&:before {
										color: @color_theme;
									}	
								}							
							}						
						}						
					}
				}
				&:hover {
					&:before {
						color: @color_theme;
					}
					.search-header-content {
						display: block;
					}
				}
			}
		}	

		.top-action {
			position: absolute;
			right: 0;
			top: 0;
			width: 162px;
			.minicart-header {
				float: left;
				width: 54px;
				border-right: 1px solid @border-color;
				.minicart-wrapper {
					height: 78px;
				}
				.showcart {
					.text,
					.counter {
						display: none;
					}
					width: 54px;
					height: 78px;
					&:before {
						.font-awesome (f07a, 14px);
						color: #252726;
						background: none;
						width: 54px;
						height: 78px;
						line-height: 75px;
						cursor: pointer;
					}
					&:hover {
						&:before {
							color: @color_theme;
						}					
					}
				}
				.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog {
					display: none !important;
					position: absolute;
					right: 0;
					top: 75px;
				}
				&:hover {
					.showcart:before {
						color: @color_theme;
					}
					.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog {
						display: block !important;
					}					
				}

			}
			.wish-header {
				float: left;
				border-right: 1px solid @border-color;
				width: 54px;
				height: 78px;
				position: relative;
				&:before {
					.font-awesome (f004, 14px);
					content: '\f004';
					width: 54px;
					line-height: 82px;
					text-align: center;
					font-size: 14px;
					color: #242625;
					cursor: pointer;
				}
				.toplinks-wrapper ul li {
					display: none;
					&.link.wishlist {
						position: absolute;
						width: 250px;
						height: 40px;
						background: @color_theme;
						right: 0;
						text-align: center;
						line-height: 40px;
						bottom: -41px;
						right: -17px;
						a {
							color: #fff;
							
						}
					}
				}
				&:hover {
					&:before {
						color: @color_theme;
					}
					.toplinks-wrapper ul li.link.wishlist {
						display: block;
					}
				}
			}	
			.account-header {
				position: relative;
				border-right: 1px solid @border-color;
				width: 54px;
				height: 78px;
				float: left;
				&:before {
					.font-awesome (f007, 14px);
					width: 54px;
					line-height: 81px;
					text-align: center;
					font-size: 14px;
					color: #242625;
					cursor: pointer;
				}				
				.account-content {
					position: absolute;
					width: 156px;
					right: 0;
					top: 79px;
					box-shadow: 3px 4px 2px 0px rgba(0, 0, 0, 0.2);
					-webkitbox-shadow: 3px 4px 2px 0px rgba(0, 0, 0, 0.2);
					background: #fff;
					display: none;
					.dropdown-list {
						padding: 13px 30px 10px;
						border-bottom: 1px solid @border-color;					
						li {
							padding: 4px 0;
							a {
								color: inherit;
								&:hover {
									color: @color_theme;
								}
							}
						}
						.myaccount-link {
						  &:before{
							.font-awesome(f007,13px);
							margin-right: 8px;
						  }					
						}

						.top-link-checkout{
							&:before{
							  .font-awesome(f046,13px);
							  margin-right: 8px;
							  width: 10px;
							}
						}

						.my-wishlist{
							&:before{
							  .font-awesome(f08a,13px);
							  margin-right: 8px;
							  width: 10px;
							}
						}
						.mobile-login,
						.popup-login {
							&:before{
							  .font-awesome(f13e,13px);
							  margin-right: 8px;
							  width: 10px;
							}		
						}
						.mn-logout {
							a:before {
								.font-awesome(f023,13px);
								margin-right: 8px;
								width: 10px;		
							}		
						}					
					}
					
					.currency-wrapper,
					.language-wrapper {
						display: inline-block;
						width: 100%;
						border-right: 0;
						border-bottom: 1px solid @border-color;
						padding: 8px 30px 0;
						.switcher-options {
							width: 100%;
							.action.toggle {
								color: @color_theme;
								padding: 8px 0;
								line-height: 100%;
								float: left;
								width: 100%;
								&:before {
									display: none;
								}
							}
							.mage-dropdown-dialog {
								display: inline-block !important;
								position: static;
								right: auto !important;
								left: 0 !important;
								box-shadow: none;
								border: none;
								padding: 0;
								min-width: 0;
								ul li {
									padding: 7px 0;
									line-height: 100%;
									float: left;
									width: 100%;
									a {
										color: inherit;
										&:hover {
											color: @color_theme;
										}
									}
								}
							}
						}
					}	

				}
				&:hover {
					&:before {
						color: @color_theme;
					}
					.account-content {
						display: block;
                        .switcher .switcher-options {
                            display: inline-block;
                        }
					}				
				}
			}			
		}		

	}	
	
}