// RESPONSIVE
@media (max-width: 1279px) {
  .header-toogle-top {
    display: none;
  }
}

@media (max-width: 1199px) {
  .page-header {
    display: inherit;
  }
  .header-container {
    // Mega menu
    .sm_megamenu_wrapper_horizontal_menu .sambar-inner {
      max-width: 800px;

      ul.sm_megamenu_menu {
      }
    }
    .sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu {

      > li {
		padding: 7px 0 0;
        > a {
          font-size: 86.23%;
          padding: 0 7px !important;
        }
        > div {
          left: 0 !important;
          font-size: 74.29%;
          max-width: 939px;
        }
        &:last-child > a {
          padding-right: 0;
        }
      }
    }
    // End Mega menu

    // CSS menu
    .navigation {
      margin-left: 240px;
      > .ui-menu > li {
        > a {
          padding: 0 12px;
          font-size: 86.23%;
        }
        > ul {
          font-size: 86.23%;
        }
      }
    }
    .header-middle {
      .logo-wrapper {
        margin-left: 0;
      }
      .container1 {
        margin-right: 120px;
        .search-header-bottom {
          width: 50px;
          &:before {
            right: 20px;
          }
        }
      }
      .top-action {
        width: 120px;
        .minicart-header {
          width: 40px;
          .showcart {
            width: 40px;
            &:before {
              width: 40px;
              line-height: 75px;
            }
          }
        }
        .wish-header {
          width: 40px;
          &:before {
            width: 40px;
          }
        }
        .account-header {
          width: 40px;
          &:before {
            width: 40px;
          }
        }
      }
    }

  }

}

@media (max-width: 991px) {

  .header-container {
    // Menu
    .navigation-megamenu-wrapper,
    .navigation-wrapper {
      display: none;
    }
    .menu-vertical-wrap {
      display: none;
    }
    .btn-mobile .button-mobile {
      background: none;
      margin-left: 10px;
      &.active {
        color: @color_theme;
      }
    }

    .collapse-type .navigation-mobile {
      top: 40px;
    }
    // End Menu

    .cart-wrapper .minicart-wrapper .block-minicart {
      top: 37px !important;
      left: 0;
    }
  }

  // Header 1
  .header-style-1 {
    .header-top {
      overflow: hidden;
    }
    .header-middle {
      position: relative;
      padding-bottom: 0;
      border: none;
      .menu-under {
        position: inherit;
      }

      .content-header-bottom {
        position: relative;
        display: inline-block;
        width: 100%;
      }

      .logo-wrapper {
        top: 60px;
        left: 50%;
        margin-left: -83px;
        z-index: 0;
      }

      .container1 {
        padding-top: 130px;
        margin-right: 0;
        border-right: none;
        min-height: 0;
        position: inherit;

        .content-header-bottom {
          position: relative;
          display: inline-block;
          width: 100%;

          .navigation-container {
            background: #1e1e1e;
          }
		  
        }

        .search-header-bottom {
          bottom: 20px;
          top: auto;
          height: 40px;
          z-index: 9;

          &:before {
            color: #fff;
          }
			.search-header-content .search-form-action input#search {
				padding: 20px;
				height: 20px;
				line-height: 20px;
			}  
        }
      }

      .top-action {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid @border-color;

        .minicart-header {
          width: 33%;

          .cart-wrapper .minicart-wrapper {
            width: 100%;
            .showcart {
              width: 100%;
              height: 40px;

              &:before {
                width: 100%;
                line-height: 37px;
              }
            }
          }
        }

        .wish-header {
          width: 33%;
          height: 40px;

          &:before {
            width: 40px;
            line-height: 40px;
          }
        }

        .account-header {
          width: 33%;
          border-right: none;
          height: 40px;

          &:before {
            width: 40px;
            line-height: 42px;
          }

          .account-content {
            top: 41px;
            text-align: left;
          }
        }
      }

    }

  }

  // End Header 1
  // Header 2
  .header-style-2 {
  }

  // End Header 2
  // Header 3
  .header-style-3 {
  }

  // End Header 3
  // Header 4
  .header-style-4 {
  }

  // End Header 4
  // Header 5
  .header-style-5 {

  }

  // End Header 5

  .header-style-1 .header-middle .top-action .minicart-header .minicart-wrapper{
    height: 40px;
  }

  .header-style-1 .header-middle .top-action .minicart-header .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog {
    left: 0;
    right: auto;
    top: 40px;
  }

  .header-style-1 .header-middle .container1 .search-header-bottom{
    bottom: 7px;

    &:before{
      top: 15px;
    }

    .search-header-content{
      top: 40px;
    }
  }

}

@media (max-width: 767px) {
  .header-container {
    .col-lg-8.col-md-8.col-sm-9.header-topleft {
      display: none;
    }

    .header-top .top-social {
      float: none;
      text-align: center;
    }

    .header-banner-full {
      display: none;
    }
  }

  // Header 1
  .header-style-1 {
  }

  // End Header 1
  // Header 2
  .header-style-2 {
  }

  // End Header 2
  // Header 3
  .header-style-3 {
  }

  // End Header 3

}

@media (max-width: 639px) {
  .header-container {
    .cart-wrapper .minicart-wrapper {

		.block-content {
			.minicart-items-wrapper .minicart-items .product-item-details .product-item-name a {
				text-align: left;
			}					
		}

	}

  }
  
  // Header 1
  .header-style-1 {
  }

  // Header 4
  .header-style-4 {
  }

  // End Header 4
}

@media (max-width: 479px) {
  .header-container {
    .cart-wrapper .minicart-wrapper {
		.block-minicart {
		  width: 290px;
		  padding: 15px;

		}	

		.block-content {
			.minicart-items-wrapper .minicart-items .product-item-details .product-item-name a {
				width: 140px;
			}
		}

	}


  }

  // Header 1
  .header-style-1 {
    .header-middle {
      .container1 .search-header-bottom:hover .search-header-content {
        width: 291px;
        right: 0;
      }

      .top-action .wish-header .toplinks-wrapper {
        position: absolute;
        right: -80px;
        width: 320px;
      }
    }

  }

  // End Header 1
  // Header 2
  .header-style-2 {
  }

  // End Header 2
  // Header 3
  .header-style-3 {

  }

  // End Header 3
  // Header 4
  .header-style-4 {
  }

  // End Header 4
  // Header 5
  .header-style-5 {

  }

  // End Header 5

}
