/* Media */
.action-skip-wrapper{
	display: none;
}

.sm-quickview{
  .fieldset > .field:not(.choice) > .label{
    width: 70px;
    line-height: 40px;
    text-align: left;
    padding:0;
  }
}

.review-toolbar .limiter {
	display: none;
}

.product.media {
	.fotorama__thumb {
		background: none;
	}
	.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb__arr, .fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb__arr {
		left: 0;
		top: 50%;
		margin-top: -11px;
		transform: none;
	}
	.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb__arr, .fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb__arr {
		right: 0;
		top: 50%;
		margin-top: -23px;
		transform: none;
	}
	.fotorama__stage {
		background: #fff;
		margin-bottom: 12px;
		border: 1px solid @border-color;
	}
	.fotorama__nav--thumbs .fotorama__nav__frame {
		padding: 0 !Important;
		background: #fff;
	}
	.fotorama-item{
	  .fotorama__nav--thumbs .fotorama__nav__frame{
		padding: 0px !important;
		border: 1px solid @border-color;
		margin-right: 30px !important;
	  }

	  .fotorama__thumb-border{
		display: none!important;
	  }
	}
	.fotorama__nav-wrap--horizontal {
		
		.fotorama__stage, .fotorama__nav {
			padding: 0;
		}
		.fotorama__thumb__arr--left,
		.fotorama__thumb__arr--right {
			width: 45px;
			.fotorama__thumb__arr {
				background: #d3d4d4;
				height: 45px;
				padding: 0;
				line-height: 45px;
				color: #fff;
				&:before{
					width: 100%;
					height: 100%;
					line-height: 45px !important;
				}
				&:hover{
					background-color: @color_theme;
					color: #fff;
				}		
			}	
		}	
		.fotorama__thumb__arr--right {
			.fotorama__thumb__arr {
				&:before{
					.font-awesome(f105,28px);
				}
			}			
		}
		.fotorama__thumb__arr--left {
			.fotorama__thumb__arr {
				&:before{
					.font-awesome(f104,28px);
				}
			}			
		}
	}
}

/* Info */
.title-view {
    position: relative;
    line-height: 100%;
    text-align: center;
    padding-bottom: 7px;
	h2 {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		color: #000000;
		font-size: 214.29%;
		font-weight: bold;
	}
}
.catalog-product-view{
	.breadcrumbs {
		margin-bottom: 60px;
	}

  .page-main{
    padding-bottom: 30px;
    padding-top: 0;

    .info-box-detail {
      .fieldset > .field:not(.choice) > {
        clear: both;
        .label {
          width: 70px;
          text-align: left;
          margin-bottom: 10px;
          float: left;
          font-size: 108% !important;
          color: #000;
          line-height: 42px;
        }
        .control {
          float: left;
          width: 50%;
          max-width: 200px;
        }
      }
	   .fieldset > .field.qty:not(.choice) > {
		   .control {
				width: 83px;
				position: relative;
				.control-qty {
					position: absolute;
					right: 0;
					width: 40px;
					height: 40px;
					border-left: 1px solid @border-color;			
				}
			}
	   }
    }
  }

}

	.social-detail {
		clear: both;
		display: inline-block;
		width: 100%;
		margin-top: 30px;
		border-top: 1px solid @border-color;
		padding: 30px 0;
		border-bottom: 1px solid @border-color;		
		.share-title {
			display: inline-block;
			vertical-align: middle;
			font-weight: normal;
			text-transform: none;
			font-size: 128.46%;
			color: #000;
			float: left;
			line-height: 40px;
			margin-right: 20px;
		}
		.socials-wrap {
			.title {
				display: none;
			}		
			li.li-social {
				float: left;
				a {
					width: 40px;
					height: 40px;
					display: inline-block;
					border: 1px solid @border-color;
					margin-right: 10px;
					color: #919191;
					text-align: center;
					line-height: 40px;
					span.name-social {
						display: none;
					}
					&:hover {
						color: #fff;
						background: @color_theme;
						border-color: @border-color;
					}
				}
			}
		}

	}
.image-box-detail{
  .fotorama__stage{
    margin-bottom: 10px;
  }

  .fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img{
    top:0;
    transform: none;
    -webkit-transform: none;
  }
}

.product-options-wrapper{
	padding-top: 30px;
	display: inline-block;
	width: 100%;
	border-top: 1px solid @border-color;
	margin-top: 15px;
  .fieldset > .field {
	float: left;
	width: 100%;
	margin: 0 0 7px;
  }
}


.info-box-detail{

	.price-box .price {
		font-size: 214.29%;
	}
	.old-price .price {
		font-size: 128.57%;
	}
	
  .page-title-wrapper.product{
    .page-title{
		font-size: 200%;
		font-weight: normal;
		color: #010101;
		text-transform: none;
		margin-bottom: 0;
		margin-top: 14px;
    }
  }

  .product-reviews-summary{
    margin-bottom: 5px;
  }

  .price-box{
    margin-bottom: 20px;
  }

  .product-info-stock-sku{

    .available{
      &:before{
        .font-awesome(f046,15px);
        color: #518412;
        position: relative;
        top:1px;
        margin-right: 3px;
      }
    }

    .sku{
      padding-top: 10px;
      margin-bottom: 25px;
      text-transform: uppercase;

      strong{
        display: inline-block;
		&:after {
			content: ":";
		}
      }

      .value{
        display: inline-block;
      }
    }
  }
  
	.product.attibute.overview {
		
	}

  .product-options-bottom{
	margin-top: -7px;
	
  }

  .product-options-bottom,
  .product-add-form{
    .box-tocart{
      .fieldset{
        .qty{
          float: left;
          width: 100%;
		  margin-bottom: 7px;

			.control.control-qty {
				width: 83px;
				position: relative;
			}
          .control{
            #qty{
				width: 83px;
				text-align: center;
				margin-right: 0;
				border-color: @border-color;
				height: 40px;
				padding-left: 15px;
				padding-right: 50px;
				color: #000;
				
				> .control-qty {
					position: absolute;
					right: 0;
					width: 40px;
					height: 40px;
					border-left: 1px solid #e5e5e5;
				}
            }
          }
        }

        .actions{
          float: left;

          button{
			float: left;
			height: 50px;
			line-height: 50px;
			text-transform: uppercase;
			width: 222px;
			font-size: 85.71%;
			background: @color_theme;
			margin-left: 70px;
			
			span {
				color: #fff !important;
			}
			&:hover {
				background: @color_theme_active;
				span {
					color: #fff !important;
				}
			}
          }
        }
      }
    }
  }
  
  .block-bundle-summary .product-addto-links,
  .product-social-links{
    .action{
		border: 1px solid @border-color !important;
		display: block!important;
		background-color: #fff !important;
		float: left;
		line-height: 50px;
		text-align: center;
		color: #545454;
		width: 50px;
		height: 50px;
		padding: 0;
		margin-left: 10px;
		.border_radius(0);

      &:before{
          color: inherit;
      }

      &:hover{
        color: #fff;
		border: 1px solid @color_theme !important;
		background-color: @color_theme !important;

        &:before{
          color:#fff;
        }
      }

      &.tocompare:before{
        .font-awesome(f0ec,14px);
      }

      &.towishlist:before{
        .font-awesome(f004,14px);
      }

      span{
        display: none;
      }

      &.mailto.friend{
		
        &:before{
          line-height: 50px;
        }
      }
    }
  }
}

//TAB

.detail-bottom-wrapper{
  padding-top: 66px;
  clear: both;

  .detail-bottom{
    margin-bottom: 50px;
  }

  .product.data.items{
	text-align: center;

    > .item.title{
		border: none;
		padding: 0px 25px;
		margin: 0;
		list-style: none;
		cursor: pointer;
		float: none;
		bottom: -1px;
		position: relative;
		display: inline-block;
		&:not(:first-child) {
			border-left: 1px solid @border-color;
		}
		> a {
			color: #aaa;
			font-size: 200%;
			text-transform: uppercase;
			font-weight: bold;		
			border: none;
			background: none;
			padding: 0;
			&:hover {
				color: @color_theme;
			}
		}
		&:hover,
		&.active{
			> a {
				color: @color_theme;
			}
		}

      .counter{
        &:before{
          content: "(";
        }

        &:after{
          content: ")";
        }
      }
    }

    .data.item.content{
		border: none!important;
		padding: 40px 0 0;
		text-align: left;
		
		ul li:before {
			.font-awesome(f00c,14px);
			display: inline-block;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			font-synthesis: weight style;
			font-stretch: normal;
			font-size-adjust: none;
			font-language-override: normal;
			font-kerning: auto;
			font-feature-settings: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-align: center;
			font-size: 13px;
			color: @color_theme;
			margin-right: 5px;
		}
		.review-control-vote input[type="radio"] {
			display: none;
		}
    }
  }


  .data.table.additional-attributes tr {
    border-bottom: 1px solid @border-color;
    &:last-child {
      border-bottom: none;
    }
    th.label {
      margin-top: 6px;
      display: inline-block;
    }

  }

}

/* up-sell-relative */
.box-related-upsell {
	.pretext {
		text-align: center;
		font-size: 114.29%;
		margin: 8px 27% 32px;
	}
	.owl-controls .owl-nav div {
		position: absolute;
		top: 42%;
		.transition(0.3s);
		.transform_scale(1);
		&.owl-next {
			right: -66px;
		}
		&.owl-prev {
			left: -66px;
		}
	}
	> div:hover {
		.owl-controls .owl-nav div {
			.transform_scale(1);
		}
	}
	.box-up-sell {
		margin-top: 20px;
	}
}

.catalog-product-view.checkout-cart-configure {
	.info-box-detail {
		.product-social-links {
			position: relative;
			left: 292px;
			top: -50px;
		}
		.social-detail {
			margin-top: -15px;
		}
	}
}


// PRODUCT TYPE
.page-product-grouped {
	.social-detail {
		top: 30px;
		position: relative;
	}
}
.bundle-actions .action {
	line-height: 4px;
}
.page-product-downloadable .product-options-wrapper, .page-product-downloadable .product-options-bottom {
    float: none !important;
    width: 100% !important;
}
.info-box-detail .grouped .price-box {
    margin-bottom: -5px;
}
.bundle-options-wrapper {
	.fieldset {
		margin-bottom: 0;
	}
	.fieldset > .field .choice input, .fieldset > .fields > .field .choice input {
		vertical-align: baseline;
	}
	.field.option {
		> .label {
			display: inline-block;
			width: 100% !important;
		}
		.control {
			display: inline-block;
			width: 100% !important;
			.field.choice {
				float: left;
				width: 100%;
				label {
					line-height: inherit !important;
				}
				input.radio {
					float: left;
					margin-right: 10px;
					line-height: inherit;
					top: 6px;
				}
			}
		}
	}
}
.bundle-actions .action.primary, .bundle-options-container .block-bundle-summary .box-tocart .action.primary {
    line-height: 4px;
}
.bundle-actions,
.page-product-bundle .block-bundle-summary .bundle-summary, .page-product-bundle .block-bundle-summary .product-image-container, .page-product-bundle .block-bundle-summary .title,
.page-product-bundle .product-info-main .bundle-actions, .page-product-bundle .product-info-main .product-social-links, .page-product-bundle .product-info-main .action.customization, .page-product-bundle .product-info-main #customizeTitle {
    display: none;
}
.smqv-title h1 {
    font-size: 24px;
    margin-bottom: 15px;
}
.sm-quickview {
	.col-lg-5.col-md-5.col-sm-4.image-box-detail {
		width: 33%;
	}
	.col-lg-7.col-md-7.col-sm-8.info-box-detail {
		width: 67%;
	}
	.box-tocart label.label {
		width: 70px !important;
		text-align: left !important;
		line-height: 35px;
	}
	.control.control-qty-cart {
		position: relative;
		width: 83px !important;
		.control-qty {
			position: absolute;
			right: 0;
			width: 40px;
			height: 40px;
			border-left: 1px solid @border-color;
		}
	}
	.social-detail {
		padding-top: 30px;
		padding-bottom: 0;
		border-bottom: none;
	}
	.fotorama__nav--thumbs,
	.fotorama__nav.fotorama__nav--thumbs.fotorama__shadows--left.fotorama__shadows--right {
		width: 100% !important;
	}
	.product.media .fotorama__nav-wrap--horizontal .fotorama__stage, .product.media .fotorama__nav-wrap--horizontal .fotorama__nav {
		height: 123px !important;
	}
	.product.media .fotorama-item .fotorama__thumb-border,
	.product.media .fotorama-item .fotorama__nav--thumbs .fotorama__nav__frame {
		width: 80px !important;
		height: 121px !Important;
	}
	.product.media .fotorama__stage .fotorama__grab,
	.product.media .fotorama__stage {
		width: 297px !important;
		height: 395px !important;
		line-height: 100%;
	}
	.control.control-qty-cart .control-qty {
		width: 83px;
	}
	.product.attribute.overview {
		display: inline-block;
	}
	.product-options-wrapper .fieldset .legend.links-title {
		display: none;
	}
	.field.downloads.downloads-no-separately label {
		width: 100% !important;
		text-align: left !important;
		margin-bottom: 15px;
	}
	.image-box-detail {
		margin-bottom: 0;
	}
}


.sm-quickview .bundle-options-container {
	.block-bundle-summary,
	.bundle-options-wrapper {
		width: 100% !important;
	}
	.product-add-form {
		display: block !important;
	}
	.bundle-actions .action.primary, .block-bundle-summary .box-tocart .action.primary {
		line-height: 4px;
		height: 32px;
		margin-top: 0px;
		text-transform: uppercase;
		font-size: 85.71%;
		font-weight: normal;
	}
	.block-bundle-summary .bundle-summary {
		display: none;
	}
	.bundle-options-wrapper .fieldset {
		button.action.back.customization {
			display: none;
		}	
	}
	.bundle-options-wrapper, .product-options-wrapper {
		width: 100% !important;
		.fieldset > .field:not(.choice) > .label {
			width: 100%;
			text-align: left;
			margin-bottom: 15px;
		}
	}
	
	.box-tocart {
		.fieldset > .field.qty {
			float: left;
			width: 154px;
			label.label {
				float: left;
				width: 33px;
				line-height: 32px;
				text-align: left;
			}
		}
		.fieldset > .field:not(.choice) > .control.control-qty-cart {
			width: 70px;
			position: relative;
			float: left;
			background: #fff;
			input#qty {
				height: 32px;
				border: none;
				background: transparent;
			}
			.control-qty {
				.quantity-controls.quantity-plus {
				}
				span.quantity-controls.quantity-minus.quantity-minus-qv {
				}
			}
		}
	}
	.control.control-qty-cart .control-qty {
		top: -2px;
		width: 38px;
	}

}
// RESPONSIVE DETAIL PAGE


@media (min-width: 1200px) {

}
@media (min-width: 768px) {
	div#recipients-options .field label,
	fieldset#sender_options .field label {
		width: 10%;
	}  

}

@media (max-width: 1199px) {
  /* up-sell-relative */
  .box-related-upsell {
    .pretext {
      margin: 8px 0 32px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .info-box-detail{
    clear: both;
    padding-top: 40px;
  }
	.view-quickview .info-box-detail {
		clear: none;
		padding-top: 0;
		.page-title-wrapper.product .page-title {
			margin-top: 0;
		}
		.product-info-stock-sku .sku {
			margin-bottom: 10px;
		}
		.price-box {
			margin-bottom: 0;
		}
		.product-options-wrapper {
			padding-top: 20px;
			margin-top: 5px;
		}
	}
	.detail-bottom-wrapper .product.data.items > .item.title > a {
		font-size: 150%;
	}
}

@media (max-width: 767px) {
  .title-view h2 {
    font-size: 185.71%;
  }
}
@media (max-width: 767px) {

  .catalog-product-view {
    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison).additional-attributes tbody td:last-child {
      border: none;
      padding: 10px 0;
      margin-left: 85px;
    }
    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr td:before, .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr th:before {
      min-width: 85px;
      position: absolute;
      left: 0;
    }
  }
  .info-box-detail{
    clear: both;
    padding-top: 40px;
  }

	.product.data.items {
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 100%;
	}

  .detail-bottom-wrapper .product.data.items > .item.title{
		border-bottom: 1px solid @border-color;
  }
	.detail-bottom-wrapper .product.data.items > .item.title:not(:first-child) {
		border-left: none;
		border-right: none;
	}
  .detail-bottom-wrapper .product.data.items > .item.title:first-child {
    border-right: none;
  }

  .detail-bottom-wrapper .product.data.items .data.item.content{
    margin-top: 0!important;
    border-bottom: 1px solid #e1e1e1!important;
    margin-bottom: -1px!important;
	padding: 0;
  }

  .product.data.items > .item.title.active{
        margin: 0 0 30px !important;
  }
}
@media (max-width: 567px) {
	.catalog-product-view.checkout-cart-configure {
		.info-box-detail {
			.product-social-links {
				position: relative;
				left: 233px;
				top: -60px;
			}
			.social-detail {
				margin-top: -25px;
			}
		}
	}
}
@media (max-width: 480px) {
  .info-box-detail .product-options-bottom .box-tocart .fieldset .actions button, .info-box-detail .product-add-form .box-tocart .fieldset .actions button {
    margin-left: 0;
  }
  .product-social-links{
    clear: both;
    padding-top: 10px;
    a.action:first-child {
      margin-left: 0;
    }
  }
  .detail-bottom-wrapper .product.data.items > .item.title > a {
    font-size: 139.29%;
  }
  .catalog-product-view .social-detail {
    .share-title {
      line-height: 32px;
    }
    .socials-wrap li.li-social a {
      width: 32px;
      height: 32px;
      line-height: 32px;
      margin-right: 5px;
    }
  }

  .tab-custom .title-tab-content .list-item-tab:before, .tab-custom .title-tab-content .list-item-tab:after,
  .tab-custom .title-tab-content .list-item-tab:before, .tab-custom .title-tab-content .list-item-tab:before{
    display: none;
  }

  .tab-custom .title-tab-content .list-item-tab .item-tab:before{
    display: none;
  }
}

@media (max-width: 479px) {
	.catalog-product-view.checkout-cart-configure {
		.info-box-detail {
			.product-social-links {
				position: static;
			}
			.social-detail {
				margin-top: 30px;
			}
		}
	}
}