@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url(https://fonts.gstatic.com/s/playball/v6/sSjR6AJRrIl2FxjhncYng_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

.transform_scale(@scale) {
  transform: scale(@scale);
  -moz-transform: scale(@scale);
  -webkit-transform: scale(@scale);
  -ms-transform: scale(@scale);
}

.transition(@transition) {
  transition: @transition;
  -moz-transition: @transition;
  -webkit-transition: @transition;
}

.transform_origin(@var1,@var2) {
  transform-origin: @var1 @var2;
  -moz-transform-origin: @var1 @var2;
  -webkit-transform-origin: @var1 @var2;
  -ms-transform-origin: @var1 @var2;
}

.transform_rotate(@rotate) {
	-ms-transform: rotate(@rotate); /* IE 9 */
	-webkit-transform: rotate(@rotate); /* Safari */
	transform: rotate(@rotate);
}

.border_radius(@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.font-awesome (@code, @size) {
  content: '\@{code}';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-synthesis: weight style;
  font-stretch: normal;
  font-size-adjust: none;
  font-language-override: normal;
  font-kerning: auto;
  font-feature-settings: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: @size;
}

@border-color: #e5e5e5;
@color_theme: #db3e3b;
@color_theme_active: #eca8a6;

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
	font-family: inherit;
}
.methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .form-address-edit .actions-toolbar .action.primary, .multicheckout .action.primary {
    line-height: 12px;
}
.minicart-wrapper .block-minicart:before,
.minicart-wrapper .block-minicart:after {
  display: none;
}

address {
  margin-bottom: 0;
}

body {
  line-height: 1.66;
  font-weight: 500;
}

label,
.label {
  font-weight: 500 !important;
  font-size: 100% !important;
  padding: 0 !important;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  > li {
    margin-bottom: 0;
  }
}

a:focus, a:hover {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 2.6666em;
  line-height: 1.25em; /*32px, 40px*/
}

h2 {
  font-size: 2em;
  line-height: 1.25em; /*24px, 30px*/
}

h3 {
  font-size: 1.6666em;
  line-height: 1.2em; /*20px, 24px*/
}

h4 {
  font-size: 1.3333em;
  line-height: 1.25em; /*16px, 20px*/
}

h5 {
  font-size: 1.1666em;
  line-height: 1.1428em; /*14px, 16px*/
}

h6 {
  font-size: 1em;
  line-height: 1.1666em; /*12px, 14px*/
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
  height: 35px;
  font-size: 92.86%;
  border: 1px solid @border-color;
  line-height: 1.66;
  background-color: #fff;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;

}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="email"]::-moz-placeholder,
input[placeholder], [placeholder], *[placeholder] {
  color: #919191 !important;
}


textarea {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid @border-color;
  background-color: #fff;
}

//Button

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  -webkit-border-fit: lines;
}

.menu-ontop {
  position: fixed !important;
  z-index: 888;
}

.social-detail {
  clear: both;

  .share-title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 600;
    font-size: 129.28%;
    color: #aeaeae;
  }

  .addthis_sharing_toolbox {
    display: inline-block;
    vertical-align: middle;
  }
}

/* <- Safari & Google Chrome Fix */
button,
.button {
  overflow: visible;
  width: auto;
  border: none;
  margin: 0;
  background-color: #e74c3c;
  cursor: pointer !important;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  white-space: nowrap;
  color: #fff;
  font-size: 100%;
  font-weight: 700;
  opacity: 1 !important;

  &:hover {
    background: #fe8377;
    color: #fff;
	border: none;
  }
}

.fotorama__stage.fotorama__shadows--left:before, .fotorama__nav.fotorama__shadows--left:before,
.fotorama__stage.fotorama__shadows--right:after, .fotorama__nav.fotorama__shadows--right:after {
  display: none !important;
}

body .fotorama--fullscreen{
  z-index: 99999 !important;
}

select {
	-webkit-appearance: none;
    -moz-appearance: none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background: url(../images/icon-select.png) no-repeat right 12px top 50%;
	padding-right: 25px;  
	height: 40px;
    color: #919191;
	border: 1px solid #e5e5e5;
}
select::-ms-expand{
  display:none;
}

.page-title {
  margin-bottom: 40px;
}

mark, .mark {
  background-color: transparent;
}

.empty {
  padding-top: 10px;
}

.pager {
  margin: 0;
}

.account.page-layout-2columns-left .column.main {
  width: 100% !important;
}

.modal-footer{
  border:none;
	button.action-primary.action-accept {
		border: none;
		background-color: @color_theme;
		color: #fff;
	}
}

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th{
  background: transparent;
}

// TABLE

.table > thead > tr > th {
  text-transform: uppercase;
}

.radio, .checkbox {
  display: inline;
  position: relative;
  top: 1px;
  margin-top: 0 !important;
}

.full-wrapper {
  margin-left: -1000%;
  margin-right: -1000%;
  clear: both;
}
.container-full {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1920px;
}

.modal-header{
  border-bottom: none;
}

.modal-popup .action-close{
  border: none!important;
}

.page-main {
  padding: 20px 0 78px;
}

.page-main .fieldset > .field:not(.choice) > .label {
  width: auto;
  text-align: left;
  margin-bottom: 10px;
}

.page-main .fieldset > .field.choice:before,
.page-main .fieldset > .field.no-label:before {
  width: auto;
  padding: 0;
}

.page-main .fieldset > .field:not(.choice) > .control {
  width: 100%;
}

.page-main .abs-margin-for-forms-desktop,
.page-main .fieldset .legend,
.page-main .column:not(.sidebar-main) form .actions-toolbar,
.page-main .column:not(.sidebar-additional) form .actions-toolbar,
.page-main .login-container .fieldset::after {
  margin-left: 0;
}

.page-main .form.password.reset,
.page-main .form.send.confirmation,
.page-main .form.password.forget,
.page-main .form.create.account {
  width: 100%;
}

.modal-content {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  .border_radius(0);
}

.authentication-dropdown {
  .action-close {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 20px;
  }
}

.opc-wrapper .form-login,
.opc-wrapper .form-shipping-address {
  max-width: none;
}

.products.wrapper.products-grid {
  .item {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Price Box

.price-box {
  .price {
    font-size: 128.57%;
    color: #000;
  }

  .special-price,
  .old-price {
    display: inline-block;

    .price-label {
      display: none;
    }
  }

  .special-price {
    margin-right: 10px;
  }

  .old-price {
    .price {
		text-decoration: line-through;
		color: #898989;
		font-size: 85.71%;
		position: relative;
    }
  }

  .price-from,
  .price-to {
    display: inline-block;
    margin: 0;
  }
}

div[class^="swatch-opt-"] {
  display: table;
}

.counter {
  &:after {
    content: ")";
  }

  &:before {
    content: "(";
  }
}

// Rating
.rating-box {
	width: 68px;
	height: 20px;
	position: relative;
	.product-reviews-summary {
		.rating-summary {
			left: auto;
			padding-right: 0;
			top: -7px;
		}			
	}

}
.product-reviews-summary {
  margin: 0;
  .rating-summary {
    left: auto;
    padding-right: 10px;
  }

  .reviews-actions {
    position: relative;
    top: 2px;

    .view {
      span {
        &:last-child:after {
          content: "|";
          margin-left: 10px;
        }
      }
    }
  }
}

.control-qty {
  position: relative;

  #qty {
    width: 83px;
    text-align: center;
    margin-right: 0;
    border-color: #e5e5e5;
    height: 40px;
    padding-left: 15px;
    padding-right: 50px;
    color: #000;
    
  }
  
	.control-qty {
		position: absolute;
		right: 0;
		width: 40px;
		height: 40px;
		border-left: 1px solid @border-color;
	}
  .quantity-controls {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 40px;
	height: 20px;
	cursor: pointer;
	opacity: 0.5;
    background: url(../images/plus-minus.png) no-repeat;

    &:hover {
      opacity: 1;
    }

    &.quantity-plus {
		right: 0;
		background-position: center 5px;
    }

    &.quantity-minus {
		right: 0;
		background-position: center -45px;
		top: 20px;
    }
  }
}

.rating-summary {
	padding-right: 15px;
  .rating-result {
    width: 68px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    background: url(../images/bkg_rating.png) 0 1px repeat-x;
    text-indent: -999em;
    overflow: hidden;
	margin-left: 0;
	margin-right: 15px;

    &:before {
      display: none;
    }

    > span {
		float: left;
		height: 12px;
		background: url(../images/bkg_rating.png) 0 100% repeat-x;
		position: relative;
		top: 0px;
      &:before {
        display: none;
      }
    }
  }
}
.rating-box {
	background: url(../images/bkg_rating.png) 0 0 repeat-x;
}

.page-wrapper {
  overflow-x: hidden;
  left: 0;
  position: relative;
  .transition(.3s);
}

.page-header {
	margin: 0;
    width: 100%;
    padding-bottom: 0;
    border: none;
}

.page-title {
	text-transform: uppercase;
	color: #2a2a2a;
	font-weight: 900;
	font-size: 128.57%;
}

// SLIDER CONTROL
.owl-controls {
  .owl-nav {
    div {
	  display: inline-block;
	  width:45px;
	  height:45px;
	  position: relative;
	  text-indent: -9999px;
	  overflow: hidden;
	  cursor: pointer;
	  margin:0 2px;
	  .border_radius(0px);
	  background: #d3d4d4;

      &:hover {
        	background: @color_theme;
      }

      &:before {
		display: inline-block;
		text-indent: 0;
		width:45px;
		height:45px;
		position: absolute;
		left:0;
		top:0;
		color: #fff;
		font-size: 24px;
		line-height: 45px;
		font-weight: normal;
		text-align: center;
		font-family: fontawesome;
      }

      &.owl-next {
        &:before {
          content:"\f105";
        }
      }

      &.owl-prev {
        &:before {
		  content:"\f104";
        }
      }
    }
  }
}

//LIMITER

.toolbar {
  .pager {
    .limiter {
      strong,
      select,
      span {
        display: inline-block;
        vertical-align: middle;
        width: auto;
      }
    }
  }

  &.review-toolbar {
    border: none;
    .pager {
      margin: 0;

      .limiter {
        float: left;
		background: none;
		select {
			border-right-color: #eef1f5;
		}
      }
    }
  }
}

legend {
  border: none;
  .border_radius(0);
}

.review-legend {
  border-bottom: 1px solid #ddd;
}

.review-field-ratings .review-field-rating .label {
  line-height: 33px;
  float: left;
  &:after {
    content: ": ";
  }
}

.column:not(.sidebar-main) form .actions-toolbar,
.column:not(.sidebar-additional) form .actions-toolbar {
  margin: 0 !important;
}

// REVIEW

.review-title {
  text-transform: uppercase;
}

.review-form {
  max-width: none;
  .action.submit.primary {
	border: none;
	background: @color_theme;
	color: #fff;
	&:hover {
		background: @color_theme_active;
		color: #fff;
		border: none;
	}
  }
}

.fieldset .review-legend.legend {
  padding-bottom: 10px;
}

.review-add .fieldset > .field:not(.choice) > .label {
  width: 100%;
  float: none;
  text-align: left;
}

.review-add .fieldset > .field:not(.choice) > .control {
  float: none;
  width: 100%;
}

.dropdown {
  .mage-dropdown-dialog {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    padding: 20px 30px;
    z-index: 40;
    min-width: 155px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.product.options.list dt{
  display: inline;
}
.product.options.list dd{
  display: inline;
  margin-right: 5px;
}

.swatch-option-tooltip .corner, .swatch-option-tooltip-layered .corner {
  bottom: 2px !important;
}
.swatch-option-tooltip .corner:before, .swatch-option-tooltip-layered .corner:before {
	top: 4px;
}
.swatch-option-tooltip .corner:after, .swatch-option-tooltip-layered .corner:after {
	top: 2px;
}

// BREADCRUMBS

.breadcrumbs {
	text-align: center;
    margin-bottom: 40px;
    background: url('../images/bg-breadcrumbs.jpg') no-repeat top center;
    height: 250px;
    padding-top: 100px;
    color: #000000;
	.title-page h1 {
		text-transform: uppercase;
		font-size: 171.43%;
		margin-bottom: 0;
		strong {
			font-weight: bold;
		}
	}
  ul {
    margin: 0 !important;
    padding: 6px 0 0 !important;
    display: inline-block !important;
    width: 100%;
	font-size: 100% !important;

    li {
	    color: #545454 !important;
		display: inline-block;
		padding: 0 14px 0 8px;
		position: relative;
		&.home {
			padding-left: 20px;
		}
		&:not(:last-child):after{
			content: "/" !important;
			position: absolute;
			top: 3px !important;
			right: 0 !important;
			font-size: 16px !important;
		}

      a {
        display: block;
        padding: 0;
		font-size: 114.29%;
		text-decoration: none !important;
		color: #545454 !important;
		&:hover {
			color: @color_theme !important;
		}
      }

      &:last-child {
        strong {
			font-weight: normal;
			color: #000000;
			font-size: 114.29%;
        }
      }

    }

  }

}

//TAB CUSTOM

.tab-custom {
  .title-tab-content {
    text-align: center;
    margin-bottom: 30px;

    .list-item-tab {
      display: inline-block;
      position: relative;

      &:before,
      &:after {
        content: "";
        display: inline-block;
        width: 25px;
        height: 2px;
        position: absolute;
        top: 50%;
        margin-top: -2px;
      }

      &:before {
        left: -25px;
      }

      &:after {
        right: -25px;
      }

      .item-tab {
        display: inline-block;
        cursor: pointer;
        color: #a8a8a8;
        text-transform: uppercase;
        font-size: 154.76%;
        padding: 0 15px;
        position: relative;

        &:before {
          content: "";
          display: inline-block;
          width: 1px;
          height: 14px;
          background-color: #a8a8a8;
          position: absolute;
          right: -2px;
          top: 50%;
          margin-top: -8px;
        }

        &.tab-active {
          cursor: default;
          color: #000000;
        }

        &:last-child {
          &:before {
            display: none;
          }
        }
      }
    }
  }

  .tab-content-product {
    height: 0;
    visibility: hidden;
    overflow: hidden;

    &.show-content {
      height: auto;
      visibility: visible;
      overflow: visible;
    }
  }
}

// ACCOUNT PAGE

.account.page-layout-2columns-left .sidebar-main,
.account.page-layout-2columns-left .sidebar-additional {
  width: 100% !important;
}

// MOBILE NAVIGATION
.nav-mobile-container {
  position: relative;
  height: 40px;
}

.btn-mobile {
  display: inline-block;
  max-height: 65px;

  .button-mobile {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
	background: @color_theme;
  }
}

.navigation-mobile {
  background-color: #fff;
  padding: 20px;

  > ul {
    > li {
      border-bottom: 1px solid #ddd;
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      > a {
        display: block;
        text-transform: uppercase;
        padding: 10px 0;
      }

      ul {
        display: none;
        padding-left: 10px;

        li {
          position: relative;

          a {
            display: block;
            padding: 10px 0;
          }
        }
      }
    }
  }

  .touch-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #5c5c5c;
    position: absolute;
    right: 0;
    top: 10px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;

    &:before {
      .font-awesome(f067, 10px);
      color: #fff;
    }

    &.active {
      &:before {
        .font-awesome(f068, 10px);
      }
    }

    span {
      display: none;
    }
  }
}

// collapse

.collapse-type {
  .navigation-mobile {
    display: none;
    position: absolute;
    z-index: 0;
    top: 67px;
    width: 100%;
  }
}

// sidebar

.sidebar-type {
  .navigation-mobile {
    position: fixed;
    top: 0;
    left: -350px;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    z-index: 777;
    .transition(.3s);
  }
}

.navbar-active {
  overflow-x: hidden;

  .btn-mobile .button-mobile {
    &.active {
      &:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 555;
      }
    }
  }

  .page-wrapper {
    left: 300px;
  }

  .sidebar-type {
    .navigation-mobile {
      left: 0;
    }
  }
}

.products-grid .item .item-inner .box-image a img,
.slider-brand .item a img,
.blog-wrapper .blog-image a img,
.banner-megamenu a img,
.products-sidebar .box-image a img,
.image-sidebar a img,
.minicart-items-wrapper .product .product-image-wrapper img{
  //.transition(.2s);

  &:hover{
    opacity: 0.8;
  }
}

// FIX TEST
.checkout-index-index {
	.search-header-content {
		border: none !important;
	}
	@media (max-width: 991px) {
		.header-style-1 .header-bottom .nav-mobile-container .btn-mobile:after {
			background: transparent;
		}	
	}

}
.modal-popup .action-close {
	padding: 0 !important;
}
.cart.table-wrapper .item-actions td {
	padding-bottom: 0 !Important;
}

/*==NEWSLETTER POPUP==*/
.wrap-newsletter-popup {
	.fancybox-skin {
		border-radius: 0;
		background: #fff;
	}
	.fancybox-close {
		border-radius: 0;
		width: 31px;
		height: 31px;
		right: 0;
		top: -31px;
		background: @color_theme url('../images/icon-close.png') no-repeat center center;
		&:hover {
			background-color: @color_theme_active;
		}
	}
	#newsletter-popup {
		display: block;
	}
}
#newsletter-popup {
	display: none;
	padding: 15px;
	.promotional-popup {
		width: 901px;
		height: 470px;
		text-align: center;
		padding: 45px 15px 0 52%;
		background: url(../images/bg_newsletter.jpg) no-repeat top left;
		.title-home h2 {
			font-size: 277%;
			color: #010101;
		}
		
		.desc {
			
			padding: 15px 20px 25px;
			line-height: 150%;
		}

		.input-box{
			width: 100%;
			display: inline-block;
			background-color: #fff !important;
			color: #b2b2b2 !important;
			padding: 0;
			border-radius: 0;
			border-right: 0;
			float: left;
			text-align: left;
			input#newsletter-input {
				border: 1px solid @border-color;
				height: 37px;
				text-indent: 5px;
			}
		}

		.action-newsletter{
			width: 25%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			float: left;
		}
		.action.subscribe.primary {
			width: 25%;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 85.71%;
			height: 37px;
			position: absolute;
			right: 31px;
			max-width: 105px;
		}
		.input-text{
			width: 100%;
			margin-right: 0;
			display: inline-block;
			vertical-align: top;
			float: left;
			border: 0;
			line-height: 34px;
			height: 34px;
		}

		.button{
			display: inline-block;
			height: 37px;
			border-radius: 0;
			line-height: 37px;
			background-color: @color_theme;
			width: 100%;
			font-weight: bold;
			text-transform: uppercase;

			&:hover{
			  background-color: @color_theme_active;
			}
		}

		.subscribe-bottom{
			margin-top: 28px;
			display: inline-block;

			#uniform-dont-show-again{
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: 0;
				margin: 0 5px;
				
			}
			label {
				font-weight: normal !important;
				font-size: 108% !important;
			}
		}

		.socials-wrap{
			padding-top: 35px;
			margin-bottom: 0;

			.title {
				display: none;
			}

		ul{
		  margin: 0;
		}

		.li-social{
			display: inline-block;
			margin: 0 5px;
			vertical-align: top;
			border: 1px solid @border-color;
			width: 40px;
			height: 40px;
			line-height: 40px;

		  a{
			display: inline-block;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			font-size: 15px;
			color: #919191;

			.name-social{
			  display: none;
			}

		  }

			&:hover{
			    background: @color_theme;
				border-color: @color_theme;
				a {
					color: #fff;
				}
			}		  
		}
		}
	}
}
@media (max-width: 991px) {
  #newsletter-popup .promotional-popup {
    width: 100%;
    padding: 15px 15px 45px 15px;
    height: auto;
    background: none;
  }
}

@media (max-width: 767px) {
	.wrap-newsletter-popup {
		top: 40px !important;
	}
	.wrap-newsletter-popup #newsletter-popup {
		overflow-y: scroll;
		height: 100%;
	}
}

@media (max-width: 479px) {
  #newsletter-popup .promotional-popup {
    padding: 15px 0 15px 0;

    .title-home h2 {
      font-size: 139.29%;
    }

    .desc {
      font-size: 92.86%;
      padding: 15px 10px;
    }

    .input-box {
      width: 70%;
      font-size: 92.86%;
    }

    .action.subscribe.primary {
      width: 30%;
      padding: 0;
    }

    .socials-wrap .li-social {
      margin: 0 2px;
      width: 30px;
      height: 30px;
      line-height: 30px;

      a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
      }
    }
  }
}
// RESPONSIVE

@media (min-width: 768px) {
  .modal-popup .modal-inner-wrap {
    width: 40% !important;
  }
  
}

@media (min-width: 1200px) {
	.page-wrapper {
		overflow-y: hidden;
	}
  .container {
    width: 1200px;
  }

  .navigation-mobile-container {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navigation-mobile-container {
    display: none;
  }
}
@media (max-width: 991px) {
    .container-full {
      padding: 0;
    }
	.col2-layout > .container > .row > .col-lg-3 {
		margin-bottom: 30px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
		#newsletter-popup .promotional-popup {
			position: relative;
		}
		#newsletter-popup .promotional-popup .action.subscribe.primary {
			right: 16px;
		}
  .full-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }

  .form-wishlist-items .products-grid.wishlist .product-items li.product-item{
    width: 50%!important;
  }

  .products-grid.wishlist .product-item-name,
  .products-grid.wishlist .product-item-description,
  .products-grid.wishlist .product-item .price-box,
  .products-grid.wishlist .product-item-tooltip{
    margin-left: 0!important;
  }

  .products-grid.wishlist .product-item-photo{
    float: none!important;
    margin-right:0!important;
  }


}

@media (max-width: 480px) {
  .form-wishlist-items .products-grid.wishlist .product-items li.product-item{
    width: 100%;
  }
}

@media (max-width: 479px) {
	#newsletter-popup .promotional-popup .action.subscribe.primary {
		right: 1px;
	}
}
