.cms-index-index .menu-vertical-wrap .sambar-inner {
	display: block;
}

.minicart-items-wrapper{
  height: auto!important;
}

.cms-index-index .header-container .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu>li.home-item-parent>a {
    color: @color_theme;
}
/*==MENU HOME DROPDOWN==*/
.dropup, .dropdown {
    display: none;
}
.home-menu-dropdown{
  margin: -15px;

  .item-home-store{
    width: 25%;
    float: left;
    padding: 15px;

    .title-menu-home{
		
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 20px;
		padding-bottom: 18px;
		border-bottom: 1px solid #e5e5e5;
		margin-top: -5px;
		color: #1b1b1b;
    }

    li{
      a{
		line-height: 28px;
		color: inherit;
		
		&:hover {
			color: @color_theme;
		}
      }
    }

    &.theme-color{
      li{
        a{
          position: relative;

          &:before{
            content: "";
            display: inline-block;
            width:20px;
            height:20px;
            background-color: #e1e1e1;
            margin-right:10px;
            vertical-align: middle;
			.transition(.3s);
          }
		  &:hover {
			&:before{
				opacity: 0.7;
			}
		  }
        }

        &.red{
          a:before{
            background-color: #db3e3b;
          }
        }

        &.green{
          a:before{
            background-color: #8bc34a;
          }
        }

        &.blue{
          a:before{
            background-color: #03a9f4;
          }
        }

        &.brown{
          a:before{
            background-color: #795548;
          }
        }

        &.orange{
          a:before{
            background-color: #ff5722;
          }
        }

        &.cyan{
          a:before{
            background-color: #00bcd4;
          }
        }
		
        &.teal{
          a:before{
            background-color: #009788;
          }
        }

        &.pink{
          a:before{
            background-color: #ea1e63;
          }
        }
      }
    }
  }
}
.menu-vertical-wrap {
    position: absolute;
    left: 0;
    width: 270px;
    top: -32px;
}

.sm_megamenu_wrapper_vertical_menu {
	.block-title {
		background: @color_theme;
		position: relative;
		color: #fff;
		text-transform: uppercase;
		height: 60px;
		line-height: 60px;
		font-weight: bold;
		padding-left: 20px;
		cursor: pointer;
		z-index: 1;
		&:before {
			.font-awesome (f039, 14px);
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			font-synthesis: weight style;
			font-stretch: normal;
			font-size-adjust: none;
			font-language-override: normal;
			font-kerning: auto;
			font-feature-settings: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-align: center;
			margin-right: 20px;
			font-weight: normal;
		}
	}	
	.sambar-inner {
		display: none;
		position: relative;
		width: 100%;
		padding: 2px 20px 3px;
	}
	&:hover {
		.sambar-inner {
			display: block;
		}	
	}
}
.header-container {
	// MINI CART

	.cart-wrapper {

	  .minicart-wrapper{
		margin: 0;
		position: relative;

		.block-minicart{
			width: 328px;
			background-color: #fff;
			padding: 22px;
			border: #f3f3f3;
			box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);	
			.amount .price-wrapper:first-child .price {
				font-size: 114.29%;
				color: @color_theme;
				font-weight: normal;
			}			
		}

		.block-content {
		  #btn-minicart-close {
			display: none;
		  }

		  .items-total{
			margin:0 0 3px;
			float: none;
			
			color: @color_theme;

			.count{
			    font-weight: normal;
			}
			.spantext {
				color: #545454;
			}
		  }

		  .subtotal{
			margin:0;
			float: none;
			display: table;
			width: 100%;
			padding-top: 3px;

			.label{
				float: left;
				margin-top: 5px;
				margin-left: 0;
				color: #000000;
				font-size: 123.08% !important;
				font-weight: normal !important;
			}

			.price-container{
			  float: right;
			}
		  }

		  .minicart-items-wrapper{
			margin:0;
			padding:0;
			border-top:none;
			max-height: 350px;
			overflow: auto;
			border: none;


			.minicart-items{
				overflow: hidden;
				width: 100%;
				height: auto !important;
				.product-item {
					padding: 10px 0;
					border: none;
					.product-item-photo {
						margin-right: 10px;
					}
					img.product-image-photo {
						border: 1px solid #e5e5e5;
						&:hover {
							border-colo: @color_theme;
						}
					}
				}
			  .product-item-details{
				position: relative;
				padding-right: 20px;
				margin-left: 88px;
				padding-left: 0;

				.product-item-name{
					top: -7px;
					position: relative;
				  a{
						color: #000;
						width: 150px;
						float: left;
											
						&:hover {
							color: @color_theme;
						}
				  }
				}
				
				.product.options {
					display: inline-block;
					max-width: 150px;
				}
				
				.product.options.list dt.label:after {
					content: ":";
				}
				
				.product-item-pricing{
					.price-container {
						float: left;
						margin-right: 10px;
					}				
				  .price-excluding-tax{
						font-size: inherit;
						margin-top: 10px;

					.minicart-price{
					  .price{
						font-weight: bold;
						color: #000;
						font-size: 128.57%;
						position: relative;
						top: -7px;
					  }
					}
				  }
				  
				}

				.details-qty{
				  .label{
					text-align: left;
					width: auto;
					font-size: 85.71% !important;
					margin-right: 5px;
				  }
					.item-qty {
						width: 30px;
						height: 25px;
					}					  
				}
			
			  }
			  
			}
		  }

		  > .actions{
			cursor: pointer;
			margin: 13px 0 8px 0;
			width: 100%;
			display: inline-block;
			> div {
				float: left;
				padding: 0;
				button#top-cart-btn-checkout {
					line-height: 0;
					font-size: 100%;
					background: #000000;
				}
			}

            .viewcart{
              padding: 0 17px;
            }

			.viewcart,
			.checkout{
				display: inline-block;
				line-height: 40px;
				float: left;
				text-align: center;
				text-transform: uppercase;
				font-size: 85.71%;
				color: #fff;
				font-weight: normal;
				height: 40px;

			  &:hover{
				color: #fff;
			  }
			}

			.viewcart{
			  float: left;
			  background: @color_theme;
			}

		  }
		}

		.product.actions{
		  position: absolute;
		  right:0;
		  top:24px;
		  width: 14px;

		  .primary,
		  .secondary{
		      display: inline-block;
			.action{
			  display: block;
			  width: 14px;
			  height: 14px;
			  margin-bottom: 10px;
			  background-image: url(../images/control-cart.png);
			  background-repeat: no-repeat;
			  background-color: #999;
			  &:hover {
				background-color: @color_theme;
			  }

			  &:before{
				display: none;
			  }
			}
		  }

		  .primary{
			.edit{
			  background-position: 0px 0px;
			}
		  }

		  .secondary{
			.delete{
			  background-position: 0px -36px;
			}
		  }
		}

		.minicart-widgets{
		  margin:0;
		}
	  }

	  .showcart {
		position: relative;
		padding-left: 40px;
		width: 180px;
		text-align: right;
		&:before {
			.font-awesome (f07a, 14px);
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			font-synthesis: weight style;
			font-stretch: normal;
			font-size-adjust: none;
			font-language-override: normal;
			font-kerning: auto;
			font-feature-settings: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			width: 40px;
			height: 40px;
			background: #e74c3c;
			display: inline-block;
			text-align: center;
			line-height: 40px;
			color: #ecf0f1;
			position: absolute;
			left: 0;
			top: 3px;
		}
		.empty{
		  padding-top: 0;
		}

		.text {
			display: inline-block;
			width: 100%;
			text-transform: uppercase;
			text-align: right;
			font-weight: normal;
			font-size: inherit;
		}

		.counter {
		  &:before,
		  &:after {
			display: none;
		  }
			font-weight: bold;
			font-size: 86.23%;
		  .counter-number {
			display: none;
		  }
		}

		.counter-label{
		  display: inline-block;
		}

		.price-minicart{
		  display: inline-block;

		  .subtotal{
			.label{
			  display: none;
			}
		  }
		}
		
		.spec {
		  display: inline-block;
		}

		.loading-mask .loader > img{
		  height: 100%;
		  width: auto;
		}
	  }

	  .block-minicart{
		right: 0!important;
	  }

	}			
	.block-minicart .subtitle.empty {
		padding: 0;
		font-weight: normal;
	}
	.currency-wrapper,
	.language-wrapper {
		display: table-cell;
		line-height: 30px;
		position: relative;
		cursor: pointer;
		float: right;
		border-right: 1px solid #c8c8c8;
		padding: 2px 10px;	
	}
	.switcher {
		
		.switcher-label {
			display: none !important;
		}		
		&.switcher-language {


		  .switcher-option a,
		  .switcher-trigger strong{
			  display: inline-block;
			  padding-left: 20px;
			  background-position: left center;
			  background-repeat: no-repeat;
			  font-weight: normal;

		  }
		}
		
		.dropdown {
		  .switcher-trigger {
			cursor: pointer;
			padding: 0 15px 0 0px;
			position: relative;
			line-height: 39px;
			strong {
				font-weight: normal;
			  &:hover{
				color: @color_theme;
			  }
			}
		  }
			.toggle:before {
				.font-awesome (f107, 14px);
				position: absolute;
				right: 0;
				top: 13px;
			}

		  .mage-dropdown-dialog {
			cursor: default;
			position: absolute;
			right: -11px;
			background-color: #fff;
			border: 1px solid #f3f3f3;
			padding: 20px 25px;
			z-index: 11;
			min-width: 150%;
			box-shadow: 3px 4px 2px 0 rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: 3px 4px 2px 0 rgba(0, 0, 0, 0.2);
			top: 122%;
			left: auto;
		  }

		  .switcher-dropdown {
			.switcher-option {
			  padding: 5px 0;
			}
		  }
		}

		.switcher-options {
		  display: none;
		}
		
		&:hover {
		  .mage-dropdown-dialog {
			  display: block !important;
		  }		
		}
	}	
	

    .dropdown{


      .title-dropdown-block{
        display: none;
      }

      .dropdown-toggle{
        padding:0 15px 0 0px;
        position: relative;
        line-height: 39px;

        > a{
          color: #666;

          &:hover{
            color: @color_theme;
          }
        }

        &:before{
          font-family: fontawesome;
          content: "\f107";
          font-size:14px;
          position: absolute;
          right: 0;
        }
      }
		&:after{
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			width: 120%;
			height: 21%;
			display: none;
		}
      .mage-dropdown-dialog{
        display: none;
        cursor: default;
        position: absolute;
        right: 0px;
        background-color: #fff;
        border: 1px solid #f3f3f3;
        padding:20px 25px;
        z-index: 11;
        min-width: 120%;
        box-shadow: 3px 4px 2px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow: 3px 4px 2px 0 rgba(0,0,0,0.2);
		top: 116%;
		.myaccount-link {
		  &:before{
			.font-awesome(f007,13px);
			margin-right: 8px;
		  }					
		}

		.top-link-checkout{
			&:before{
			  .font-awesome(f046,13px);
			  margin-right: 8px;
			  width: 10px;
			}
		}

		.my-wishlist{
			&:before{
			  .font-awesome(f08a,13px);
			  margin-right: 8px;
			  width: 10px;
			}
		}
		.mobile-login,
		.popup-login {
			&:before{
			  .font-awesome(f13e,13px);
			  margin-right: 8px;
			  width: 10px;
			}		
		}


        a{
          white-space: nowrap;
          display: block;
		  color: #666666;
		  &:hover {
			color: @color_theme;
		  }
        }

        .current{
          color: @color_theme;
        }
      }

      .currency-switcher{
        .dropdown-list{
          right:0;
          left:auto;
        }
      }

      .lang-switcher{
        .dropdown-toggle{
          .flag{
            background-repeat: no-repeat;
            background-position: left center;
            padding-left:20px;
          }
        }

        .dropdown-list{
          li a span,
          .current span {
            background-position: left center;
            display: inline-block;
            background-repeat: no-repeat;
            padding-left:20px;
          }
        }
      }

      &:hover{
        .dropdown-toggle{
          a,
          .value{
            color: @color_theme;
          }

          &:after{
            display: block;
          }
        }
		&:after,
        .mage-dropdown-dialog{
          display: block;
        }
      }

      &.block-base{
        padding:0;

        .links{
          li{
            float: left;
            margin:0 10px;

            a{
              display: block;
              position: relative;
              line-height: 39px;
              color: #666;

              &:after{
                content: "";
                width: 100%;
                height: 1px;
                background-color: @color_theme;
                position: absolute;
                bottom: -1px;
                z-index: 13;
                display: none;
              }

              &:hover{
                &:after{
                  display: block;
                }
              }

            }

            &.first{
              margin-left: 0;
            }

            &.last{
              margin-right: 0;
            }
          }
        }
      }

    }	
	
    .dropdown-block-custom {
		display: table-cell;
		line-height: 30px;
		position: relative;
		cursor: pointer;
		float: right;
		border-right: 1px solid #c8c8c8;
		padding: 2px 10px;
		&:last-child {
			border-left: 1px solid #c8c8c8;
		}
      .title-dropdown-block{
        display: none;
      }

      .dropdown-toggle{
        padding:0 15px 0 0px;
        position: relative;
        line-height: 39px;

        > a{
          color: #666;

          &:hover{
            color: @color_theme;
          }
        }

        &:before{
          font-family: fontawesome;
          content: "\f107";
          font-size:14px;
          position: absolute;
          right: 0;
        }
      }
		&:after{
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			width: 120%;
			height: 21%;
			display: none;
		}
      .dropdown-list{
        display: none;
        cursor: default;
        position: absolute;
        right: 0px;
        background-color: #fff;
        border: 1px solid #f3f3f3;
        padding:20px 25px;
        z-index: 11;
        min-width: 120%;
        box-shadow: 3px 4px 2px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow: 3px 4px 2px 0 rgba(0,0,0,0.2);
		top: 116%;
		.myaccount-link {
		  &:before{
			.font-awesome(f007,13px);
			margin-right: 8px;
		  }					
		}

		.top-link-checkout{
			&:before{
			  .font-awesome(f046,13px);
			  margin-right: 8px;
			  width: 10px;
			}
		}

		.my-wishlist{
			&:before{
			  .font-awesome(f08a,13px);
			  margin-right: 8px;
			  width: 10px;
			}
		}
		.mobile-login,
		.popup-login {
			&:before{
			  .font-awesome(f13e,13px);
			  margin-right: 8px;
			  width: 10px;
			}		
		}
		.mn-logout {
			a:before {
				.font-awesome(f023,13px);
				margin-right: 8px;
				width: 10px;		
			}		
		}		
        a{
          white-space: nowrap;
          display: block;
		  color: #666666;
		  padding: 5px 0;
		  &:hover {
			color: @color_theme;
		  }
        }

        .current{
          color: @color_theme;
        }
      }

      &:hover{
        .dropdown-toggle{
          a,
          .value{
            color: @color_theme;
          }

          &:after{
            display: block;
          }
        }
		&:after,
        .dropdown-list{
          display: block;
        }
      }

      &.block-base{
        padding:0;

        .links{
          li{
            float: left;
            margin:0 10px;

            a{
              display: block;
              position: relative;
              line-height: 39px;
              color: #666;

              &:after{
                content: "";
                width: 100%;
                height: 1px;
                background-color: @color_theme;
                position: absolute;
                bottom: -1px;
                z-index: 13;
                display: none;
              }

              &:hover{
                &:after{
                  display: block;
                }
              }

            }

            &.first{
              margin-left: 0;
            }

            &.last{
              margin-right: 0;
            }
          }
        }
      }

    }	
	
  .logo-wrapper {
    text-align: center;
    margin-bottom: 28px;

    .logo-content {
      margin: 0;
      line-height: 0;
    }
  }

  .menu-ontop{
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 888;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.2);
    position: fixed !important;
    padding: 0 !important;
	.menu-vertical-wrap {
		.sambar-inner {
			visibility: hidden;
		}
		&:hover {
			.sambar-inner {
				visibility: visible;
			}		
		}
	}
  }

  .header.links {
    li {
      float: left;
      margin-right: 15px;
      padding-right: 15px;
      margin-top: 5px;
      position: relative;

      &:last-child{
        margin-right: 0;
        padding-right: 0;
      }


      &:last-child {
        &:before {
          display: none;
        }
      }

      a {
        color: #d6d6d6;

        &:hover{
          color: #fff;
        }
      }

      &.link.compare {
        display: none;
      }
    }
  }

}

// MEGAMENU
.sm_megamenu_wrapper_horizontal_menu {
	ul.sm_megamenu_menu {
		text-align: center;
		padding-left: 280px;
	}
  .sm_megamenu_menu {
    > li {
      > a {
			display: block;
			line-height: 64px;
			padding: 0 14px;
			text-transform: uppercase;
			font-weight: bold;
      }
    }
  }
}


// SLIDER PRODUCT MEGAMENU

.slider-megamenu {
  .title-slider-mega {
    h2 {
      border-bottom: 1px solid #d7d7d7;
      color: #000;
      font-size: 116.67%;
      font-weight: 600;
      margin-bottom: 30px;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
  }

  .sm-basic-products .bs-items .bs-item {
    float: none;
  }

  .owl-nav {
    position: absolute;
    top: -61px;
    right: 15px;
  }

  .products-grid .item .item-inner {
    margin-bottom: 0;
  }
}

// CSS MENU

.navigation-container.css-menu-wrap {
  display: table;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.navigation {
  float: right;
  margin-right: 55px;
  > .ui-menu {
    > li {
      float: left;
      position: relative;

      &.parent {
      }

      > a {
        display: block;
        line-height: 65px;
        padding: 0 11px;
        text-transform: uppercase;
        font-weight: bold;
      }

      ul {
		position: absolute !important;
		width: 220px !important;
		z-index: 10;
		text-align: left;
		margin-top: -11px;
		background: #fff;
		width: 100%;
		border-radius: 0;
		padding: 16px 30px;
		box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
		top: 64px !important;
		&:before {
			height: 6px;
			width: 100%;
			content: "";
			margin-top: -4px;
			position: absolute;
			left: 0;
			top: 0;
		}		
        li {
          line-height: 30px;
          position: relative;

          a {
            display: block;
            padding: 5px 0;
			border-bottom: 1px solid @border-color;
          }
          &:hover > a {
            color: @color_theme;
          }

          &:last-child {

            > a {
              border-bottom: none;
            }
          }

          ul {
			left: 196px !important;
			top: 0px !important;
			margin-top: 0;
          }
        }
      }
    }
  }
}

// HEADER TOOGLE
.header-toogle-top {
	position: relative;
	.transition(.3s);
	.action a {
		position: absolute;
		width: 40px;
		height: 40px;
		background: @color_theme;
		right: 0;
		color: #fff;
		font-size: 22px;
		text-align: center;
		line-height: 40px;
		z-index: 999;
		bottom: -40px;
		i{
			.transition(.3s);
			&:before {
				content: "\f107";
			}		
		}

		&:hover {
			background: @color_theme_active;
		}
		&.header-toogle-close {
			background: @color_theme;
			i::before {
				content: "\f106";
			}
		}
	}
}
.wrap-policy-top {
    text-align: center;
	.policy-item {
		padding-top: 16px;
		padding-bottom: 20px;
        &:not(:last-child) {
          border-right: 1px solid @border-color;
        }
		.policy-icon {
			color: #1c1c1c;
			font-size: 232.14%;
		}
		h2.title {
			text-transform: uppercase;
            font-size: inherit;
			color: #1c1c1c;
			font-weight: bold;
			margin-bottom: 3px;
		}
		.desc {
			
		}
		&:hover {
			.policy-icon,
			h2.title {
				color: @color_theme;
			}		
		}
	}
}

@import 'header-style/_header-1.less';
@import 'header-style/_reponsive-header.less';