.homepage-wrapper .boxed-container {
	margin: 30px 0;
}
img.img-static {
	.transition(.2s);
	&:hover{
		opacity: 0.8;
	}
}

.static-image-1 {
	> .col-lg-6.col-md-6.col-xs-6 {
		padding: 0;
		> .row > .col-lg-6.col-md-6.col-xs-6:first-child {
			padding-right: 0;
		}
		> .row > .col-lg-6.col-md-6.col-xs-6:last-child {
			padding-left: 0;
		}
	}
	img.img-static {
		.transition(0s);
	}
}
.static-image-1-index2 {
	img.img-static {
		.transition(0s);
	}
}

.best-deal-wrap {
    background: #ecdbc9 url('../images/bg-deal.jpg') no-repeat top center;
    height: 673px;
	.sm-countdownproduct-slider {
		width: 66%;
		float: right;
		text-align: center;
		margin-top: 70px;
		.title-home {
		    padding-bottom: 0;
			h2 {
				color: #010101;
				font-size: 357.14%;
			}			
		} 
		.cdps-pretext {
			color: #1c1c1c;
			font-size: 157.14%;
			margin-bottom: 38px;
		}
		.cdps-posttext a {
			height: 55px;
			width: 190px;
			background: @color_theme;
			display: inline-block;
			line-height: 55px;
			text-transform: uppercase;
			color: #fff;
            font-weight: bold;
			margin-top: 32px;
			&:hover {
				background: @color_theme_active;
			}
		}

		.smcountdownproductslider-heading .smcountdownproductslider-time {
			&:before {
				display: none;
			}
			> label {
				display: none;
			}		
			.deals-time {
				float: none;
				border: none;
				background: #fff;
				width: 111px;
				height: 111px;
				text-align: center;
				box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.08);
				margin: 22px;
				.num-time {
					width: 100%;
					font-size: 285.71%;
					font-weight: bold;
					color: @color_theme;
					line-height: 112%;
					margin: 18px 0 5px;
				}
				.title-time {
					width: 100%;
					color: #4f4f4f;
					
					text-transform: uppercase;
					font-weight: bold;
				}
			}
		}

	}
}

/*tesminal*/
.client-say-wrap {
    background: url('../images/bg-client-say.jpg') no-repeat top center;
	position: relative;
	height: 440px;
	&:before {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		left: 0;
		background: #242626;
		.opacity(.4);
    }
	.title-home {
	    padding: 23px 0 12px;
		h2 {
			color: #fff !important;
		}	
	}
	 .owl-dots .owl-dot {
		span {
			background: transparent !important;
			border:2px solid #fff;	
		}

	 }
	.testimonials-home {
		position: relative;
		clear: both;
		@media (max-width: 360px) {padding-top: 10px;}
		.margin-slider {
		  overflow: hidden;
		  margin: 0 auto;
		  .owl-carousel .owl-stage-outer {overflow: visible !important;}
		}
		  .navslider {
		  z-index:99;
			 > a {
				position: absolute;
				width: 20px;
				height: 45px;
				z-index: 99;
				margin: 0;
				color: #fff;
				top: 50%;
				font-size: 28px;
				text-align: center;
				margin-top: -10px;
				  &.prev {
					  left: -40px;
				  }
				  &.next {
					  right: -40px;
				  }
				  &:before{font-size: 0px;}
				  &:hover {
					color: @color_theme;
				  }				
			  }       

		  }
		  .testimonials-slider {
			max-width: 240px ;
			margin:0 auto;
			.owl-item {
				min-height:230px;
				 .client-child{ text-align: center;}
				.image-client {
				display:inline-block;
				.opacity(0);
				 width:80px !important;
				height:80px !important; 
				 img {
				  .border_radius(50%);
				   margin: 0px auto;
				   padding: 10px;
					.opacity(0.4);   
				}

			   }
				.comment {
				 color: #fff;
				.opacity(0);
				visibility: hidden;
				margin:0 -450px;
				text-align:center;
				 @media (min-width: 768px) and  (max-width: 1024px)  {
				   margin:0 -320px !important;
				 }
				@media (max-width: 640px) {
				   margin:0 -220px !important;
				   
				 }
				@media (max-width: 480px) {
				   font-size: 92.86%;
					margin:0 -110px !important;
				}
				 
			  }
			  .comment {   	
					.client-name{
                        font-size: 100%;
						margin-top: 10px;
						text-transform: uppercase;
						display: inline-block;
						position: relative;
						  @media (max-width: 480px) {margin-top: 5px;}
					}
					.client-job {
							color: #fff;
							font-size: 12px;
							margin: 11px 0 15px;
							 @media (max-width: 480px) {margin: 5px 0 ;}
					}
					.content {
						color: #fff;
						
						margin-bottom: 20px;
						padding: 20px 10%;
						@media (max-width: 640px) {font-size:11px;}
					}
				}
			  &.active {
				 .image-client {
				   .opacity(1);
				 }
			  }
			 &.active {
				 .image-client {
				   .opacity(1);
				 }
			  }
			   &.active.center {
				.image-client {
				  position:relative;
				  z-index:999;
				   .opacity(1);
					background:transparent !important;
					img {
					  .opacity(1);
					  .border_radius(50%);
					  margin: 0 auto;
					}
				  }
				 .comment {
				  display:block!important;
				  .opacity(1);
				  visibility: visible;
				  margin:0 -450px;
				  text-align:center;
				  .content  {width: 100% !important; margin: 0 auto !important;}
				  }
			  }
			
		  }
		 }


	}
	
	.testimonials-home-index2 {
		position: relative;
		clear: both;	
		.margin-slider {
		  overflow: hidden;
		  margin: 0 auto;
		  .owl-carousel .owl-stage-outer {overflow: visible !important;}
		}	
		  .navslider {
		  z-index:99;
			 > a {
				position: absolute;
				width: 20px;
				height: 45px;
				z-index: 99;
				margin: 0;
				color: #6b6865;
				top: 50%;
				font-size: 28px;
				text-align: center;
				margin-top: -10px;
				  &.prev {
					  left: -40px;
				  }
				  &.next {
					  right: -40px;
				  }
				  &:before{font-size: 0px;}
				  &:hover {
					color: #fff;
				  }				
			  }       

		  }
		  .testimonials-slider {
			  .comment {   	
					color: #fff;
					text-align: center;
					.content {
						color: #fff;
						
						margin-bottom: 20px;
						padding: 16px 10%;
						p.icon {
							font-size: 24px;
							margin-bottom: 15px;
						}
					}
					.info-client {
						margin-top: 30px;
						.image-client {
							width: 60px;
							height: 60px;
							display: inline-block;
							img {
								border-radius: 50%;
							}
						}
						.athor-client {
							display: inline-block;
							text-align: left;
							padding-left: 20px;
							position: relative;
							top: -13px;
							.client-name {
                                font-size: 100%;
								text-transform: uppercase;
								display: inline-block;
								position: relative;
							}
							.client-job {
								color: #fff;
								font-size: 12px;
								margin: 3px 0;
							}							
						}

					}
				}
		  }		  
	}	
}

.latest-post-block {
	.pretext {
		text-align: center;
		font-size: 114.29%;
		margin: 8px 27% 6px;
	}
	.slider-latest-blog {
	  .slider-blog {
		padding-top: 25px;

		.item {
		  .date-blog {
			float: left;
			width: 75px;
			padding-right: 25px;
			text-align: right;
			font-weight: 700;
			color: @color_theme;
			text-transform: uppercase;

			.big-txt {
			  font-size: 353.84%;
			  line-height: 36px;
			}

			.normal-txt {
			  font-size: 100%;
			  line-height: 17px;
			}
		  }

		  .blog-item-content {

			.image-blog {
				margin-bottom: 20px;
				width: 100%;
				float: left;
				position: relative;
				padding-top: 20px;
				.postDate {
					position: absolute;
					background: @color_theme;
					color: #fff;
					top: 0;
					width: 60px;
					height: 60px;
					display: inline-block;
					text-align: center;
					left: 20px;
					text-transform: uppercase;
					> span {
						width: 100%;
						display: inline-block;
						&.date {
							font-weight: bold;
							font-size: 142.86%;
							line-height: 100%;
							margin-top: 11px;
						}
						&.month {
							
							line-height: 100%;
							position: relative;
							top: -2px;
						}
					}
				}
			}

			.info-blog {
				margin-left: 0;
				display: inline-block;
				width: 100%;
				position: relative;
				padding-left: 0;
			  .postTitle {
					padding-top: 2px;
					h2{
						font-size: 142.86%;
						text-transform: uppercase;
						font-weight: bold;
						margin: 3px 0 8px;
						a {
							color: #000;
							&:hover {
								color: @color_theme;
							}
						}
					}

			  }
				.postInfo span {
					margin-right: 10px;
					b {
						color: #242626;
					}
				}			  
				.postContent {
					font-size: 86.23%;
					color: #262e31;
				}

			  .info-post {
				ul {
				  list-style: none;
				  display: inline-block;
				  margin-bottom: 5px;

				  li {
					float: left;
					color: #999999;
					font-size: 85.71%;

					&:first-child {
					  margin-right: 20px;
					}

					a {
					  color: #999999;

					  &:hover {
						color: @color_theme;
					  }
					}

					&.post-user {
					  &:after {
						content: "|";
						margin-left: 10px;
					  }
					}

					&.post-cat {

					  &:before {
						.font-awesome(f07c, 14px);
						margin-right: 5px;
					  }
					}
				  }
				}
			  }

			  .postContent {
			  }

			  .action-post {
				padding-top: 40px;
				margin-left: -3px;
				.btn-readmore {
					display: inline-block;
					color: @color_theme;
					.transition(.3s);
					text-transform: uppercase;
					font-size: 85.71%;
					font-weight: bold;
				  &:hover {
					color: @color_theme_active;
				  }
				}
			  }
			}
		  }
		}
	  }
	}  
}  



.cms-index-index{
  .page-main{
    padding-bottom: 0;
    padding-top:0;
	width: 100%;
    display: inline-block;
  }
}
.box-margin-bottom {
    margin-bottom: 30px;
}
@import 'home-style/_home-1.less';
@import 'home-style/_home-2.less';
@import 'home-style/_reponsive-home.less';