.catalogsearch-result-index h1.page-title {
    margin-top: 12px;
}
.catalog-category-view{
	.page-title {
		display: none;
	}
  .banner-bottom-wrapper{
    padding-top: 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }
}
.category-image {
    width: 100%;
    overflow: hidden;
    margin: 10px 0 20px;
    text-align: center;
    background-color: #0a0a0a;
}
.label-product{
	position: absolute;
	top: -5px;
	left: 4px;
	font-size: 10px;
	color: #fff;
	z-index: 2;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	.transform_rotate(270deg);

  &.label-sale{
    background-color: #db3e3b;
	&.has-new {
		right: 4px;
		left: auto;
	}
  }

  &.label-new{
    background-color: #41d1ad;
  }
}

.block{
  .block-title{
	padding: 0 0 14px;
	position: relative;
	margin-bottom: 30px;
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 30px;
		height: 1px;
		background: #d7d7d7;
	}
	&.filter-title {
	    margin-bottom: 30px;
	}

    strong{
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		color: #000;
		font-weight: bold;
		font-size: 128.57%;
		margin: 0 !important;
    }
  }

  .block-content{
	.filter-options-title {
		text-transform: uppercase;
		font-weight: bold;
		color: @color_theme;
		margin-bottom: 0;
		padding-bottom: 14px;
		position: relative;
		font-size: 128.57%;
        &:not(:first-child) {
          padding-top: 15px;
        }
	}
    .filter-options-content{
		margin-bottom: 30px;
		.items{
			li{
				&:not(:last-child) {
					border-bottom: 1px solid #e5e5e5;
				}
				  a{
					position: relative;
					display: inline-block;
					padding: 6px 0 9px;
					color: inherit;
					width: 100%;
					font-size: 114.29%;

					.count{
					  float: right;
					  margin-left: 5px;
					  color: inherit;
						&:before,
						&:after {
							content: "";
						}
					}
					&:hover {
						color: @color_theme;
					}
				  }
				&:last-child {
					a {
						padding-bottom: 0;
					}
				}
			}
		}
    }
  }

  &.block-compare{
    .block-title{
      .no-display{
        display: none;
      }
    }

    .empty{
      margin-top: -30px;
    }

    .product-items{
      list-style: none;
      margin: 0 0 20px;
      padding:0;

      .product-item{
        margin-bottom: 10px;
      }

      .delete{
        float: right;

        &:before{
          .font-awesome(f00d,14px);
        }

        span{
          display: none;
        }
      }
    }
  }
}

.sidebar {
	.block {
		&:not(:last-child) {
			margin-bottom: 70px;
		}
		.block-content {
			&.filter-content {
				.filter-current {
					border: 1px solid @border-color;
					strong.block-subtitle.filter-current-subtitle {
						border-bottom: 1px solid @border-color;
						padding: 5px 20px;
						text-transform: uppercase;
						font-weight: normal;
						display: inline-block;
						width: 100%;
					}
					li.item {
						border: 1px solid @border-color;
						display: inline-block;
						margin: 10px 20px;
						padding: 5px 10px;
						position: relative;
						&:after {
							content: "";
							position: absolute;
							background: @border-color;
							height: 100%;
							width: 1px;
							top: 0;
							right: 30px;
						}
						span.filter-label:after {
							content: ":";
						}
					}
				}
				.block-actions.filter-actions {
					border: 1px solid @border-color;
					border-top: 0;
					padding: 5px 20px;
					margin-bottom: 30px;
				}
				a.action.remove {
					&:before {
						.font-awesome (f00d, 14px);
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						font-synthesis: weight style;
						font-stretch: normal;
						font-size-adjust: none;
						font-language-override: normal;
						font-kerning: auto;
						font-feature-settings: normal;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						text-align: center;
						font-weight: normal;
						margin-left: 10px;
					}				
					span {
						display: none;
					}					
				}

			}
			&.block-content-products {
			}
		}
	}
}


// GRID PRODUCTS

.products-grid {
  position: relative;
  margin:0;
	.owl-controls .owl-nav > div {
		position: absolute;
		top: 40.5%;
		margin-top: -25px;
		&.owl-prev {
			left: -66px;
		}
		&.owl-next {
			right: -66px;
		}
	}
  .product-item-photo {
    display: block;
    line-height: 0;
    .product-image-container{
      width: 100%!important;

      .product-image-wrapper{
        padding:0!important;
        height: auto!important;

        img {
          width: 100%;

          &.product-image-photo{
            position: relative;
            float: none;
          }
        }
      }
    }
  }

  .item {
    .item-inner {
		margin-bottom: 45px;
		margin-top: 39px;

      .box-image {
        position: relative;

        a{
          img{
            width: 100%;
            border: 1px solid @border-color;
          }
        }

		.bottom-action-out-wrap {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			opacity: 0;
			z-index: 1;
		}
        .bottom-action-out{
			.bottom-action {
				position: relative;
				width: 100%;
				height: 100%;
			}
			position: absolute;
			text-align: center;
			z-index: 10;
			.transition(0.3s);
			right: 0;
			top: 50%;
			width: 50px;
			height: 230px;
			margin-top: -115px;


			.bottom-action{
				position: relative;
				width: 100%;
				height: 100%;		
			  .add-to-links{
				float: left;
				display: inline-block;
			  }

			  .btn-action{
				border: none;
				display: inline-block !important;
				float: left;
				margin: 0;
				line-height: 50px;
				text-align: center;
				color: #242626;
				width: 50px;
				height: 50px;
				vertical-align: top;
				background: #fff;
				margin-bottom: 10px;
				
				&:hover{
				  background-color: @color_theme;
				  color: #fff;
				}

				&.btn-cart{
					&:before{
						.font-awesome(f07a,14px);
						margin-left: -3px;
					}				
				}				

				&.link-compare {
					&:before{
						.font-awesome(f0ec,14px);
					}
				}				

				&.link-wishlist {
					&:before{
					  .font-awesome(f004,13px);
					  color: inherit;
					}			
				}				

				&.sm_quickview_handler:before{
				  .font-awesome(f002,14px);
				}

				span{
				  display: none;
				}
			  }
			}
        }		


        &:hover{
			> a:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0px;
				bottom: 0px;
				background: rgba(245, 162, 67, 0.4);
				opacity: 1;
			}
          .bottom-action-out-wrap{
            opacity: 1;
			.bottom-action-out{
				right: 15px;
			}
          }


        }

      }

      .box-info {
        padding: 19px 0 0;
		text-align: center;

        .product-name {
			/*overflow: hidden;
			text-overflow: ellipsis;*/
			padding: 0 0px 10px;
			font-size: 92.86%;
			margin: 0 -1px;

          a {
			white-space: nowrap;
			color: #000;
			font-size: 128.57%;
			&:hover {
				color: #e74c3c;
			}
          }
        }
		
		.rating-box {
			margin: 8px auto 14px;
		}

        .price-box {
          height: 20px;
          margin: 0;
          display: inline-block;
        }

        .product-reviews-summary{
          .reviews-actions{
            display: none;
          }
        }

      }
    }
  }
}

// LIST PRODUCT

.products-list {
  margin: 0;

  .item {

    .item-inner {
		margin-bottom: 50px;
		position: relative;
		width: 100%;
		display: inline-block;
		margin-top: 40px;

      .box-image-list {
        width: 270px;
        float: left;
        position: relative;
		border: 1px solid @border-color;
		&:before {
			content: "";
			position: absolute;
			top: -1px;
			left: -1px;
			right: -1px;
			bottom: -1px;
			background-color: rgba(245, 162, 67, 0.4);
			display: none;
			z-index: 1;
		}
        .label-product{
          top:-7px;

          &.label-sale{
          }

          &.label-sale{
            right:4px;
			left: auto;
          }
        }

        .product-image-container{
          width:100%!important;
          max-width: inherit;

          .product-image-wrapper{
            padding:0!important;
            height: auto!important;
            overflow:visible;

            .product-image-photo{
              width: 100%!important;
              position: relative;
            }
          }
        }

        .product-item-photo {
          display: block;
          line-height: 0;
        }
        .sm_quickview_handler {
			display: block;
			width: 50px;
			height: 50px;
			border: 1px solid transparent;
			color: #fff;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -25px;
			margin-left: -25px;
            line-height: 56px;
          .transform_scale(0);
          .transition(.2s);
		  z-index: 5;

          span{
            display: none;
          }

          &:before{
			.font-awesome(f002,28px);
          }

          &:hover{
            background-color: @color_theme;
			border: 1px solid @color_theme;
          }
        }

        &:hover {
          .sm_quickview_handler {
            .transform_scale(1);
          }
		  &:before {
			display: block;
			z-index: 1;
		  }
			.lSAction {
				opacity: 1;
			}		  
        }		
      }

      .box-info-list {
        margin-left: 300px;
		.reviews-actions {
			display: none;
		}
		.rating-box {
			margin: 10px 0;
		}

        .product-name {
			font-weight: normal;
			font-size: 171.43%;
			text-transform: capitalize;
			margin-bottom: 0;
			a {
				color: #000;
				&:hover {
					color: @color_theme;
				}
			}
        }

        .price-box {
			margin-top: 0px;
			margin-bottom: 18px;
			.price {
				font-size: 185.71%;
			}
			.old-price .price {
				font-size: 114.29%;
			}
        }

        .bottom-action {
          margin-bottom: 5px;
          display: inline-block;

          form{
            float:left;
          }

          .btn-cart{
			display: inline-block !important;
			float: left;
			margin: 0 10px 0 0;
			line-height: 14px;
			text-align: center;
			height: 50px;
			vertical-align: top;
			width: 222px;
			border-color: #e74c3c;
			background-color: #e74c3c;
			color: #fff;		
			text-transform: uppercase;
			font-weight: bold;

            span{
              &:before,
              &:after{
                display: none;
              }
            }
			&:hover {
				border-color: #fe8377 !important;
				background-color: #fe8377 !important;			
			}
          }

          .add-to-links {
            float: left;
          }

          .btn-action{
			background-color: #fff;
			border: 1px solid @border-color;
			display: inline-block !important;
			float: left;
			margin: 0 10px 0 0;
			line-height: 50px;
			text-align: center;
			color: #fff;
			width: 50px;
			height: 50px;
			vertical-align: top;
			color: inherit;


            &:hover{
				background-color: #545454 !important;
				border-color: #545454 !important;
				color: #fff;

            }

            &.btn-cart:before{
              .font-awesome(f07a,14px);
            }

            &.link-compare:before{
              .font-awesome(f0ec,14px);
            }

            &.link-wishlist:before{
              .font-awesome(f004,13px);
			  color: inherit;
            }

            &.sm_quickview_handler:before{
              .font-awesome(f06e,14px);
            }

            span{
              display: none;
            }
          }
        }

        .ratings {
          display: inline-block;
          width: 100%;
          height: 20px;
          margin: 15px 0 0;
        }

        .no-rating {
          height: 20px;
          line-height: 20px;
          margin: 10px 0 5px;
        }

        .product-item-inner {
          margin-bottom: 44px;

          .more{
            display: none;
          }
        }
      }
    }
  }
}

// GRIND PRODUCT LIST
.grid-product-list {
    margin: 0 -15px;
	.item {
		width: 25%;
		float: left;
		padding: 1px 15px;
	}
}

// TOOLBAR

.toolbar{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 0 17px;
    border-bottom: 1px solid @border-color;

  .modes{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-right: 30px;

    .modes-label{
      display: none;
    }

    .modes-mode{
		display: inline-block;
		width: 35px;
		height: 35px;
		background: #252525;
		float: left;
		text-align: center;
		line-height: 35px;
		color: #fff;
		&:before {
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			font-synthesis: weight style;
			font-stretch: normal;
			font-size-adjust: none;
			font-language-override: normal;
			font-kerning: auto;
			font-feature-settings: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-align: center;
			font-size: 14px;
		}

      span{
        display: none;
      }

      &.mode-grid{
		&:before {
			content: '\f009';
		}		
      }

      &.mode-list{
		&:before {
			content: '\f039';
		}		  
      }
	  &:hover,
	  &.active {
		background: @color_theme;
		&:before {
			color: #fff;
		}
	  }
    }
  }
  
	.sortby-limiter {
		float: right;
		width: 76.5%;
	}
  .toolbar-amount{
    margin:0;
  }

  .toolbar-sorter{
    display: inline-block;
    vertical-align: top;
    margin-right: 47px;


    .sorter-label,
    .sorter-options,
    .sorter-action{
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }
	.sorter-label {
		line-height: 32px;
		height: 35px;
		margin:0;	
		background: #fff;
		padding-right: 5px !important;
		display: none;
	}
    .sorter-options{
		border: 1px solid @border-color;
		height: 35px;
		padding-top: 0;
		line-height: 34px;
		
		padding: 0 35px 0 20px;
    }

    .sorter-action{
		display: inline-block;
		padding: 0 11px;
		color: #999;
		border: 1px solid @border-color;
		height: 35px;
		line-height: 35px;
		width: 35px;
		margin-left: -4px;
		text-align: center;

      span{
        display: none;
      }

      &.sort-asc:before{
        .font-awesome(f176,14px);
      }

      &.sort-desc:before{
        .font-awesome(f063,14px);
      }
    }
  }

  .limiter{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
	.control {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 35px;
			bottom: 0;
			width: 1px;
			background: @border-color;
			display: inline-block;
		}
	}
    .label,
    .control,
    .limiter-text{
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }
	
	.limiter-options {
		border: 1px solid @border-color;
		height: 35px;
		padding-top: 0;
		min-width: 80px;
		
		line-height: 34px;
		padding: 0 35px 0 18px;
		position: relative;
	}
	
    .label{
		line-height: 35px;
		margin: 0;
		background: #fff;
		padding-right: 5px !important;
		height: 35px;
		color: #000000;
    }
	.limiter-text {
		display: none;
	}
  }

  .pages{
    display: inline-block;
    vertical-align: top;
    float: right;
    padding-top: 0px;
	.pages-label {
		display: inline-block;
		line-height: 34px;
		color: #000;
		margin-right: 7px;
		margin-top: 0px;
		position: relative;
		top: 1px;
	}

    .pages-items{
	    display: inline-block;
		line-height: 34px;
      .item{
		display: inline-block;
		margin: 0;
		vertical-align: top;
		line-height: 35px;

        a{
			display: inline-block;
			color: #747474;
			
			border: 1px solid @border-color;
			width: 34px;
			text-align: center;
			margin-left: -4px;
          .label{
            display: none;
          }
		  &:hover {
			color: #fff;
			background: @color_theme;
			border-color: @color_theme;
		  }
        }

        &.current{
          strong{
			font-weight: normal;
			padding: 0 3px;
			background: @color_theme;
			display: inline-block;
			color: #fff;
			
			border: 1px solid @color_theme;
			width: 34px;
			text-align: center;		
			margin-left: -4px;			
            .label{
              display: none;
            }
          }
        }

        &.pages-item-next{
          a{
            span{
              display: none;
            }

            &:before{
              .font-awesome(f105,16px);
            }
          }
        }

        &.pages-item-previous{
          a{
            span{
              display: none;
            }

            &:before{
              .font-awesome(f104,16px);
            }
          }
        }
      }
    }
  }

  &.toolbar-products{
    .toolbar-amount{
      display: none;
    }
  }
}
.toolbar-top {
    margin-top: 8px;
}

.toolbar-bottom {
	.toolbar {
		margin-bottom: 0;
		padding: 17px 0 0;
		border-bottom: 0;
		border-top: 1px solid #e6e6e6;
	}
}
// PRODUCT SIDEBAR

.products-sidebar{
  .item{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid transparent;

    &:last-child{
      margin-bottom: 0;
    }

    .item-inner{
      .box-image{
        float: left;
        width: 85px;
        img {
          border: 1px solid @border-color;
        }
      }

      .box-info{
        margin-left: 100px;

        .product-name{
			margin-bottom: 5px;
            font-size: inherit;

			a {
				color: #000;
				&:hover {
					color: @color_theme;
				}
			}
        }

        .product-reviews-summary{
          margin-bottom: 7px;

          .reviews-actions{
            display: none;
          }
        }

        .product-item-actions{
          .actions-primary{
            padding:10px 0;
          }

          .actions-secondary{
            a{
              display: block;
            }
          }
        }
      }
    }
    &:hover {
      .item-inner .box-image img {
        border: 1px solid @color_theme;
      }
    }
  }
}


/*PAGE CATEGORIES*/
.block-cat{
  .cat-item{
    margin-bottom: 30px;
  }
  .content-cat{
    .cat-inner{
      border: 1px solid #e5e5e5;
      text-align: center;
      padding-top: 15px;
    }
    .img-cat img:hover{
      opacity: 0.8;
    }
    .name-cat{
      line-height: 50px;
      font-size: 116.66%;
      text-transform: uppercase;
      font-weight: 500;
      a{
        &:hover{
          color: @color_theme;
        }
      }
    }
  }
}



/* COMPARE */
.comparison {
	&.table-wrapper {
		width: 100%;
		overflow-x: auto;
		.item {
			float: left;
			min-width: 270px;
		}
	}
	.products-grid .item .item-inner .box-image .bottom-action-out .bottom-action .btn-action.link-wishlist {
	}

}


/* QUICK VIEW */
#fancybox-loading {
	margin-left: -22px;
}
.fancybox-skin {
    background: #fff !important;
}
.quickview-index-index {
	.container {
		width: 100%;
		padding: 0;
	}
}

// PAGE NEW ARRIVALS
.cms-best-smartphone-html,
.cms-new-arrivals-html {
  .page-main {
    padding: 20px 0;
    .new-arivals-wrap > div {
      padding: 0;
    }
    .sm-countdownproduct-slider {
      margin-top: 10px;
    }
  }

}
// RESPONSIVE LISTING PAGE


@media (min-width: 1200px) {
  .block-content.filter-content {
    margin-bottom: 57px;
  }
}


@media (max-width: 1199px) {
  .toolbar-top .toolbar .pages {
    display: none;
  }

  .toolbar-bottom {
    .toolbar-bottom .toolbar .toolbar-sorter,
    .toolbar .limiter {
      display: none;
    }
  }
  .products-grid .owl-controls .owl-nav > div{
    &.owl-prev {
      left: -24px;
    }
    &.owl-next {
      right: -24px;
    }

  }
	.row.view-quickview {
		overflow-y: auto;
		width: 100%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.products-grid .item .item-inner .box-info .product-name {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 991px) {
	.sm_quickview_handler {
		display: none !important;
	}
  .products-grid .owl-controls .owl-nav > div{
    &.owl-prev {
      left: -15px;
    }
    &.owl-next {
      right: -15px;
    }

  }
    .products-grid .item .item-inner .box-image .bottom-action-out {
      margin-top: -85px;
    }
	.products-grid .item .item-inner .box-image .bottom-action-out .bottom-action .btn-action {
		&.sm_quickview_handler {
			display: none !important;
		}
	}

	.products-grid .item .item-inner .box-info .product-name {
		overflow: hidden;
		text-overflow: ellipsis;
	}	
}

@media (max-width: 767px) {
  .toolbar-top{
    .pages{
      display: none;
    }

    .modes,
    .toolbar-sorter{
      margin-right: 20px;
    }
  }

  .toolbar-bottom{
    .toolbar-sorter,
    .limiter{
      display: none;
    }
  }

  .products-grid .item .item-inner .box-info .product-name a {
    font-size: 123%;
  }

  .products-list .item .item-inner .box-image-list{
    width: 100%;
  }

  .products-list .item .item-inner .box-info-list{
    margin-left: 0;
    clear: both;
    padding-top: 20px;
  }

  .products.wrapper.list .product-reviews-summary{
    margin:0;
  }
}

@media (max-width: 480px) {
  .breadcrumbs .title-page h1 {
    font-size: 157.86%;
  }
  .social-detail{
    padding-top: 20px;
  }

  .toolbar-top{
    .modes{
      margin-bottom: 15px;
    }
    .sortby-limiter {
      width: 100%;
    }
    .toolbar-sorter{
      margin-bottom: 10px;
      margin-right: 0;
    }
    .limiter {
      margin-right: 0;
      float: right;
    }
  }

  .toolbar-bottom{
    .modes{
      margin-right:20px;
    }
    .sortby-limiter {
      width: 100%;
      margin-top: 15px;
    }
  }
  .products-grid .item .item-inner .box-image:hover .bottom-action-out-wrap {
    right: 50%;
  }
  .products-grid .item .item-inner .box-image:hover .bottom-action-out-wrap .bottom-action-out {
    right: 50%;
    padding-left: 27px;
  }
}

@media (max-width: 479px) {
	.products-list .item .item-inner .box-info-list .bottom-action .btn-cart {
		margin-bottom: 10px;
	}
}