<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block block-subscribe-footer">
    <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
			
			<div class="title">
				<?php echo __('Newsletter') ?>
			</div>
			<div class="desc">
				<?php echo __('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis ') ?>
			</div>
            <div class="form-action">
				<div class="input-box">
					<input name="email" type="email" id="newsletter"
									onfocus="if(this.value=='Enter your email address') this.value='';" onblur="if(this.value=='') this.value='Enter your email address';" value="Enter your email address"
									data-validate="{required:true, 'validate-email':true}"/>				
				</div>

				<button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
					<span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
				</button>			
			</div>			

    </form>
</div>
