<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block block-subscribe">

    <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
			
            <div class="input-box">
                <input name="email" type="email" id="newsletter"
								onfocus="if(this.value=='What were you looking for ?') this.value='';" onblur="if(this.value=='') this.value='What were you looking for ?';" value="What were you looking for ?"
                                data-validate="{required:true, 'validate-email':true}"/>
            </div>

            <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" type="submit">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
    </form>
</div>

