<?php
/**------------------------------------------------------------------------
* SM Products Detail Sliders - Version 1.1.0
* Copyright (c) 2015 YouTech Company. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: YouTech Company
* Wepdsites: http://www.magentech.com
-------------------------------------------------------------------------*/

/** @var $block \Sm\ProductsDetailSliders\Block\ProductsDetailSliders */

$list = $block->_getSelectSource();
$helper = $this->_helper();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$center = $this->_getConfig('center') == 1?'true':'false';
$nav = $this->_getConfig('nav') == 1?'true':'false';

$loop = $this->_getConfig('loop') == 1?'true':'false';
$dots = $this->_getConfig('dots') == 1?'true':'false';
$slideBy = (int)$this->_getConfig('slideBy') > 0 ? $this->_getConfig('slideBy') : 1;
$autoplay = $this->_getConfig('autoplay') == 1 ? 'true' : 'false';

$autoplayHoverPause = $this->_getConfig('autoplayHoverPause') == 1 ? 'true' : 'false';
$start = $this->_getConfig('start') ? $this->_getConfig('start') : 0;
$speed = (int)$this->_getConfig('delay')>0 ? $this->_getConfig('delay') : 5000;
$autoplaySpeed = (int)$this->_getConfig('autoplaySpeed')>0 ? $this->_getConfig('autoplaySpeed') : 3000;

$nb_column1 = $this->_getConfig('nb_column1', 5);
$nb_column2 = $this->_getConfig('nb_column2', 4);
$nb_column3 = $this->_getConfig('nb_column3', 3);
$nb_column4 = $this->_getConfig('nb_column4', 2);
$nb_column5 = $this->_getConfig('nb_column5', 1);

if (!empty($list))
{
	$uniqued = 'sm_products_detail_sliders'.time().rand();
	$class_respl = 'pds-resp01-' . $this->_getConfig('nb_column1', 4) . ' pds-resp02-' . $this->_getConfig('nb_column2', 3) . ' pds-resp03-' . $this->_getConfig('nb_column3', 3) . ' pds-resp04-' . $this->_getConfig('nb_column4', 2) . ' pds-resp05-' . $this->_getConfig('nb_column5', 1);
	?>
    <div class="sm-product-detail-slider-wrap">
        <?php if ($this->_getConfig('display_title', 1)) { ?>
            <?php if ($this->_getConfig('title')) { ?>
                <div class="title-home">
                    <h2>
                        <?php echo $this->_getConfig('title', 'SM Products Detail Sliders'); ?>
                    </h2>
                </div>
            <?php } ?>
        <?php } ?>

        <?php if ($this->_getConfig('pretext') != null) { ?>
            <div class="pds-pretext">
                <?php echo $this->_getConfig('pretext'); ?>
            </div>
        <?php } ?>

	<div id="<?php echo $uniqued; ?>" class="sm-products-detail-sliders">
		<div class="pds-items-detail">
			<?php  $j = 0;
			foreach ($list as $_product) { $j++;
				?>
				<div class="pds-item-detail <?php echo ($j==1 ? 'active' : ''); ?>">
					<div class="pds-item-inner-detail">
						<div class="pds-detail product-detail-adv">
							<div class="pds-products-infor">
								<?php
								if ($_product->detailInfor): ?>
									<div class="additional-attributes-wrapper table-wrapper">
										<table class="data table additional-attributes">
											<tbody>
											<?php foreach ($_product->detailInfor as $_data): ?>
												<tr>
													<th class="col label" scope="row"><?php echo $block->escapeHtml(__($_data['label'])); ?></th>
													<td class="col data" data-th="<?php echo $block->escapeHtml(__($_data['label'])) ?>"><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
												</tr>
											<?php endforeach; ?>
											</tbody>
										</table>
									</div>
								<?php endif;?>
							</div>
						</div>
						<?php if ($_product->_image) { ?>
							<div class="pds-image media">
								<a href="<?php echo $_product->link ?>"
								   title="<?php echo $_product->title; ?>"
									<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
									>
									<img class="products-image-main" src="<?php echo $_product->_image; ?>"
									     title="<?php echo $_product->title; ?>"
									     alt="<?php echo $_product->title; ?>"
										>
								</a>
							</div>
						<?php }?>

                            <?php  ?>
                            <div class="pds-content product-item product-detail">
                                <?php if ((int)$this->_getConfig('product_title_display', 1)) { ?>
                                    <div class="pds-title">
                                        <a href="<?php echo $_product->link; ?>" title="<?php echo $_product->title; ?>"
                                            <?php echo $helper->parseTarget($this->_getConfig('target')); ?>
                                            >
                                            <?php echo $helper->truncate($_product->title, $this->_getConfig('product_title_maxlength')); ?>
                                        </a>
                                    </div>
                                <?php } ?>
                                <?php if($_product->getHasOptions()) { ?>
                                    <?php
                                    foreach($_product->optionsConfigurable as $c){
                                        ?>
                                        <p class="short-att <?php echo $c['code']; ?>"><?php echo count($c['values']).' '.$c['label']; ?></p>
                                    <?php
                                    }
                                    ?>
                                <?php } ?>

                                <?php if ((int)$this->_getConfig('product_price_display', 1)) { ?>
                                    <div class="pds-price">
                                        <div class="sale-price">
                                            <?php echo $this->getProductPrice($_product); ?>
                                        </div>
                                    </div>
                                <?php } ?>

                                <?php if ((int)$this->_getConfig('product_description_display', 1) && $helper->_trimEncode($_product->_description) != '') { ?>
                                    <div class="pds-description">
                                        <?php echo $_product->_description; ?>
                                    </div>
                                <?php } ?>

                                <?php if ((int)$this->_getConfig('product_reviews_count', 1)) { ?>
                                    <div class="pds-review" >
                                        <?php
                                        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                                        echo $block->getReviewsSummaryHtml($_product,$templateType);
                                        ?>
                                    </div>
                                <?php } ?>

                                <?php if ((int)$this->_getConfig('product_addcart_display', 1) ||(int)$this->_getConfig('product_addwishlist_display', 1) || (int)$this->_getConfig('product_addcompare_display', 1)) { ?>
                                    <div class="product actions product-item-actions">
                                        <?php if ((int)$this->_getConfig('product_addcart_display', 1)) { ?>
                                            <div class="actions-primary">
                                                <?php if ($_product->isSaleable()){ ?>
                                                    <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)){ ?>
                                                        <button class="action tocart primary " data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_product) ?>"}}' type="button" title="<?php  echo __($this->_getConfig('product_addcart_text', 'Add to Cart')) ?>">
                                                            <span><?php  echo __($this->_getConfig('product_addcart_text', 'Add to Cart')) ?></span>
                                                        </button>
                                                    <?php } else { ?>
                                                        <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary"
                                                                data-post='<?php echo $postData; ?>'
                                                                type="button" title="<?php  echo __($this->_getConfig('product_addcart_text', 'Add to Cart')) ?>">
                                                            <span><?php echo __($this->_getConfig('product_addcart_text', 'Add to Cart')) ?></span>
                                                        </button>
                                                    <?php } ?>
                                                <?php } else { ?>
                                                    <?php if ($_product->getIsSalable()){ ?>
                                                        <div class="stock available"><span><?php  echo __('In stock') ?></span></div>
                                                    <?php } else { ?>
                                                        <div class="stock unavailable"><span><?php  echo __('Out of stock') ?></span></div>
                                                    <?php } ?>
                                                <?php } ?>
                                            </div>
                                        <?php } ?>

                                        <?php if ((int)$this->_getConfig('product_addwishlist_display', 1) || (int)$this->_getConfig('product_addcompare_display', 1)) { ?>
                                            <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && (int)$this->_getConfig('product_addwishlist_display', 1) ){ ?>
                                                    <a href="#" data-post='<?php  echo $block->getAddToWishlistParams($_product); ?>'  class="action towishlist" data-action="add-to-wishlist" title="<?php  echo __($this->_getConfig('product_addwishlist_text', 'Add to Wish List')) ?>">
                                                        <span><?php  echo __($this->_getConfig('product_addwishlist_text', 'Add to Wish List')) ?></span>
                                                    </a>
                                                <?php } ?>
                                                <?php if ($block->getAddToCompareUrl() &&  (int)$this->_getConfig('product_addcompare_display', 1)){ ?>
                                                    <?php
                                                    $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                                    ?>
                                                    <a href="#" class="action tocompare"
                                                       data-post='<?php  echo $compareHelper->getPostDataParams($_product);?>'
                                                       data-role="add-to-links"
                                                       title="<?php  echo __($this->_getConfig('product_addcompare_text', 'Add to Compare')); ?>">
                                                        <span><?php  echo __($this->_getConfig('product_addcompare_text', 'Add to Compare')) ?></span>
                                                    </a>
                                                <?php }; ?>
                                            </div>
                                        <?php } ?>
                                    </div>
                                <?php } ?>

                                <?php if ($this->_getConfig('product_readmore_display') == 1) { ?>
                                    <div class="pds-detail">
                                        <a class="action btn-show-detail" <?php echo $helper->parseTarget($this->_getConfig('target')); ?>
                                            <?php if((int)$this->_getConfig('product_readmore_use_category_link', 1)) { ?>
                                                href="<?php echo $_product->link ?>"
                                            <?php } else { ?>
                                                href="<?php echo $this->_getConfig('product_readmore_link', '') ?>"
                                            <?php } ?>
                                           title="<?php echo $this->_getConfig('product_readmore_text', 'Details'); ?>">
                                            <?php echo $this->_getConfig('product_readmore_text', 'Details'); ?>
                                        </a>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>

                <?php } ?>
            </div>

		<div class="pds-items <?php echo $class_respl; ?>">
			<?php  $j = 0;
			foreach ($list as $_product) { $j++;
				?>
				<div class="pds-item cf <?php echo ($j==1 ? 'active' : ''); ?>">
					<div class="pds-item-inner">
						<?php if ($_product->_image_thumb) { ?>
							<div class="pds-image-thumb">
								<img class="products-image-thumb" src="<?php echo $_product->_image_thumb; ?>"
								     title="<?php echo $_product->title; ?>"
								     alt="<?php echo $_product->title; ?>"
									>
							</div>
						<?php } ?>
					</div>
					<?php if ((int)$this->_getConfig('product_title_display_thumb', 1)) { ?>
						<div class="pds-title-thumb">
							<a href="<?php echo $_product->link; ?>" title="<?php echo $_product->title; ?>"
								<?php echo $helper->parseTarget($this->_getConfig('target')); ?>
								>
								<?php echo $helper->truncate($_product->title, $this->_getConfig('product_title_maxlength_thumb')); ?>
							</a>
						</div>
					<?php } ?>
				</div>
			<?php } ?>
		</div>

            <?php if ($this->_getConfig('posttext') != null) { ?>
                <div class="pds-posttext">
                    <?php echo $this->_getConfig('posttext'); ?>
                </div>
            <?php } ?>

            <script type="text/javascript">
                require([
					"jquery",
                    "Sm_ProductsDetailSliders/js/slick"
                ], function() {
                    //<![CDATA[
                    jQuery(document).ready(function ($) {
                        var sync1 = $('#<?php echo $uniqued;?> .pds-items-detail'),
                            sync2 = $('#<?php echo $uniqued;?> .pds-items');

                        sync1.slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: false,
                            fade: true,
                            asNavFor: '#<?php echo $uniqued;?> .pds-items'
                        });
                        sync2.slick({
                            autoplay: <?php echo $autoplay; ?>,
                            slidesToShow: <?php echo $nb_column1; ?>,
                            slidesToScroll: <?php echo $slideBy; ?>,
                            infinite: <?php echo $loop; ?>,
                            initialSlide: <?php echo $start; ?>,
                            speed: <?php echo $speed ?>,
                            autoplaySpeed: <?php echo $autoplaySpeed; ?>,
                            asNavFor: '#<?php echo $uniqued;?> .pds-items-detail',
                            pauseOnHover: <?php echo $autoplayHoverPause; ?>,
                            dots: <?php echo $dots; ?>,
                            centerMode: <?php echo $center; ?>,
                            focusOnSelect: true,
                            arrows: <?php echo $nav; ?>,
                            pdsIdSliders: '#<?php echo $uniqued;?>',
                            responsive: [
                                {
                                    breakpoint: 1199,
                                    settings: {
                                        slidesToShow: <?php echo $nb_column2; ?>,
                                        slidesToScroll: <?php echo $slideBy; ?>,
                                        infinite: true,
                                        dots: <?php echo $dots; ?>
                                    }
                                },
                                {
                                    breakpoint: 991,
                                    settings: {
                                        slidesToShow: <?php echo $nb_column3; ?>,
                                        slidesToScroll: <?php echo $slideBy; ?>,
                                        infinite: true,
                                        dots: <?php echo $dots; ?>
                                    }
                                },
                                {
                                    breakpoint: 767,
                                    settings: {
                                        slidesToShow: <?php echo $nb_column4; ?>,
                                        slidesToScroll: <?php echo $slideBy; ?>
                                    }
                                },
                                {
                                    breakpoint: 479,
                                    settings: {
                                        slidesToShow: <?php echo $nb_column5; ?>,
                                        slidesToScroll: <?php echo $slideBy; ?>
                                    }
                                },
                                {
                                    breakpoint: 319,
                                    settings: {
                                        slidesToShow: 1,
                                        slidesToScroll: <?php echo $slideBy; ?>
                                    }
                                }
                            ]
                        });
                    });
                    //]]>
                });
            </script>
        </div>
    </div>
<?php } else {
	echo '<h2 style="color:#f1703d;">'.__('Has no content to show!').'</h2>';
}
?>

