// 404 PAGE
.cms-noroute-index {
  .page-main {
    background: url('../images/bg-404.jpg') no-repeat top center;
    min-height: 703px;
    .page-404 {
      text-align: center;
      color: #fff;
      .title-page {
        font-size: 100px;
        font-weight: bold;
        margin-top: 133px;
        span {
          color: @color_theme;
        }
      }
      .desc {
        font-size: 16px;
        margin-bottom: 35px;
      }
      .desc-2 {
        color: #d9d9d9;
        margin-bottom: 30px;
      }
      .newsletter-wrap {
        max-width: 487px;
        margin: auto;
        position: relative;
        margin-bottom: 20px;
        input {
          height: 50px;
          border-radius: 0;
          border: 1px solid #d7d7d7;
          color: #8d8d8d;
          text-indent: 75px;
        }
        button.action.subscribe.primary {
          position: absolute;
          right: 0;
          top: 0;
          text-transform: uppercase;
          width: 145px;
          height: 50px;
        }

      }
      .action-back-home a {
        color: #fefefe;
        text-transform: uppercase;
        &:after {
          content: "\f105";
          font-family: fontawesome;
          padding-left: 10px;
        }
        &:hover {
          color: @color_theme;
        }
      }
    }
  }

}

// LOGIN PAGE

.login-container{
  .block-customer-login,
  .block-new-customer{
    padding:30px;
    background-color: #fafafa;
    min-height: 439px;
    border:1px solid @border-color;
	margin-bottom: 20px;

    .block-title{
      font-size: 100%;
      padding: 0 0 15px 0;
      border: none;
      margin-bottom: 15px;
    }
	a.action.create.primary {
		color: #fff;
		background: @color_theme;
		padding: 10px 20px;
		font-weight: bold;
		&:hover {
			background: @color_theme_active;
		}
	}
  }
}

// CREATE ACCOUNT

.form-create-account{
  .fieldset{
    width: 48.8%;
    min-height: 310px;
    padding:30px;
    background-color: #fafafa;
    border:1px solid #ddd;
	min-height: 319px;

    .legend{
      border-bottom: 1px solid #e8e8e8;
      font-size: 133.33%;
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    &.create.info{
      float: left;

      .field-name-firstname,
      .field-name-lastname{
        width: 47%;
      }

      .field-name-firstname{
        float: left;
      }

      .field-name-lastname{
        float: right;
      }
    }

    &.create.account{
      float: right;
    }
  }

  .actions-toolbar{
    clear: both;
    padding:30px;
    background-color: #fafafa;
    border:1px solid #ddd;
  }
}

// SHOPPING CART

.cart-container{
  .paypal-review-discount .block > .title:after{
    right:0;
    top:-7px;
  }

  .cart-summary{
    width: 30%;
    background: none;
    border:1px solid #ddd;
    padding: 25px;
	top: 0 !important;

    .summary.title{
      margin-top: 0;
      text-transform: uppercase;
      font-weight: 600;
    }

    .block > .title:after{
      right:0;
      top:-7px;
    }

    .block{
      .title{
        padding:10px 10px 5px;
        background: #fafafa;
        border:1px solid #ddd;

        strong{
          font-weight: 500!important;
          font-size: 100%!important;
          text-transform: uppercase;
        }
      }

      .content{
        padding:10px 0;
      }
    }

    .block .fieldset{
      margin:0;
    }
  }

  .form.form-cart{
    width: 67%;
  }
  .cart.main.actions{
    .action{
      border:none;
      color: #fff;
      font-weight: 500;
      .border_radius(0);
      height: 36px;
      line-height: 36px;
      padding:0 20px;
      font-family: inherit;
      font-size: 92.86%;
      margin-bottom: 10px;
      margin-right: 0;
	  background: @color_theme;

      span{
        font-size: 92.86%;
      }

      &:before{
        display: none;
      }

      &.update{
        margin-left: 10px;
      }
	  &:hover {
		background: @color_theme_active;
	  }
    }


  }

  .cart.table-wrapper{
    .product-item-name{
      font-weight: 500;
      text-transform: uppercase;
    }
    .item .col.item{
      border-top: none;
    }

    .actions-toolbar{
      text-align: right;

      .action-edit,
      .action-delete{
        background:none;
        font-weight: 500;
        font-size: 92.86%;

        &:hover{
          border:none;
          color: #fff;
		  background: @color_theme;
		  border: 1px solid @color_theme;
        }
      }
    }
  }

  mark, .mark{
    background: none;
  }

  .cart-totals{
    border-top: none;
  }

  .checkout-methods-items{
    background: #fafafa;
    margin:25px -25px -25px;
    padding:25px;
    border-top: 1px solid #ddd;

    .action.primary.checkout{
      height: 40px;
      padding: 0 20px;
      border:none!important;
      color: #fff;
      letter-spacing: 0;
    }
  }
}
.checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary,
.checkout-shipping-method .actions-toolbar .action.primary {
    line-height: 0;
}

// COMPARE PAGE

.table-comparison{
  th{
    text-transform: uppercase;
  }

  .products-grid{
    .item{
      float: left;
    }
  }
}

// WISHLIST

.wishlist-index-index .products-grid .product-item-actions{
  clear: both;

  a{
    float: left!important;
    margin-top: 0!important;
  }
}

.form-wishlist-items .products-grid.wishlist .product-items li.product-item .fieldset .product-item-actions{
  margin:0 0 10px!important;
}

.form-wishlist-items{
  .box-tocart{
    .control{
      margin-bottom: 10px;
      margin-right: 5px!important;
    }
  }
}

// CHECKOUT PAGE

.checkout-container{
  .opc-sidebar{
    .modal-header{
      border:none;
      padding:0;
    }
    .modal-content{
      .opc-block-summary{
        padding:30px;
        margin:0 0 30px;
        background-color: #fafafa;

        > .title{
          font-size: 154.76%;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }

  }

  .authentication-wrapper{
    margin-top: 10px;

    button{
      text-transform: uppercase;
    }
  }

  .block-customer-login{
    .block-title{
      font-size: 92.86%;
      margin-bottom: 0;
      position: relative;
      display: inline-block;
      top:-26px;
    }
  }

  .table-checkout-shipping-method thead th{
    display: none!important;
  }

  .opc-wrapper .fieldset > .field.required > label:after{
    top:0;
    margin-left: 4px;
  }

  .opc-block-shipping-information{
    padding:0;

    .ship-to,
    .ship-via{
      padding:30px;
      margin:0 0 30px;
      background-color: #fafafa;

      .shipping-information-title{
          font-size: 154.76%;
          text-transform: uppercase;
          font-weight: 600;
      }

      .action-edit{
        padding:0!important;
        border:none!important;
      }
    }

  }

  .checkout-payment-method .payment-method-content{
    padding: 0 0 20px;
  }

  .checkout-payment-method .payment-option-title{
    padding-left: 0;
  }

  .checkout-payment-method .payment-option-content{
    padding: 0 0 20px;
  }

  .checkout-payment-method .step-title{
    text-transform: uppercase;
    font-weight: 600;
  }

  .opc-wrapper .shipping-address-item{
    width: 100%;
  }

  .opc-wrapper .shipping-address-items{
    margin-top: 30px;
  }

  .opc-wrapper .action-show-popup > span:before{
    content: "";
  }
}



// WISHLIST PAGE

.form-wishlist-items{
  margin:0 -15px;

  .products-grid.wishlist{
    display: table;
    width: 100%;
    margin-bottom: 30px;

    .product-items{
      padding:0;
      list-style: none;

      li.product-item{
        float: left;
        width: 33.33%;
        padding:15px;
        margin:0;
        background-color: #fff;
        position: relative;
        border:1px solid transparent;

        .product-item-info{
          width: 100%!important;
        }

        .product-item-inner{
          display: none;
          position: absolute;
          left:-1px;
          right:-1px;
          z-index: 10;
          padding:0 15px 15px;
          background-color: #fff;
          border:1px solid #ddd;
        }

        .fieldset{
          .field.qty{
            display: inline-block;
            vertical-align: bottom;
            margin: 0;

            .qty{
              height: 35px;
            }
          }

          .product-item-actions{
            display: inline-block;
            vertical-align: bottom;
            margin: 0;
          }
        }

        &:hover{
          border: 1px solid #ddd;
          .product-item-inner{
            display: block;
          }
        }
      }
    }
  }

  .actions-toolbar{
    clear: both;
    padding:0 15px;
  }
}

// ABOUT US PAGE


.category-about-us{
  .page-title{
    display: none;
  }
}
.about-us{
  background-color: #fff;

  &.about-demo-1 {
	.about-info {
		margin-bottom: 40px;
	}
  }
  .about-title{
	font-size: 171.43%;
	color: #1e1e1e;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
  }
	.our-team-content .about-title {
		text-align: center;
		margin: 45px 0;
	}

  .name-member{
    font-size: 108.33%;
    font-weight: bold;
  }

  .job-member{
    margin:7px 0 10px;
    font-style: italic;

    &:before,
    &:after{
      content: "---";
      margin:0 5px;
    }
  }

  .social-member{
    list-style: none;
    padding-top: 10px;

    .social-icon{
      display: inline-block;
      margin:0 3px;

      a{
        display: inline-block;
        color:#fff;
        font-size: 16px;
        width:30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;

        span{
          display: none;
        }

        &:hover{
          background-color: @color_theme!important;
        }
      }

      &.rss{
        a{
          background-color: #f8bc2e;
        }
      }

      &.facebook{
        a{
          background-color: #39599f;
        }
      }

      &.twitter{
        a{
          background-color: #45b0e3;
        }
      }

      &.google{
        a{
          background-color: #1872bf;
        }
      }
    }
  }

  .des-member.des-client{
    max-width: 950px;
    margin: 0 auto;
    font-style: italic;
    margin-bottom: 10px;
  }

  .member-info{
    text-align: center;
    padding-top:15px;
  }

  .client-say-content{
    text-align: center;
    border-top:1px dashed @border-color;
    border-bottom:1px dashed @border-color;
    position: relative;

    .about-title{
      position: relative;
      top: -12px;
      background-color: #fff;
      padding: 0 10px;
      display: inline-block;
    }

    .client-say-slider{
      padding-top:15px;

      .owl-dots{
        position: absolute;
        left:0;
        top:-13px;
        width: 100%;

        span{
          width: 16px;
          height:16px;
          background-color: #d9d9d9;
          border:none;
          margin:0 2px;
          opacity: 1;
        }

        .owl-dot{
          &.active{
            span{
              background-color: #929292;
            }
          }

          span:hover{
            background-color: #929292;
          }
        }

      }
    }

  }

  .about-us-center{
    text-align: center;

    .content-description{
      padding-top: 25px;
      clear: both;
      margin-bottom: 30px;
    }
  }

  .client-logo-content{
    border-bottom: 1px dashed @border-color;
    border-top: 1px dashed @border-color;
    padding-bottom: 10px;
    text-align: center;

    .about-title{
      background: #fff none repeat scroll 0 0;
      display: inline-block;
      margin: 0;
      padding: 0 10px;
      position: relative;
      text-align: center;
      top: -11px;
    }
	  .owl-controls{
		.owl-nav{
		  div{
			position: absolute;
			top: 12px;
			&.owl-next {
			}
			&.owl-prev {
			}
		  }
		}
	  }
  }

  .owl-controls{
    .owl-nav{
      div{
		position: absolute;
		top: 24%;
		&.owl-next {
			right: -26px;
		}
		&.owl-prev {
			left: -26px;
		}
      }
    }
  }

  .client-logo-slider{
    padding:0 25px;
  }

  .about-image-slider{
    max-width: 570px;
    margin: 0 auto;

    .owl-controls .owl-nav div{
      top:50%;
      margin-top:-15px;

      &:before{
        border-radius: 0;
        -webkit-border-radius:0;
        background-color: transparent;
      }

      &.owl-next{
        right:10px;
      }

      &.owl-prev{
        left:10px;
      }

      &:hover{
        border-color: @color_theme;

        &:before{
          color: #fff;
        }
      }
    }
  }

  .skills-value{
    padding-top:52px;

    .label-skill{
      font-weight: bold;
    }

    .range-value{
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      height:20px;
      border-radius: 3px;
      -webkit-border-radius: 3px;

      .rating-skills{
        position: absolute;
        top:0;
        left:0px;
        display: inline-block;
        height: 100%;
        overflow: hidden;
        text-indent: -9999px;

        &.skill-1{
          background-image: url(../../images/skill-style-1.png);
          background-position: -28px 0;
        }

        &.skill-2{
          background-image: url(../../images/skill-style-2.png);
          background-position: 20px 0;
        }

        &.skill-3{
          background-image: url(../../images/skill-style-3.png);
          background-position: 20px 0;
        }
      }
    }

  }

  .about-us-content .description-about{
    padding:20px 0;
  }

  .content-faq{
    position: relative;
    top:-15px;

    .panel{
      box-shadow: none;
      -webkit-box-shadow: none;
      border-bottom: 1px solid @border-color;
      border-radius: 0;
      -webkit-border-radius: 0;
      margin:0;

      .panel-title{
        font-size: 92.86%;
        font-weight: bold;

        a{
          display: block;
          padding: 15px 0 15px 25px;
          position: relative;

          &:after{
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            content:"";
            width: 4px;
            height:4px;
            position: absolute;
            left:6px;
            top:50%;
            margin-top: 6px;
            background-color: @color_theme;
          }

          &:before{
            background-color: @color_theme;
            content: "-";
            width: 16px;
            height:16px;
            display: inline-block;
            position: absolute;
            left:0px;
            top:50%;
            margin-top:-8px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            color: #fff;
            text-align: center;
            line-height: 16px;
          }

          &.collapsed{
            &:after{
              background-color: #737373;
            }

            &:before{
              background-color: #737373;
              content: "?";
            }
          }
        }
      }

      .panel-body{
        padding: 0 0 13px;
      }
    }
  }

}
.about-us.about-demo {
	.about-title {
		margin: 43px 0 20px;
	}
	.about-text {

		p {
			margin-bottom: 20px;
		}
		ul {
			margin-top: 20px;
			> li {
				position: relative;
				margin: 5px 0;
				&:before {
					content: "\f105";
					font-family: fontawesome;
					margin-right: 11px;
				}
			}
		}
	}
	.box-item.box-right .about-image {
		margin-top: -3px;
		margin-bottom: -7px;
	}
}



// CONTACT US

.google-map{
  border:5px solid #ddd;
  margin-bottom: 40px;

  #map{
    width: 100%;
    height:361px;
  }
}

.contact-info{
  .title-bonus-page{
    margin-bottom: 25px;
  }

  .address-info{
    margin-bottom: 15px;

    li{
      padding:10px 0px 10px 30px;
      border-top: 1px solid #f3f3f3;
      position: relative;

      &:before{
        position: absolute;
        left:0px;
        top:7px;
        font-family: fontawesome;
      }

      &.add-icon{
        &:before{
          content: "\f041";
          font-size:21px;
          padding-left: 3px;
        }
      }

      &.email-icon{
        &:before{
          content: "\f0e0";
          font-size:16px;
        }
      }

      &.phone-icon{
        &:before{
          content: "\f095";
          font-size:18px;
        }
      }
    }
  }
}

.contact-us-page{
  .banner-bottom-wrapper{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }

  .banner-about-us{
    padding-top: 50px;
  }

  .form.contact{
    .title-bonus-page{
      margin-bottom: 25px;
    }

    .fieldset{
      margin-bottom: 30px;
    }

    .left-input{
      float: left;
      width: 270px;

      .field{
        margin-bottom: 30px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    .field.comment{
      margin-left: 300px;

      .input-text{
        height: 165px;
      }
    }
  }
}

// RESPONSIVE BONUS PAGE


@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 991px) {
  // 404
  .cms-noroute-index .page-main .page-404 .title-page {
    font-size: 90px;
  }

  // ABOUT US
  .about-us.about-demo .row.box-item {
    display: inline-block;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid @border-color;
    .about-title {
      margin: 0;
    }
    .about-text p:last-child {
      margin-bottom: 0;
    }
    &.box-right .about-info {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  // SHOPPING CART

  .cart-container .form.form-cart{
    width: 100%;
  }

  .cart-container .cart-summary{
    position: relative;
    top: auto !important;
    width: 100%;
  }

  // LOGIN PAGE
  .login-container .block-customer-login,
  .login-container .block-new-customer{
    min-height: 452px;
  }

  // ABOUT US
  .image-about-us{
    margin-bottom: 40px;
  }
	.about-image {
		margin-bottom: 40px;
	}

}

@media (max-width: 767px) {
  // 404
  .cms-noroute-index .page-main .page-404 {

    .title-page {
      font-size: 70px;
    }

    .desc {
      font-size: 15px;
    }
    .desc-2 {
      font-size: 13px;
    }

    .action-back-home a {
      font-size: 13px;
    }

  }

  // LOGIN PAGE
  .login-container .block-customer-login,
  .login-container .block-new-customer{
    min-height: auto;
  }

  // CREATE ACCOUNT

  .form-create-account .fieldset{
    width: 100%;
    float: none;
  }

  // SHOPPING CART

  .cart-container .form.form-cart{
    width: 100%;
    float: none;
  }

  .cart-container .cart-summary{
    position: relative;
    top: auto !important;
    width: 100%;
  }

  .cart-container .action.continue,
  .cart-container .action.clear,
  .cart-container .action.update{
    width: 100%;
    margin: 0 0 10px!important;
  }



  // ABOUT US
  .image-about-us{
    margin-bottom: 40px;
  }
  .about-image {
	margin-bottom: 40px;
  }

  // CONTACT US

  .contact-us-page .form.contact .left-input{
    width: 100%;
  }

  .contact-us-page .form.contact .field.comment{
    margin-left: 0;
    clear: both;
    padding-top: 30px;
  }

  // MYACCOUNT

  .block-collapsible-nav{
    position: relative;
    top: auto;
    left: auto;

    .title{
      background-color: #f5f5f5;
      padding: 14px 40px 10px 15px;
    }
  }

}

@media (max-width: 480px) {
  // 404
  .cms-noroute-index .page-main .page-404 {
    .title-page {
      font-size: 38px;
    }
    .newsletter-wrap input {
      text-indent: 10px;
    }
    .newsletter-wrap button.action.subscribe.primary {
      width: 90px;
    }
  }

  .form-wishlist-items .products-grid.wishlist .product-items li.product-item{
    width: 100%!important;
  }
}