#yt-totop{
    bottom: 50px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 800;
	background-color: @color_theme;

  &:before{
    content:"\f106";
    font-family: fontawesome;
    font-size: 20px;
  }

  &:hover{
    background-color: @color_theme_active;
  }
}

.footer-container {
	position: relative;
}
.footer{

  .footer-top{
	text-align: center;
    background: #efefef;
    padding: 36px 0 6px;
	  .brand-block {
		.list-brands {
		  list-style: none;
		  margin: 0 -15px;

		  li {
			margin-bottom: 30px;

			a {
			  display: block;
			  .transition(.1s);
			  overflow: hidden;
			  height: 78px;
				text-align: center;
				opacity: 0.2;

			  img {
				max-width: 100%;
			  }

			  &:hover {
				  opacity: 1;
			  }
			}
		  }
		}
	  }

  }

  .footer-middle{
	padding: 40px 0 17px;
	color: #1c1c1c;
	
      .socials-wrap{
        .title-follow{
          display: none;
        }

        ul{
          margin:22px 0 0;
		  max-width: 199px;

          li{
            display: inline-block;
            margin: 0 10px 10px 0;
			position: relative;
			float: left;
            a{
				position: relative;
				display: inline-block;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 43px;
				font-size: 16px;
				color: #898989;
				background: #333333;
				.transition(.3s);
              .name-social{
                display: none;
              }
            }
			&:hover{
				a {
					background-color: @color_theme;
					color: #fff;
				}
			}			
          }
        }
      }
	> .container > .row:first-child > div {
		position: relative;
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
		&:after {
			content: "";
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 0;
			height: 1px;
			display: inline-block;
			background: #dfdfdf;
		}
	}
	.block {
		background: none;
		margin-bottom: 23px;
		.title {
			text-transform: uppercase;
			color: #000;
			position: relative;
			font-weight: bold;
			font-size: 114.29%;
			margin-bottom: 15px;
		}
		.content {
			> p {
				margin-bottom: 10px;
			}		
			ul {
				padding-top: 5px;
				li {
					line-height: 30px;
					a {
						position: relative;
						line-height: 28px;
						.transition(.3s);
						&:before {
							content: "";
							width: 4px;
							height: 4px;
							background: #1c1c1c;
							float: left;
							position: relative;
							border-radius: 100%;
							margin-right: 15px;
							line-height: 28px;
							top: 12px;
						}
						&:hover {
							color: @color_theme;	
							&:before {
								background: @color_theme;
							}							
						}
					}							
				}
			}
		}
		&.ft-contact-us {
			.content > p {
				padding-left: 33px;
				position: relative;
				> .fa {
					position: absolute;
					left: 0;
					top: 4px;
				}
				&:hover {
					color: @color_theme;
				}
			}			
		}
		&.block-subscribe-footer {
			form {

				position: relative;
				.form-action {
					position: relative;
					margin-top: 25px;
				}				
				.input-box input {
					height: 40px;
					border: 0;
					background: #efefef;
					margin-right: 40px;
					font-family: inherit;
					color: #686868;
					padding-left: 18px;
					font-size: 85.71%;
				}
				.primary {
					position: absolute;
					right: 0;
					top: 0;
					width: 40px;
					height: 40px;
					&:before {
						content: "\f105";
						font-family: fontawesome;
						position: relative;
						left: -2px;
					}
					&:hover {
						background-color: @color_theme_active;
					}
					span {
						display: none;
					}
				}
			}
		}		
		.tags-list {
			margin: 40px 0 0 0;
		}

	}
  }

  .copyright{
	background: #000000 url('../images/bg-coppyright.jpg') no-repeat top center;
	padding: 125px 0 28px;
	text-align: center;
	color: #ffffff;
	min-height: 416px;
	.intro-coppyright p {
		margin: 0 11% 10px;
	}
	
	.payment-footer {
		text-align: center;
		margin: 38px 0 22px;
	}

  }
}


@media (max-width: 767px) {
    .footer .footer-top .brand-block .list-brands li {
      width: 33.33%;
      float: left;
    }
	.footer .footer-top {
		.about-us-footer p {
			padding: 3px 0% 8px;
		}	
		.social-footer .socials-wrap ul li {
			margin: 0 5px;
			a {
				font-size: 14px;
				height: 43px;
				line-height: 40px;
				width: 43px;
				border-width: 2px;
			}
		}
	}

  .footer .footer-middle .block {
    display: inline-block;
  }

  .footer .copyright
	.footer .copyright {
		padding: 28px 0;
		.copyright-footer {
			text-align: center;
			margin-bottom: 15px;
		}
		.payment-footer {
			text-align: center;
		}

	}
    .intro-coppyright p {
      margin: 50px 5% 10px;
    }

}


@media (max-width: 479px) {

  .footer .copyright {
    padding: 70px 0 28px;
  }

    .footer .footer-top .brand-block .list-brands li {
      width: 50%;
    }

    .footer .footer-middle .block {
      width: 100%;
    }

    .footer .copyright .intro-coppyright p {
      margin: 0;
    }
    .copyright-footer {
      font-size: 85.71%;
      margin: 0 20px;
    }

}