@media (min-width: 1200px) {
	.cms-home-style-2 {
		.cb-wrap .title-home {
			padding-top: 41px;
		}
		.cb-wrap .desc {
		    margin: 12px 0 53px;
		}
		.block-slider-list-product,
		.deal-wrapper-index2 {
			margin-top: 15px;
		}
		.bs-pretext {
			margin: 17px 0 34px;
		}	
		.block-slider-list-product .products-list .item .item-inner .box-info-list .product-name {
			margin-top: 10px;
			line-height: 150%;
		}
	}

}
.cb-wrap {
	.title-home {
		padding-top: 50px;
	}
	.desc {
		text-align: center;
		margin: 15px 0 60px;
        font-size: 114.29%;
	}
	.cb-list .cb-item {
		padding: 0;
		position: relative;

		.cb-info {
			background: rgba(0,0,0,0.6);
			color: #fff;
			text-align: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			.transition(.3s);
			.scale(0);
			.title h3 {
				font-size: 214.29%;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 109px;
				margin-bottom: 18px;
				a {
					color: #fff;
					&:hover {
						color: @color_theme;
					}
				}
			}
			.desc {
				font-size: 114.29%;
				margin-bottom: 41px;
			}
			.action a {
				width: 140px;
				height: 40px;
				text-transform: uppercase;
				font-size: 12px;
				color: #fff;
				background: @color_theme;
				display: inline-block;
				line-height: 40px;
                font-weight: bold;
				&:hover {
					background: @color_theme_active;
				}
			}
		}
		&:hover {
			.cb-info {
				.scale(1);
			}
		}
	}
}
.new-arivals-wrap {
	> div {
		padding: 40px 0 0;
		display: inline-block;
		width: 100%;
	}
}
.static-image-1-index2 > div {
    padding: 0;
}
.cms-home-style-2 {
	.title-home h2 {
		text-transform: uppercase;
		color: #000;
		font-weight: bold;
		font-size: 214.29%;
		text-align: center;
	}
	.sm-imageslider-inner.theme2 .item .item-info {
	    margin-left: -513px;
		.item-title {
			font-size: 60px;
			margin-top: 90px;
			.item-desc {
				padding: 14px 0 39px;
				.item-desc-inner {
					font-size: 25px;
				}
			}
		}	
	}
	.client-say-wrap{
		margin-top: 5px;
		&:before {
			.opacity(.63);
		}		
	}

	.latest-post-block {
		padding: 42px 0 45px;
	}
}
