// RESPONSIVE
@media (max-width: 1500px) {
	.cb-wrap .cb-list .cb-item .cb-info .title h3 {
		font-size: 190%;
		margin-top: 67px;
	}
  .sm-imageslider-inner.theme2 .owl-nav > div {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
  .header-style-1{
    .sm-imageslider-inner.theme2 .item .item-info {
      top: 13%;
    }
  }
  // Home page 2
  .cms-home-style-2{
    .sm-imageslider-inner.theme2 .item .item-info {
      top: 6%;
    }
  }// End home page 2
}

@media  all and (min-width: 1200px) and (max-width: 1400px)  {
	.home-style-1 .static-image-1:first-child{
		> div {
			max-height: 502px;
			overflow: hidden;
		}
	}
}

@media (min-width: 1200px) {
	.cms-home-style-1{
		.latest-post-block .slider-latest-blog .slider-blog {
			padding-top: 43px;
		}
	}
}
@media (max-width: 1199px) {
  .sm-imageslider-inner.theme2 .owl-nav > div {
    display: none !important;
  }
  .best-deal-wrap .sm-countdownproduct-slider .title-home h2 {
    font-size: 320%;
  }
  .latest-post-block .pretext {
    margin: 8px 10% 26px;
  }
  .cb-wrap .cb-list .cb-item {
    font-size: 69.64%;
    .cb-info .title h3 {
      margin-top: 14%;
    }
  }


	// Home page 1
	.cms-home-style-1{
        .sm-imageslider-inner.theme2 .item .item-info {
          margin-left: -471px;
          top: 14%;

          .item-title {
            font-size: 80px;
          }

          .item-desc {
            padding: 13px 0 30px;

            .item-desc-inner {
              font-size: 24px;
            }
          }
        }

	}// End home page 1

    .home-style-1{
      .bs-pretext {
        padding: 0 10%;
      }

      .client-say-wrap .testimonials-home .testimonials-slider .owl-item .comment .content {
        padding: 20px 0;
      }

    }// End home page 1

  // Home page 2
  .cms-home-style-2{
    .sm-imageslider-inner.theme2 .owl-nav > div {
      display: block !important;
    }
    .sm-imageslider-inner.theme2 .item .item-info {
      top: 0;
      margin-left: -390px;
      .item-title {
        font-size: 50px;
        margin-top: 40px;
      }

      .item-desc .item-desc-inner {
        font-size: 24px;
      }
    }

    .deal-wrapper-index2 .products-grid .item .item-inner .box-info .deals-detail {
      margin: 31px 0 34px;
    }

    .block-slider-list-product .owl-controls .owl-nav div {
      &.owl-prev {
        left: 10%;
      }
      &.owl-next {
        right: 10%;
      }
    }
  }// End home page 2

	// Home page 2
	.home-style-2{
      .bs-pretext {
        padding: 0 10%;
      }
	}// End home page 2

	// Home page 3
	.home-style-3{
	
	}// End home page 3
	
	// Home page 4
	.home-style-4{
	}// End home page 4

	// Home page 5
	.home-style-5{
	}// End home page 5
}

@media (max-width: 991px) {
  .best-deal-wrap .sm-countdownproduct-slider {
    .title-home h2 {
      font-size: 232.14%;
    }
    .cdps-pretext {
      font-size: 139.29%;
    }
    .smcountdownproductslider-heading .smcountdownproductslider-time {
      .deals-time {
        width: 80px;
        height: 80px;
        margin: 15px;
        .num-time {
          margin: 5px 0 5px;
        }
        .title-time {
          
        }
      }
    }
  }
  .sm-countdownproduct-list .cslider-item {
    width: 33.33%;
  }

  .client-say-wrap .testimonials-home .navslider > {
    a.prev {
      left: 0;
    }

    a.next {
      right: 0;
    }

  }
  .latest-post-block .pretext {
    margin: 8px 0 26px;
    
  }

  .cb-wrap .cb-list .cb-item {
    font-size: 92.86%;
    .cb-info .title h3 {
      margin-top: 20%;
    }
  }
	// Home page 1
	.cms-home-style-1 {
      .sm-imageslider-inner.theme2 .item .item-info {
        margin-left: -359px;
        max-width: 370px;

        .item-title {
          font-size: 50px;
        }

        .item-desc .item-desc-inner {
          font-size: 18px;
        }
      }
      .title-home h2 {
        font-size: 185.71%;
      }
	}

	.home-style-1{
      .bs-pretext {
        padding: 0;
        
      }
	
	}// End home page 1

  // Home page 2
  .cms-home-style-2{
    .title-home h2 {
      font-size: 185.71%;
    }
    .sm-imageslider-inner.theme2 .item .item-info {
      top: 0;
      margin-left: -330px;
      max-width: 339px;
      .item-title {
        font-size: 40px;
      }

      .item-desc {
        padding: 13px 0 30px;
        .item-desc-inner {
          font-size: 20px;
        }
      }

    }

    .grid-product-list .item {
      width: 33.33%;
    }
    .deal-wrapper-index2 .deals-countdown .timer-product {
      font-size: 74.29%;
    }
    .block-slider-list-product .owl-controls .owl-nav div {
      top: -115px;
      &.owl-prev {
        left: 0;
      }
      &.owl-next {
        right: 0;
      }
    }
  }

    .deal-wrapper-index2 .products-grid .item .item-inner .box-info .deals-detail {
      margin: 31px 0 34px;
    }
    // End home page 2
    // Home page 2
    .home-style-2{
      .deals-pretext,
      .bs-pretext {

      }

      .client-say-wrap .testimonials-home-index2 {
        .navslider > a {
          color: #ccc;
          &.prev {
            left: 0;
          }
          &.next {
            right: 0;
          }
        }
        .testimonials-slider .comment .content {
          font-size: 92.86%;
        }

      }

    }

    // Home page 3

    .home-style-3{
    }// End home page 3

    // Home page 4
    .home-style-4{
    }// End home page 4

    // Home page 5
    .home-style-5{
    }// End home page 5

  }



@media (max-width: 767px) {
  .sm-imageslider-inner.theme2 .owl-nav > div {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: -15px !important;
  }
  .sm-imageslider-inner.theme2 .item .item-info .action a {
    width: 130px !important;
    height: 40px !important;
    line-height: 40px !important;
  }

  .sm-imageslider .owl-controls .owl-dots {
    bottom: 10px !important;
  }

  .best-deal-wrap .sm-countdownproduct-slider {
    .title-home {
      h2 {
        font-size: 180%;
      }
    }

    .cdps-pretext {
      font-size: 92.86%;
    }

    .smcountdownproductslider-heading .smcountdownproductslider-time {
      .deals-time {
        width: 60px;
        height: 60px;
        margin: 10px;
        .num-time {
          margin: 5px 0 5px;
          font-size: 139.29%;
        }
        .title-time {
          font-size: 92.86%;
        }
      }
    }

  }

  .cb-wrap .cb-list .cb-item {
    font-size: 74.29%;
  }
	// Home page 1
	.cms-home-style-1 {

        .sm-imageslider-inner.theme2 .item .item-info {
          margin-left: -269px;
          max-width: 269px;

          .item-title {
            font-size: 36px;
          }

          .item-desc {
              padding: 13px 0;

              .item-desc-inner {
                font-size: 16px;
              }
          }
        }


		.brand-block .list-brands li {
			margin-bottom: 30px;
			float: left;
			width: 50%;
			a {
				overflow: hidden;
			}
		}			

	}

	.home-style-1{

      .client-say-wrap .testimonials-home .testimonials-slider .owl-item .comment .content {
        padding: 10px 20px;
      }

	}// End home page 1

	// Home page 2
    .cms-home-style-2 {
      .sm-imageslider-inner.theme2 .item .item-info {
        top: -7px;
        margin-left: -236px;
        max-width: 280px;
        .item-title {
          font-size: 30px;
        }

        .item-desc {
          padding: 13px 0 15px;
          .item-desc-inner {
            font-size: 16px;
          }
        }

      }
      .cb-wrap .cb-list .cb-item {
        width: 50%;
        float: left;
      }

      .grid-product-list .item {
        width: 50%;
      }
    }
	.home-style-2{
      .block-slider-list-product .products-list .item .item-inner .box-info-list {
        clear: inherit;
      }
	}// End home page 2

	// Home page 3
	.home-style-3{
	}// End home page 3

	// Home page 4
	.home-style-4{
	}// End home page 4
	
	// Home page 5
	.home-style-5{
	}// End home page 5
}


@media (max-width: 567px) {

  .best-deal-wrap .sm-countdownproduct-slider {
    width: 80%;
  }

	// Home page 1
	.cms-home-style-1 {
      .title-home h2 {
        font-size: 139.29%;
      }
      .sm-imageslider-inner.theme2 .item .item-info {
        margin-left: -223px;
        max-width: 190px;

        .item-title {
          font-size: 24px;
        }

        .item-desc {
          .item-desc-inner {
            font-size: 13px;
          }
        }
      }
	}

	.home-style-1{

      .client-say-wrap .testimonials-home .testimonials-slider .owl-item .comment .content {
        padding: 10px 25px;
      }
	}// End home page 1

    .cms-home-style-2 {
      .sm-imageslider-inner.theme2 .item .item-info {
        top: -20px;
        margin-left: -190px;
        .item-title {
          font-size: 24px;
        }
        .item-desc .item-desc-inner {
          font-size: 13px;
          .action a {
            font-size: 92.86%;
          }
        }
      }

    }
	// Home page 2
	.home-style-2{
      .block-slider-list-product .products-list .item .item-inner .box-info-list .bottom-action .btn-action.btn-cart {
        width: 130px;
      }
      .bs-pretext {
        padding: 0;
      }
	}// End home page 2

	// Home page 3
	.home-style-3{
	}// End home page 3

	// Home page 4
	.home-style-4{
	}// End home page 4
	
	// Home page 5
	.home-style-5{
	}// End home page 5
}


@media (max-width: 479px) {

  .sm-imageslider-inner.theme2 .item .item-info .action a {
    width: 100px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 11px !important;
    margin: 12px -3px;
  }

  .best-deal-wrap .sm-countdownproduct-slider {
    width: 100%;
    .smcountdownproductslider-heading .smcountdownproductslider-time {
      .deals-time {
        width: 50px;
        height: 50px;
        margin: 5px;
        .num-time {
          margin: 5px 0 5px;
          font-size: 74.29%;
        }
        .title-time {
          font-size: 92.86%;
        }
      }
    }
  }

	// Home page 1
	.cms-home-style-1 {
      .sm-imageslider-inner.theme2 .item .item-info {
        margin-left: -142px;
        max-width: 140px;
        top: 20%;

        .item-title {
          font-size: 18px;
        }

        .item-desc {
          display: none;
        }
      }
	}

	.home-style-1{
	
	}// End home page 1

	// Home page 2
    .cms-home-style-2 {
      .title-home h2 {
        font-size: 139.29%;
      }
      .sm-imageslider-inner.theme2 .item .item-info {
        margin-left: -113px;
        max-width: 150px;
        .item-title {
          font-size: 14px;
        }
        .item-desc {
          display: none;
        }
      }
      .cb-wrap .cb-list .cb-item {
        width: 100%;
      }
      .grid-product-list .item {
        width: 100%;
      }
		.block-slider-list-product .owl-controls .owl-nav div {
			top: -118px;
			&.owl-prev {
				left: 0;
			}	
			&.owl-next {
				right: 0;
			}	
		}	  
      .block-slider-list-product .products-list .item .item-inner {
        .box-image-list {
          width: 100%;
          clear: both;
        }

        .box-info-list {
          margin: 0;
          display: inline-block;
          padding: 15px;
        }

      }

    }
	.home-style-2{
      .client-say-wrap .testimonials-home-index2 .testimonials-slider .comment .content {
        padding: 10px 10%;
      }
	}// End home page 2

	// Home page 3
	.home-style-3{
	}// End home page 3

	// Home page 4
	.home-style-4{
	}// End home page 4
	
	// Home page 5
	.home-style-5{
	}// End home page 5
}