.cms-home-style-1 {
	.header-style-1 {
		.header-bottom .menu-under {
			border-bottom: 0;
		}	
		.menu-vertical-wrap .sambar-inner {
			min-height: 581px;
		}	
	}

	.title-home {
		position: relative;
		line-height: 100%;
		padding: 40px 0 10px;
		text-align: center;
		h2 {
			position: relative;
			text-transform: uppercase;
			color: #000;
			font-size: 214.29%;
			font-weight: bold;
		}
	}
	
	.client-say-wrap {
		.title-home {
			padding: 23px 0 32px;
		}	
	}	

	.top-container-wrap {
		background-color: #edc4b0;
		margin-bottom: 30px;
		position: relative;
		.container {
			position: relative;
			.deal-wrapper {
				position: absolute;
				width: 250px;
				right: 15px;
				top: 50%;
				margin-top: -240px;
				z-index: 1;
				.deal-wrapper-inner {
					background: #fff;
					.title-home {
						border: none;
						margin: 0;
						padding: 0;
						&:before {
							display: none;
						}
						h2 {
							display: block;
							font-size: 16px;
							font-weight: bold;
							color: #303030;
							text-align: center;
							text-transform: uppercase;
							padding: 15px 0;
							&:before {
								.font-awesome (f017, 16px);
								margin-right: 8px;
							}
						}							
					}
					.item-inner {
						margin: 0;
						padding-top: 46px;
					}
					.deals-countdown {
						position: absolute;
						height: 25px;
						line-height: 25px;
						text-align: center;
						top: 0;
						color: @color_theme;
						width: 100%;
						&:after{
							content: "";
							display: inline-block;
							left: 10px;
							right: 10px;
							height: 1px;
							bottom: -21px;
							background: #e1e1e1;
							z-index: 12;
							position: absolute;
						}
						> div{
							display: inline-block;
							margin: auto;
						}
						  .deals-time {
							display: inline-block;
							float: left;
							padding: 0px 6px;
							margin: 0 9px;
							border: 1px solid #e1e1e1;
							font-size: 85.71%;
							position: relative;

							&:after{
							  position: absolute;
							  content: ":";
							  right: -12px;
							  color: #545454 !important;
							}

							&:last-child{
							  &:after{
								display: none;
							  }
							}

							div{
							  display: inline-block;
							}
						  }
					}

					.owl-theme .owl-nav > div {
						.transform_scale(0);
					}
					.products-grid .item .item-inner {
						.box-image a img {
							background: #fff;
						}
						.box-info {
							position: absolute;
							bottom: 0;
							width: 100%;
							min-height: 0;
						}		
						&:hover {
							.box-info {
								display: none;
							}					
						}
					}

					&:hover {
						.owl-theme .owl-nav > div {
							.transform_scale(1);
						}
					}					
				}	
				.deal-posttext {
					margin-top: 5px;
					ul {
						margin: 0 -5px;
						li {
							display: inline-block;
							width: 33.33%;
							float: left;
							text-align: center;
							a {
								background: #fff;
								margin: 5px 5px 0;
								width: 76px;
								height: 76px;
								display: inline-block;
								line-height: 76px;
								.transition(.3s);
								img {
									vertical-align: middle;
								}
								&:hover {
									background: #eaeaea;
								}
							}
						}
					}
				}				
			}
		}
	}

	
}
.home-style-1 {
	.static-image-1 {
		margin-bottom: 30px;
		margin-top: -30px;
	}
	.boxed-container.listingtab-wrap {
		margin-bottom: 44px;
	}
	.static-image-2 {
		margin-top: 14px;
		margin-bottom: 18px;
	}
	.boxed-container.fashion-cat {
		margin-top: 58px;
	}
	.sm-super-categories {
		margin: 9px 0 0 0;
		padding: 0px 0 38px;
		border-bottom: 1px solid #ecf0f1;
	}
	.healthy-cate .sm-super-categories {
		border-bottom: none;
		padding-bottom: 15px;
	}
	.latest-post-block {
		margin-bottom: 73px;
	}
	.brand-wrap {
		margin-bottom: 10px;
		.brand-block {
			margin-bottom: 0;
			.title-home {
				display: none;
			}
		}		
	}

}
