.sm-imageslider-inner {
	overflow: hidden;
}

.sm-imageslider{
  .owl-controls{
    .owl-nav{
      div{
        position: absolute;
        top:50%;
        margin-top: -27px!important;

        &.owl-prev{
          left:30px;
        }

        &.owl-next{
          right:30px;
        }
      }
    }

    .owl-dots{
      position: absolute;
      bottom:25px;
      width: 100%;
    }
  }

}

.sm-imageslider .image-pre-text {
	margin: 10px 0;
}

.sm-imageslider .image-post-text {
	margin-top: 5px;
}

.sm-imageslider .title-imageslider {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}

.sm-imageslider .imageslider-loading{
	position: absolute;
	background: url("../images/477.gif") no-repeat center center  scroll #fff ;
	z-index: 999;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.sm-imageslider-content .animated {
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.sm-imageslider-content .owl-animated-in {
	z-index: 0;
}

.sm-imageslider-content .owl-animated-out {
	z-index: 1;
}

.sm-imageslider-content .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.sm-imageslider-inner .owl-height {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.sm-imageslider-content {
	/*display: none;*/
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
	min-height: 100px;
}

.sm-imageslider-content .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}

.sm-imageslider-inner.theme2 .owl-stage {
}

.sm-imageslider-content .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.theme1 .sm-imageslider-content .owl-stage-outer{
	overflow: hidden;
}

.sm-imageslider-content .owl-stage-outer {
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	/*overflow: hidden;*/
}

.sm-imageslider-content .owl-controls .owl-nav .owl-prev,
.sm-imageslider-content .owl-controls .owl-nav .owl-next,
.sm-imageslider-content .owl-controls .owl-dot {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sm-imageslider-content .owl-dots .owl-dot {
	display: inline-block;
}

.sm-imageslider-content.owl-loaded {
	display: block;
}

.sm-imageslider-content.owl-loading {
	opacity: 0;
	display: block;
}

.sm-imageslider-content.owl-hidden {
	opacity: 0;
}

.sm-imageslider-content .owl-refresh .owl-item {
	/*display: none;*/
}

.sm-imageslider-content .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sm-imageslider-content .owl-item img {
	display: block;
	width: 100%;
}

.sm-imageslider-content.owl-text-select-on .owl-item {
	-webkit-user-select: auto;
	-moz-user-select: text;
	-ms-user-select: element;
	user-select: element;
}

.sm-imageslider-content.owl-rtl {
	direction: rtl;
}

.sm-imageslider-content.owl-rtl .owl-item {
	float: right;
}

/* No Js */
.no-js .sm-imageslider-content {
	display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.sm-imageslider-content .owl-item .owl-lazy {
	opacity: 0;
	-webkit-transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
	-ms-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
}

.sm-imageslider-content .owl-item img {
	transform-style: preserve-3d;
}

.sm-imageslider-inner .owl-theme .owl-controls .owl-nav{
  div{
    width: 54px;
    height: 54px;
    background: url(../images/control.png) no-repeat;
    opacity: 0.5;
    margin:0;

    &:hover{
      opacity: 1
    }

    &:before{
      display: none;
    }

    &.owl-next{
      background-position: left top;
    }

    &.owl-prev{
      background-position: left bottom;
    }
  }
}

.sm-imageslider-content .owl-controls .owl-dot,
.sm-imageslider-content .owl-controls .owl-nav .owl-next,
.sm-imageslider-content .owl-controls .owl-nav .owl-prev {
	-moz-user-select: none;
	cursor: pointer;
}

.sm-imageslider-inner .owl-theme .owl-dots .owl-dot {
	display: inline-block;
}


.sm-imageslider-inner.theme2 .owl-theme .owl-dots .owl-dot.active span,
.sm-imageslider-inner.theme2 .owl-theme .owl-dots .owl-dot:hover span {
    background: @color_theme;
    width: 13px;
    height: 13px;
    top: 1px;
    position: relative;
}

.sm-imageslider-inner .owl-theme .owl-dots .owl-dot span {
	border: 0;
	width: 10px;
    height: 10px;
    margin: 0 5px;
    background: @color_theme_active;
}

.sm-imageslider-inner.theme2 {
	.owl-nav > div {
		display: block;
		height: 60px;
		width: 60px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		z-index: 99;
		color: #FFFFFF;
		text-align: center;
		line-height: 60px;
		font-size: 20px;
		background: #9a9b9b;
		.transition(.3s);
		.transform_scale(0);
		&:before {
			content: "\f105";
			font-family: fontawesome;
			color: #c3c3c3;
			font-size: 30px;
			position: relative;
		}
		
		&:hover {
			background: @color_theme;
			cursor: pointer;
			&:before {
				color: #fff;
			}		
		}
		&.owl-prev {
			left: 0;
			&:before {
				content: "\f104";
				left: -4px;
			}			
		}
		&.owl-next {
			right: 0;
		}	
	}
	&:hover {
		.owl-nav > div {
			.transform_scale(1);
		}
	}
}


.sm-imageslider-inner .owl-item .item img {
	border: none;
}

.sm-imageslider-inner.theme1 .item{
	overflow: hidden;
}

.sm-imageslider-inner.theme2 .item {
	position: relative;
	border: none;
	overflow: hidden;
}

.sm-imageslider-inner.theme2 .item .item-info {
    display: block;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 21.5%;
    margin-left: -585px;
}

.sm-imageslider-inner.theme2 .item .item-info .item-desc {
	padding: 13px 0 53px;
	text-align: left;
	position:relative;
}


.sm-imageslider-inner.theme2 .item .item-info .item-desc .item-desc-inner {
	font-size: 30px;
	position: relative;
	z-index: 2;
	white-space: nowrap;
}

.sm-imageslider-inner.theme2 .item .item-info .item-title {
    text-align: left;
    color: #000;
    text-transform: uppercase;
    font-size: 100px;
    word-wrap: break-word;
    position: relative;
    font-weight: bold;
    line-height: 100%;
	max-width: 500px;
}

.sm-imageslider-inner.theme2 .item .item-info .item-title a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
	position: relative;
	z-index: 4;
	left: -5px;	
}


.sm-imageslider-inner.theme2 .item .item-info .item-title a:hover {
	text-decoration: none;
	cursor: pointer;
	color: @color_theme;
}
.sm-imageslider-inner.theme2 .item .item-info .action a {
    
    color: #fff;
    background: @color_theme;
    line-height: 50px;
    width: 200px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
	&:hover {
		background: @color_theme_active;
	}
}


.sm-imageslider{
	position: relative;
	overflow: hidden;
}

.sm-imageslider-inner.theme2 {
	overflow: visible;
}

.sm-imageslider-inner.theme2 .owl-nav .owl-prev {
	left: -115px;
}

.sm-imageslider-inner.theme2 .owl-nav .owl-next {
	right: -115px;
}

.sm-imageslider.theme2 {
	/*padding-left: 115px;
	padding-right: 115px;*/
	overflow: hidden;
}

@media (min-width: 1200px) {
	.sm-imageslider {
		min-height: 500px;
	}
}
@media (max-width: 1199px) {
	.sm-imageslider {
		min-height: 300px;
	}
}
@media (max-width: 767px) {
	.sm-imageslider.theme2 {
		min-height: 0;
	}
	.sm-imageslider-loading { 
		position: relative;
		min-height: 200px;
	}
}

@media all and (max-width: 479px) {
	.sm-imageslider {
		padding-left: 0;
		padding-right: 0;
	}

	.sm-imageslider-inner.theme2 .owl-nav .owl-prev {
		left: -50px;
	}

	.sm-imageslider-inner.theme2 .owl-nav .owl-next{
		right: -50px;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.sm-imageslider {
		padding-left: 0;
		padding-right: 0;
	}

	.sm-imageslider-inner.theme2 .owl-nav .owl-prev {
		left: -80px;
	}

	.sm-imageslider-inner.theme2 .owl-nav .owl-next {
		right: -80px;
	}
}

.sm-imageslider .item-image img{
	width: 100%;
	max-width: 100%;
}

.sm-imageslider-loading {
	width: 100%;
	max-width: 100%;
	padding: 0;
	position: absolute;
	background: url(../images/477.gif) center center no-repeat transparent;
	height: 100%;
}

.imgsl-preload{
	min-height: 200px;
	overflow: hidden;
	height: 200px;
}

.sm-imageslider.theme2.boxed {
	padding: 0;
}

.sm-imageslider.theme2.boxed .owl-nav .owl-prev {
	left: 0;
}

.sm-imageslider.theme2.boxed .owl-nav .owl-next {
	right: 0;
}