<div class="header-container header-style-1<?php echo($_config->getAdvanced('show_toogle_header_top')) ? ' show-toogle':''; ?>">
    <div class="header">
		<div class="header-inner">
			<?php if($_config->getAdvanced('show_toogle_header_top')) { ?>
			<div class="header-toogle-top">
				<div class="container">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-policy-top')->toHtml(); ?>
				</div>			
				<div class="action">
					<a class="header-toogle-close" href="#"><i class="fa"></i></a>
				</div>
			</div>	
			<?php } ?>
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-9 header-topleft">
							<div class="topleft-content">
								<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('hotline')->toHtml(); ?>
							</div>
						</div>		

						<div class="col-lg-4 col-md-4 col-sm-3 header-topright">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('top-social')->toHtml(); ?>						
						</div>
					</div>
				</div>
			</div>
			
			<div class="header-middle">
				<div class="container">
					<div class="content-header-bottom">
						<?php echo $block->getChildHtml('logo-header'); ?>		
						
						<div class="yt-menu">
							<div class="menu-under">
								<div class="container1">
									<div class="content-header-bottom">
										<div class="navigation-container <?php ($_config->getGeneral('menu_style') == 'megamenu') ? "":" css-menu-wrap"; ?>">
											<?php
												if($_config->getGeneral('menu_style') == 'megamenu'){
													echo $block->getChildHtml('navigation-header-megamenu');
												} else {
													echo $block->getChildHtml('navigation-header');
												}
											?>
											
											
											<div class="navigation-mobile-container">
												<?php echo $block->getChildHtml('navigation.mobile'); ?>
											</div>
										</div>
									</div>
									<div class="search-header-bottom">
										<div class="search-header-content">
											<div class="search-form-action">
												<?php echo $block->getChildHtml('search-header'); ?>
											</div>
										</div>
									</div>									
								</div>
								
								<div class="top-action">
									<div class="minicart-header">
										<?php echo $block->getChildHtml('cart-header'); ?>
									</div>		
									<div class="wish-header">
										<?php echo $block->getChildHtml('toplinks-header'); ?>
									</div>	
									<div class="account-header">
										<div class="account-content">
											<ul class="dropdown-list">
												<li class="mn-my-account"><a class="myaccount-link" href="<?php echo $block->getUrl('customer/account'); ?>" title="<?php echo __('My Account');?>"><?php echo __('My Account');?></a></li>
												<li class="mn-my-wishlist"><a class="my-wishlist" href="<?php echo $block->getUrl('wishlist')?>" title="<?php echo __('My Wishlist');?>"><?php echo __('My Wishlist');?></a></li>
												<li class="mn-top-link-checkout"><a class="top-link-checkout" href="<?php echo $block->getUrl('checkout')?>" title="<?php echo __('Checkout');?>"><?php echo __('Checkout');?></a></li>
												<?php 
													$login_customer =  $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
												?>
												
												<?php if($login_customer->customerLoggedIn()){?>
												   <li class="mn-logout"><a href="<?php echo $block->getUrl('customer/account/logout')?>" title="<?php echo __('Logout');?>"><?php echo __('Logout');?></a></li>
												<?php }else { ?>
												<li class="mn-login"><a class="popup-login" href="<?php echo $block->getUrl('customer/account/login')?>" title="<?php echo __('Login')?>"><?php echo __('Login')?></a></li>										
												<?php }
												?>

											</ul>
											<?php echo $block->getChildHtml('currency-header'); ?>	
											<?php echo $block->getChildHtml('language-header'); ?>	
										</div>
									</div>								
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>		
			
		</div>
	</div>
</div>