.sm-products-detail-sliders .pds-items-detail .pds-item-detail,
.sm-products-detail-sliders .pds-items .pds-item
{
	display: none;
}

.sm-products-detail-sliders .pds-items-detail .pds-item-detail.active,
.sm-products-detail-sliders .pds-items .pds-item.active,
.sm-products-detail-sliders .pds-items .pds-item.slick-slide,
.sm-products-detail-sliders .pds-items-detail .pds-item-detail.slick-slide
{
	display: block;
}

.sm-products-detail-sliders .pds-items-detail
{
	float: left;
	width: 100%;
	clear: both;
	margin: 15px 0;
	overflow: hidden;
}

.sm-products-detail-sliders .pds-items
{
	clear: both;
	/*margin: 15px 0;*/
	padding: 15px 0;
	width: 100%;
	float: left;
}

.sm-products-detail-sliders .pds-items-detail .pds-item-detail
{
	float: left;
}

.sm-products-detail-sliders .pds-items .pds-item
{
	text-align: center;
	margin: 0 12px;
}

.sm-products-detail-sliders .pds-items-detail .product-item .product-item-actions
{
	display: inline-block;
	margin: 10px 0;
}

.sm-products-detail-sliders .product-detail-adv
{
	width: 33.3333%;
	float: left;
}

.sm-products-detail-sliders .pds-image
{
	width: 33.3333%;
	float: left;
}

.sm-products-detail-sliders .product-detail
{
	width: 33.3333%;
	float: left;
	text-align: center;
}

.sm-products-detail-sliders .product-detail-adv .pds-products-infor
{
	min-height: 1px;
	padding: 15px;
}

.sm-products-detail-sliders .product-detail-adv .pds-products-infor .pds-adv-label strong
{

}

.sm-products-detail-sliders .product-detail-adv .pds-products-infor .pds-adv-label
{
	padding: 10px 0;
}

.sm-products-detail-sliders .pds-items img.products-image-thumb
{
	border: 1px solid #cccccc;
	margin: auto;
}

.sm-products-detail-sliders .pds-items-detail .pds-image img.products-image-main
{
	border: 1px solid #cccccc;
}

.sm-products-detail-sliders .pds-items-detail .pds-title
{
	font-weight: bolder;
	font-size: 25px;
}

.sm-products-detail-sliders .pds-items-detail .pds-price .price
{
	font-weight: bolder;
	font-size: 25px;
}

.sm-products-detail-sliders .product-item-actions button.action.primary.tocart
{
	background: #FF0000;
	border: 1px solid #ff0000;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 7px 15px;
	vertical-align: middle;
}

.sm-products-detail-sliders .pds-detail a.btn-show-detail
{
	background: #000000;
	border: 1px solid #000000;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 5px 15px;
	vertical-align: middle;
	box-shadow: none;
	text-decoration: none;
	border-radius: 0
}

.sm-products-detail-sliders .pds-items .slick-current.slick-active img.products-image-thumb,
.sm-products-detail-sliders .pds-items .slick-slide img.products-image-thumb:hover
{
	border: 1px solid #ed1c24;
}

@media all and (max-width: 767px) {
	.sm-products-detail-sliders .product-detail-adv
	{
		width: 100%;
		float: left;
	}

	.sm-products-detail-sliders .pds-image
	{
		width: 100%;
		float: left;
	}

	.sm-products-detail-sliders .product-detail
	{
		width: 100%;
		float: left;
		text-align: center;
	}
}

/* Slider */
.sm-products-detail-sliders .slick-loading .slick-list
{
	background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.sm-products-detail-sliders .slick-prev,
.sm-products-detail-sliders .slick-next
{
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	z-index: 99;
	box-shadow: none;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none !important;
	outline: none;
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.sm-products-detail-sliders .slick-prev:hover,
.sm-products-detail-sliders .slick-prev:focus,
.sm-products-detail-sliders .slick-next:hover,
.sm-products-detail-sliders .slick-next:focus
{
	color: transparent;
	outline: none;
	background: #000000;
}
.sm-products-detail-sliders .slick-prev:hover:before,
.sm-products-detail-sliders .slick-prev:focus:before,
.sm-products-detail-sliders .slick-next:hover:before,
.sm-products-detail-sliders .slick-next:focus:before
{
	opacity: 1;
}
.sm-products-detail-sliders .slick-prev.slick-disabled:before,
.sm-products-detail-sliders .slick-next.slick-disabled:before
{
	opacity: .25;
}

.sm-products-detail-sliders .slick-prev:before,
.sm-products-detail-sliders .slick-next:before
{
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;

	opacity: .75;
	color: white;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sm-products-detail-sliders .slick-prev
{
	left: 0;
}
[dir='rtl'] .sm-products-detail-sliders .slick-prev
{
	right: 0;
	left: auto;
}
.sm-products-detail-sliders .slick-prev:before
{
	content: '<';
}
[dir='rtl'] .sm-products-detail-sliders .slick-prev:before
{
	content: '<';
}

.sm-products-detail-sliders .slick-next
{
	right: 0;
}
[dir='rtl'] .sm-products-detail-sliders .slick-next
{
	right: auto;
	left: 0;
}
.sm-products-detail-sliders .slick-next:before
{
	content: '>';
}
[dir='rtl'] .sm-products-detail-sliders .slick-next:before
{
	content: '>';
}

/* Dots */
.sm-products-detail-sliders .slick-dotted.slick-slider
{
	margin-bottom: 30px;
}

.sm-products-detail-sliders .slick-dots
{
	position: absolute;
	bottom: -25px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 0;

	list-style: none;

	text-align: center;
}
.sm-products-detail-sliders .slick-dots li
{
	position: relative;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
}
.sm-products-detail-sliders .slick-dots li button
{
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	box-shadow: none !important;
	outline: none;
	background: transparent;
}
.sm-products-detail-sliders .slick-dots li button:hover,
.sm-products-detail-sliders .slick-dots li button:focus
{
	outline: none;
}
.sm-products-detail-sliders .slick-dots li button:hover:before,
.sm-products-detail-sliders .slick-dots li button:focus:before
{
	opacity: 1;
}
.sm-products-detail-sliders .slick-dots li button:before
{
	font-family: 'slick';
	font-size: 30px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sm-products-detail-sliders .slick-dots li.slick-active button:before
{
	opacity: .75;
	color: black;
}


.sm-products-detail-sliders .pds-items-detail .table > tbody > tr > th,
.sm-products-detail-sliders .pds-items-detail .table > tbody > tr > td
{
	border-top: none;
}