.sm-products-detail-sliders .pds-items-detail .pds-item-detail,
.sm-products-detail-sliders .pds-items .pds-item
{
	display: none;
}

.sm-products-detail-sliders .pds-items-detail .pds-item-detail.active,
.sm-products-detail-sliders .pds-items .pds-item.active,
.sm-products-detail-sliders .pds-items .pds-item.slick-slide,
.sm-products-detail-sliders .pds-items-detail .pds-item-detail.slick-slide
{
	display: block;
}

.sm-products-detail-sliders .pds-items-detail
{
	float: left;
	width: 100%;
	clear: both;
	margin: 15px 0;
	overflow: hidden;
}

.sm-products-detail-sliders .pds-items
{
	clear: both;
	padding: 44px 0 40px;
}

.sm-products-detail-sliders .pds-items-detail .pds-item-detail
{
	float: left;
}

.sm-products-detail-sliders .pds-items .pds-item
{
    text-align: center;
    font-size: 114.29%;
    a {
      color: #000;
      margin-top: 20px;
      display: inline-block;
	  &:hover {
		color: @color_theme;
	  }
    }
}

.sm-products-detail-sliders .pds-items-detail .product-item .product-item-actions
{
	display: inline-block;
	margin: 5px 0;
}

.sm-products-detail-sliders .product-detail-adv
{
	width: 33.3333%;
	float: left;

}

.sm-products-detail-sliders .pds-image
{
	width: 33.3333%;
	float: left;
    text-align: center;
  a {
    display: inline-block;
  }
}

.sm-products-detail-sliders .product-detail
{
	width: 33.3333%;
	float: left;
	text-align: center;
    padding-left: 15px;
}

.sm-products-detail-sliders .product-detail-adv .pds-products-infor
{
	min-height: 1px;
	padding: 15px 15px 15px 10px;
}

.sm-products-detail-sliders .product-detail-adv .pds-products-infor .pds-adv-label strong
{

}

.sm-products-detail-sliders .product-detail-adv .pds-products-infor .pds-adv-label
{
	padding: 10px 0;
}

.sm-products-detail-sliders .pds-items img.products-image-thumb
{
	border: 1px solid @border-color;
	margin: auto;
	cursor: pointer;
}

.sm-products-detail-sliders .pds-items-detail .pds-image img.products-image-main
{
	border: 1px solid @border-color;
}

.sm-products-detail-sliders .pds-items-detail .pds-title
{
  font-size: 214.29%;
  
}

.sm-products-detail-sliders .pds-items-detail .pds-price .price
{
    font-size: 214.29%;
    color: #000;
}
.sm-products-detail-sliders .pds-items-detail .pds-price .old-price .price {
  color: #898989;
  font-size: 114.29%;
  font-weight: normal;
}

.sm-products-detail-sliders .product-item-actions button.action.primary.tocart
{
    background: @color_theme;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 85.71%;
    font-weight: 600;
    padding: 7px 15px;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0;
    margin: 0;
    width: 222px;
    display: inline-block;
    height: 50px;
    margin-bottom: 10px;
  &:hover {
    background: @color_theme_active;
  }
}

.sm-products-detail-sliders a.action.btn-show-detail
{
    background: #1c1c1c;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 85.71%;
    font-weight: 600;
    padding: 7px 15px;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0;
    margin: 0;
    width: 222px;
    display: inline-block;
    height: 50px;
    margin-top: 5px;
  &:hover {
    background: @color_theme;
  }
}

.sm-products-detail-sliders .pds-detail button.show-new-arr
{
	background: #000000;
	border: 1px solid #000000;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 7px 15px;
	vertical-align: middle;
	box-shadow: none;
	border-radius: 0
}

.sm-products-detail-sliders .pds-items .slick-current.slick-active img.products-image-thumb,
.sm-products-detail-sliders .pds-items .slick-slide img.products-image-thumb:hover
{
	border: 1px solid @color_theme;
}

@media all and (max-width: 767px) {
	.sm-products-detail-sliders .product-detail-adv
	{
		width: 100%;
		float: left;
	}

	.sm-products-detail-sliders .pds-image
	{
		width: 100%;
		float: left;
	}

	.sm-products-detail-sliders .product-detail
	{
		width: 100%;
		float: left;
		text-align: center;
	}
}

/* Slider */
.sm-products-detail-sliders .slick-loading .slick-list
{
	background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.sm-products-detail-sliders .slick-prev,
.sm-products-detail-sliders .slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 45%;
    display: block;
    width: 45px;
    height: 45px;
    padding: 0;
    z-index: 99;
    box-shadow: none;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none !important;
    outline: none;
    background: #d3d4d4;
  &:before {
    display: inline-block;
    text-indent: 0;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 24px;
    line-height: 45px;
    font-weight: normal;
    text-align: center;
    font-family: fontawesome;
  }
}
.sm-products-detail-sliders .slick-prev:hover,
.sm-products-detail-sliders .slick-prev:focus,
.sm-products-detail-sliders .slick-next:hover,
.sm-products-detail-sliders .slick-next:focus
{
	color: transparent;
	outline: none;
	background: @color_theme;
}
.sm-products-detail-sliders .slick-prev:hover:before,
.sm-products-detail-sliders .slick-prev:focus:before,
.sm-products-detail-sliders .slick-next:hover:before,
.sm-products-detail-sliders .slick-next:focus:before
{
	opacity: 1;
}
.sm-products-detail-sliders .slick-prev.slick-disabled:before,
.sm-products-detail-sliders .slick-next.slick-disabled:before
{
}

.sm-products-detail-sliders .slick-prev
{
	left: -50px;
}
[dir='rtl'] .sm-products-detail-sliders .slick-prev
{
	right: -50px;
	left: auto;
}
.sm-products-detail-sliders .slick-prev:before
{
	content: "\f104";
}
[dir='rtl'] .sm-products-detail-sliders .slick-prev:before
{
	content: "\f105";
}

.sm-products-detail-sliders .slick-next
{
	right: -53px;
}
[dir='rtl'] .sm-products-detail-sliders .slick-next
{
	right: auto;
	left: -50px;
}
.sm-products-detail-sliders .slick-next:before
{
	content: "\f105";
}
[dir='rtl'] .sm-products-detail-sliders .slick-next:before
{
	content: "\f104";
}

/* Dots */
.sm-products-detail-sliders .slick-dotted.slick-slider
{
	margin-bottom: 30px;
}

.sm-products-detail-sliders .slick-dots
{
	position: absolute;
	bottom: -25px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 0;

	list-style: none;

	text-align: center;
}
.sm-products-detail-sliders .slick-dots li
{
	position: relative;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
}
.sm-products-detail-sliders .slick-dots li button
{
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	box-shadow: none !important;
	outline: none;
	background: transparent;
}
.sm-products-detail-sliders .slick-dots li button:hover,
.sm-products-detail-sliders .slick-dots li button:focus
{
	outline: none;
}
.sm-products-detail-sliders .slick-dots li button:hover:before,
.sm-products-detail-sliders .slick-dots li button:focus:before
{
	opacity: 1;
}
.sm-products-detail-sliders .slick-dots li button:before
{
	font-family: 'slick';
	font-size: 30px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sm-products-detail-sliders .slick-dots li.slick-active button:before
{
	opacity: .75;
	color: black;
}

.sm-product-detail-slider-wrap {
  padding-top: 2px;
  margin: 0 -13px;
  .pds-pretext {
    text-align: center;
    font-size: 114.29%;
    padding: 6px 27% 20px;
  }
  .additional-attributes-wrapper {
    
    color: #1c1c1c;
    margin-top: 112px;
    th.col.label {
      font-weight: bold !important;
      color: #000;
      text-transform: uppercase;
      width: 85px;
	  position: relative;
      display: inline-block;
      text-align: left;
      &:after {
        content: ":";
        float: right;
		top: 0;
		position: absolute;
		right: 0;
      }
    }
    td.col.data {
      padding: 0 15px 20px;
    }
  }
  .product-detail {
    margin-top: 65px;
    .pds-title {
      font-size: 214.29%
      color: #000;
    }
    p.short-att {
      display: none;
      
      padding: 4px 0 20px;
      &.color {
        display: block;

      }
    }
  }
  .pds-description {
    margin: 30px 0;
    display: inline-block;
  }
}

@media (max-width: 1199px) {
  .sm-products-detail-sliders .slick-prev {
    left: -15px;
  }
  .sm-products-detail-sliders .slick-next {
    right: -15px;
  }
  .sm-product-detail-slider-wrap .product-detail {
    margin-top: 20px;
    .pds-title {
      line-height: 120%;
    }
  }
}

@media (max-width: 991px) {

  .sm-product-detail-slider-wrap {
    .pds-pretext {
      padding: 0 1%;
      
    }
    .pds-items-detail {
      margin-bottom: 0;
    }

    .additional-attributes-wrapper {
      margin-top: 20px;
    }

    .product-detail {
      margin-top: 12px;
      .pds-title {
        font-size: 139.29%;
      }

      p.short-att {
        padding: 4px 0;
      }

      .pds-description {
        margin: 15px 0;
      }
    }

    .pds-items {
      padding-top: 0;
    }
  }

}
@media (max-width: 767px) {

  .sm-product-detail-slider-wrap {

    .pds-items {
      padding-top: 40px;
      margin: 0 10px;
    }
    .sm-products-detail-sliders .product-detail-adv .pds-products-infor {
      padding: 15px;
    }
    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr td:before, .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr th:before {
      display: none;
    }
    .abs-no-display-s, .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison).additional-attributes tbody th, .opc-wrapper .shipping-address-item.selected-item .action-select-shipping-item {
      display: inline-block;
    }
    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison).additional-attributes tbody td:last-child {
      display: inline-block;
      margin-bottom: 10px;
      max-width: 220px;
    }
  }

}
@media (max-width: 479px) {
  .sm-product-detail-slider-wrap {

    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison).additional-attributes tbody td:last-child {
      max-width: 160px;
    }
  }
}