<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<?php
	$_config = $this->helper('Sm\Paco\Helper\Data');
?>

<div class="row">
	<div class="col-lg-5 col-md-5 image-box-detail">
		<?php echo $block->getChildHtml('product.info.media'); ?>
	</div>
	
	<div class="col-lg-7 col-md-7 info-box-detail">
		<?php echo $block->getChildHtml('product.info.main'); ?>
		<div class="social-detail">
			<div class="share-title"><?php echo __('Share')?></div>
			<?php echo $block->getLayout()->createBlock('Magento\Framework\View\Element\Template')->setTemplate('Magento_Theme::html/social.phtml')->toHtml(); ?>
		</div>
	</div>
	
	<div class="col-lg-12 col-md-12 detail-bottom-wrapper">
		<?php echo $block->getChildHtml('detail.bottom'); ?>
	</div>
	
	<?php
		$related = $block->getChildHtml('related.product');
		$upsell = $block->getChildHtml('upsell.product');
		//var_dump($upsell);
	?>
	
						
	<?php if($_config->getProductDetail('show_related') || $_config->getProductDetail('show_upsell')){?>				
	<div class="col-lg-12 col-md-12 box-related-upsell">
		<?php if($_config->getProductDetail('show_related')){?>
            <?php echo $block->getChildHtml('related.product'); ?>
		<?php }?>
		<?php if($_config->getProductDetail('show_upsell')){?>
            <?php echo $block->getChildHtml('upsell.product'); ?>
		<?php }?>
		
	</div>
	<?php } ?>
	
	
</div>