<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<?php
	$_config = $this->helper('Sm\Paco\Helper\Data');
?>

<div class="row view-quickview">
	<div class="col-lg-5 col-md-5 col-sm-4 image-box-detail">
		<?php echo $block->getChildHtml('product.info.media'); ?>
	</div>
	
	<div class="col-lg-7 col-md-7 col-sm-8 info-box-detail">
		<div class="info-detail-container">
			<?php echo $block->getChildHtml('product.info.main'); ?>
			
			<div class="social-detail">
				<div class="share-title"><?php echo __('Share')?></div>
				<?php echo $block->getLayout()->createBlock('Magento\Framework\View\Element\Template')->setTemplate('Magento_Theme::html/social.phtml')->toHtml(); ?>
			</div>
		</div>
	</div>
</div>